<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
    <h4 style="text-transform:uppercase">#{idCliente} {nomeCliente}</h4>
    <p>&nbsp;</p>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    <!-- BEGIN b_tutoriais_da_categoria -->
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase">COMISSÕES</h4>
    <p>&nbsp;</p>
    <!-- BEGIN b_mostrar_registros -->
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
  <!-- END b_tutoriais_da_categoria -->
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->