<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<style type="text/css">
<!--
.vSistema {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #090;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vSistema div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vSistema p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #0C0;
}


.vAtual {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #F00;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vAtual div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vAtual p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color:#900;
}
-->
</style>
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px;">
<!--TEMA NOVO-->      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="vSistema"><div>Versão atual</div><p>{vAtual}</p></div></td>
          <td><div class="vAtual"><div>Última Versão</div><p>{vUltima}</p></div></td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <!-- BEGIN b_atualizado -->
      <h4 style="text-transform:uppercase">SISTEMA ATUALIZADO</h4>
      <p>Fique tranquilo, seu sistema ja está utilizando a versão mais recente do HOSTMGR</p>
      <p>&nbsp;</p>
      <!-- END b_atualizado -->
      <!-- BEGIN b_naoatualizado -->
      <h4 style="text-transform:uppercase">ATUALIZAÇÃO DISPONÍVEL</h4>
      <p>Seu sistema não está atualizado. É altamente recomendado que você atualize imediatamente.</p>
      <p>&nbsp;</p>
      <p>Acesse <a href="http://www.hostmgr.com.br" target="_blank"><strong>http://www.hostmgr.com.br</strong></a> e faça o download da versão mais recente, ou clique no botão abaixo para atualizar automaticamente.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="row-fluid">
        <div class="span6"><p><strong>CHANGE LOG</strong></p>
            <p>&nbsp;</p>
          {changelog}</div>
        <div class="span6">
          <div style="padding-left:10px"><iframe src="estrutura/update/update.php?v={vUltima}" width="100%" height="250" frameborder="0" style="border:solid 1px #D6D6D6"></iframe></div></div>
        </div>
	<!-- END b_naoatualizado -->
    <h4>NOTÍCIAS SOBRE ATUALIZAÇÕES</h4>
    <iframe src="http://updates.hostmgr.com.br" width="100%" height="250" frameborder="0" style="border:solid 1px #D6D6D6"></iframe>
    <p>&nbsp;</p>
    <!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->