<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->

<style type="text/css">
#phpv pre {margin: 0px; font-family: monospace;}
#phpv a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
#phpv a:hover {text-decoration: underline;}
#phpv table {border-collapse: collapse;}
#phpv .center {text-align: center;}
#phpv .center table { margin-left: auto; margin-right: auto; text-align: left;}
#phpv .center th { text-align: center !important; }
#phpv td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
#phpv h1 {font-size: 150%;}
#phpv h2 {font-size: 125%;}
#phpv .p {text-align: left;}
#phpv .e {background-color: #ccccff; font-weight: bold; color: #000000;}
#phpv .h {background-color: #9999cc; font-weight: bold; color: #000000;}
#phpv .v {background-color: #cccccc; color: #000000;}
#phpv .vr {background-color: #cccccc; text-align: right; color: #000000;}
#phpv img {float: right; border: 0px;}
#phpv hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}
</style>

<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px">
<!--TEMA NOVO-->
      <div style="width:80%; margin:0 auto" id="phpv">{phpversao}</div>
  </div>
</div>
<!--fim TEMA NOVO-->