<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px">
<!--TEMA NOVO-->
      <p>Licenciado para: <strong>Fernando Augusto Ramos</strong></p>
      <p>&nbsp;</p>
      <table border="0" cellspacing="1" cellpadding="0" style="border:solid 1px #fbfbfb">
        <tr>
          <td width="160" height="28" bgcolor="#fbfbfb">&nbsp;Licença:</td>
          <td>&nbsp;{licenca}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Domínio:</td>
          <td>&nbsp;{dominio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Data de Registro:</td>
          <td>&nbsp;{dataRegistro}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Expira em:</td>
          <td>&nbsp;{dataValidade}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Diretório de instalação:</td>
          <td>&nbsp;{diretorio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;IP atribuido:</td>
          <td>&nbsp;{ip}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Status:</td>
          <td>&nbsp;{status}</td>
        </tr>
      </table>
      <p>&nbsp;</p>
<p>Mais informações em <a style="text-decoration:underline" href="http://www.hostmgr.com.br" target="_blank">http://www.hostmgr.com.br</a></p>
<p>&nbsp;</p>
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->