<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
      <li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Categorias</a>{text_guia}</a></li>
      <li style="float:right"{class_ativo}><a href="{modulo_nome}.php?acao=formtutorial&categoria={IDCATEGORIA}">Novo Tutorial</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto" style="padding-top:20px">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
      {CAMPOS_FORMULARIO}
    <!-- BEGIN b_tutoriais_da_categoria -->
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase">TUTORIAIS CADASTRADOS</h4>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
    <p>&nbsp;</p>
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
  <!-- END b_tutoriais_da_categoria -->
  <!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->