<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
<h4 style="text-transform:uppercase">#{ID} {nome}</h4>
    
    <div class="row-fluid">
      <!--COLUNA1-->
      <div class="span4">
         <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>Informa&ccedil;&otilde;es do cliente</div>
            <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="27%" height="24"><strong>Nome:</strong></td>
              <td width="73%">{nome}</td>
            </tr>
            <tr>
              <td height="24"><strong>Empresa:</strong></td>
              <td>{empresa}</td>
            </tr>
            <!-- BEGIN b_cpf -->
            <tr>
              <td height="24"><strong>CPF/CNPJ:</strong></td>
              <td>{cpf_cnpj}</td>
            </tr>
            <!-- END b_cpf -->
            <tr>
              <td height="24"><strong>Email:</strong></td>
              <td>{email}</td>
            </tr>
            <tr>
              <td height="24"><strong>Telefone:</strong></td>
              <td>{telefone}</td>
            </tr>
            <tr>
              <td height="24"><strong>Endere&ccedil;o:</strong></td>
              <td>{endereco}</td>
            </tr>
            <tr>
              <td height="24"><strong>Bairro:</strong></td>
              <td>{bairro}</td>
            </tr>
            <tr>
              <td height="24"><strong>Cidade:</strong></td>
              <td>{cidade}</td>
            </tr>
            <tr>
              <td height="24"><strong>Estado:</strong></td>
              <td>{estado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Cep:</strong></td>
              <td>{cep}</td>
            </tr>
            <tr>
              <td height="24"><strong>Status:</strong></td>
              <td>{status}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="../login.php?ID={ID}" target="_blank">Fazer login como cliente</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="clientes.php?acao=form&amp;ID={ID}">Alterar Informações</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/clientes/gerarSenha.php?ID={ID}">Gerar Senha &amp; Enviar</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="pedidos.php?acao=novo&cliente={ID}">Adicionar Pedido</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/clientes/excluir.php?ID={ID}" class="lnkExcluir" style="color:#FF0000"><strong>Apagar Conta do Cliente</strong></a></td>
              </tr>
          </table>
          </div>
          </div>

          <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>ATIVIDADE RECENTE</div>
            <div class="content">
            <!-- BEGIN b_tabAtividade -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabList table table-striped table-hover table-condensed" style="margin-bottom:0">
	  		  <thead>
                <tr>
                  <th class="superior">Data acesso</th>
                  <th class="superior">IP</th>
                </tr>
              </thead>
              <tbody>
                <!-- BEGIN b_linnhaAtividade -->
                <tr class="{classLinha}" style="height:10px !important;">
                  <td style="height:20px !important;">{data}</td>
                  <td style="height:20px !important;">{ip}</td>
                </tr>
                <!-- END b_linnhaAtividade -->
			  </tbody>
    		</table>
            <!-- END b_tabAtividade -->
            <!-- BEGIN b_nenhumaAtividade -->
            <p style="text-align:center; height:70px; line-height:70px;">Nenhum Registro Encontrado</p>
            <!-- END b_nenhumaAtividade -->
          </div>
          </div>
      </div>
      <!--COLUNA2-->
      <div class="span4">
        <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>FATURAMENTO</div>
            <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="125" height="24"><strong>Produtos Ativos:</strong></td>
              <td>{produtosAtivos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Domínio Ativos:</strong></td>
              <td> {dominiosAtivos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Pago:</strong></td>
              <td>({faturasPagas}) {valorPago}</td>
            </tr>
            <tr>
              <td height="24"><strong>Não Pago/Débito:</strong></td>
              <td>({faturasAbertas}) {valorAberto}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="clientes.php?acao=faturas&amp;ID={ID}">Gerenciar Faturas</a></td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/faturas/novo.php?ID={ID}">Nova Fatura</a></td>
            </tr>
          </table>
          </div>
          </div>
          <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>ENVIAR EMAIL</div>
            <div class="content">
          <form id="form1" name="form1" method="post" action="emails.php?acao=enviar&amp;cliente={ID}" style="margin-bottom:0" class="text-center">
              <select name="template" id="template" class="selectForm">
                <option selected="selected">Nova Mensagem</option>
                <option value="1">Boas Vindas</option>
                {listaEmails}
              </select><br />
              <input class="submit btn btn-primary" type="submit" name="button" id="button" value="ENVIAR" />
          </form>
          </div>
          </div>
          
          <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>ÚLTIMOS EMAILS ENVIADOS</div>
            <div class="content">
            <!-- BEGIN b_tabEmails -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class=" tabList table table-striped table-hover table-condensed" style="margin-bottom:0">
	  		  <thead>
                <tr>
                  <th class="superior">Data</th>
                  <th class="superior">Assunto</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN b_linnhaEmail -->
                <tr class="{classLinha}" style="height:10px !important;">
                  <td style="height:20px !important;">{data}</td>
                  <td style="height:20px !important;"><a href="emails.php?acao=ver&amp;ID={idEmail}" target="_blank">{assunto}</a></td>
                </tr>
                <!-- END b_linnhaEmail -->

			  </tbody>
    		</table>
            <!-- END b_tabEmails -->
            <!-- BEGIN b_nenhumEmail -->
            <p style="text-align:center; height:70px; line-height:70px;">Nenhum Registro Encontrado</p>
            <!-- END b_nenhumEmail -->
          </div>
          </div>
      </div>
      <!--COLUNA3-->
      <div class="span4">
        <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>SUPORTE</div>
            <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="54%" height="24"><strong>Tickets Abertos:</strong></td>
              <td width="46%">{ticketsAbertos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets Respondidos:</strong></td>
              <td>{ticketsRespondidos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets em Processo:</strong></td>
              <td>{ticketsProcesso}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets Fechados:</strong></td>
              <td>{ticketsFechados}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="ticketssuporte.php?remetente={ID}">Gerenciar Tickets</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="ticketssuporte.php?acao=novo&amp;cliente={ID}">Novo Ticket de Suporte</a></td>
            </tr>
            </table>
          </div>
          </div>
          <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>PROGRAMA DE AFILIADOS</div>
            <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="157" height="24"><strong>ID de Afiliado:</strong></td>
              <td width="149">{idAfiliado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tipo de Comissão:</strong></td>
              <td> {comissaoAfiliado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Valor da Comissão:</strong></td>
              <td>{valorComissao}</td>
            </tr>
            <tr>
              <td height="24"><strong>Saldo Disponível:</strong></td>
              <td>{saldoAfiliados}</td>
            </tr>
            <tr>
              <td height="24"><strong>Total Pago:</strong></td>
              <td> {pagamentosAfiliados}</td>
            </tr>
            
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="{linkAfiliado}">Gerenciar Afiliado</a></td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/afiliados/ativar.php?ID={ID}">Ativar como Afiliado</a></td>
            </tr>
          </table>
          </div>
          </div>
          <div class="item-drag">
          <div class="tit-drag"><span class="icon-drag">&nbsp;</span>PROGRAMA DE AFILIADOS</div>
            <div class="content">
          <form id="form1" name="form1" method="post" action="" class="text-center" style="margin-bottom:0px;">
              <textarea name="{ID}" class="texareaForm" id="obs" cols="45" style="width:95%" rows="5">{observacoes}</textarea>
              <input class="saveObs submit btn btn-primary" type="submit" name="button" id="button" value="SALVAR" />
          </form>
          </div>
          </div>
      </div>
    </div>
    <!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->