<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {
	
	//busca
	$("#txtProduto").change(function(){
		$('#form').submit();
	});
});
</script>
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<!-- BEGIN b_mostrar_registros -->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
    <div class="row-fluid" style="padding-top:25px;">
    <div class="span6">
    <form action="" method="post" name="formListaProdutos" id="formListaProdutos" class="form-inline">
    <label><strong>Produto:&nbsp;</strong></label>
        <div class="input-append"><select name="txtListaProdutos" class="selectForm" id="txtListaProdutos">
		    {select_produtos}
		  </select><input type="submit" name="button" id="button" value="Ok" class="submit btn" />
        </div>
    </form>
    </div>
    <div class="span6 text-right"><div class="hidden-phone"><a href="estrutura/contas/mover.php?PID={PID}" target="_blank" class="mover-conta btn">Mover Produto/Serviço para outro cliente</a></div>
    <div class="visible-phone" style="padding-bottom:15px"><a href="estrutura/contas/mover.php?PID={PID}" target="_blank" class="mover-conta btn btn-block">Mover Produto/Serviço para outro cliente</a></div>
    </div>
    </div>
    <fieldset>
    <legend><h4 style="text-transform:uppercase">{nome_produto}</h4></legend>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    {INFORMACOES_PRODUTO_MODULO}
    <div class="form-horizontal">
    <p class="hidden-phone form-actions"><a href="estrutura/contas/boasvindas.php?ID={PID}" class="btn">Reenviar email de boas vindas</a> <a href="estrutura/contas/excluir.php?ID={PID}" class="lnkExcluir btn btn-danger">Apagar Conta</a></p>
    <p align="center" class="visible-phone form-actions"><a href="estrutura/contas/boasvindas.php?ID={PID}" class="btn btn-block">Reenviar email de boas vindas</a> <a href="estrutura/contas/excluir.php?ID={PID}" class="lnkExcluir btn btn-danger btn-block">Apagar Conta</a></p>
    </div>
    <!-- END b_mostrar_registros -->
   
  <!-- BEGIN b_semregistro -->
  <div style="height:80px; line-height:40px; text-align:center;">
  	<p>&nbsp;</p>
    <p>Nenhum Produto/Servi&ccedil;o cadastrado para esse cliente</p>
    <p><a href="pedidos.php?acao=novo&amp;cliente={ID}"><strong>Gerar um pedido Agora</strong></a></p>
  </div>
  <!-- END b_semregistro -->
  </fieldset>
  <!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->