<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
      <form action="estrutura/configurarcaptcha/processar.php?acao=configurar" method="post" name="formListaModuloCaptcha" id="formListaModulosPagamento">
    
    <div class="form-horizontal" style="padding-top:30px;">
    <div class="control-group">
    <label class="control-label"><strong>Proteção Captcha:</strong></label>
    <div class="controls"><select name="txtListaModulos" class="selectForm" id="txtListaModulos">
		    {select_modulos}
		  </select> <input type="submit" name="button" id="button" value="Salvar" class="submit btn btn-success" />
    </div>
    </div>
    </div>
    </form>
      <p>&nbsp;</p>
      <div id="tabs">
	    <ul class="nav nav-tabs">
		  <!-- BEGIN b_TABS -->
      		<li id="tab{contar}" class="tab"><a href="javascript:;">{titulomodulocaptcha}</a></li>
          <!-- END b_TABS -->
	    </ul>
	  </div>
      
      
      
      <!-- BEGIN b_CONFIGMODULO -->
      <div id="tab{contar}box" class="tabbox">
      {CAMPOS_FORMULARIO}
      <p>&nbsp;</p>
      </div>
      <!-- END b_CONFIGMODULO -->
      
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->
<script>
$(document).ready(function(){
    
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab0";
	$("#tab0").addClass("tabselected");
	$("#tab0box").css("display","block");
});

</script>