<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:30px">
<!--TEMA NOVO-->
      {CAMPOS_FORMULARIO}
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->
<script>
$(document).ready(function(){
    
	

	
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab0";
	$("#tab0").addClass("tabselected");
	$("#tab0box").css("display","block");
});

</script>