<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
      <li style="float:right"><a href="emails.php?acao=enviar&ID={idEmail}">Reenviar</a></li>
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:30px">
<!--TEMA NOVO-->
    <div>
      <p>Enviado em {data}</p>
      <p><strong>Para:</strong> {para}</p>
      <p><strong>C&oacute;pia:</strong> {copia}</p>
      <p><strong>Assunto: </strong>{assunto} </p>
      <p><strong>Mensagem: </strong></p>
      <div>{mensagem}</div>
      <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p>
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->