<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_link_busca -->
    <li class="pull-right"><a href="javascript:void(0);" id="filtro">Procurar</a></li>
    <!-- END b_link_busca -->
    <li class="pull-right"><a href="{modulo_nome}.php">Listar tudo</a></li>
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
    {mensagem_retorno}
    <!--Fim retorno-->
<div class="row">
  <div class="span12">
    <!--TEMA NOVO-->
    <div id="busca" style="display:{display_busca};">
      <p>&nbsp;</p>
      <h4 class="text-normal">Buscar</h4>
      {FORM_BUSCA}
      <p>&nbsp;</p>
    </div>
    <!-- BEGIN b_mostrar_registros -->
    <p class="text-center" style="padding-top:20px;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
      {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <div class="text-right">{paginacao}</div>
    {TABELA_REGISTROS}
    <div class="text-right">{paginacao}</div>
    <!-- END b_mostrar_registros -->
    <!-- BEGIN b_semregistro -->
    <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
    <!-- END b_semregistro -->
    <!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->