<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
  <p>&nbsp;</p>
<!--TEMA NOVO-->
 {codigoModulo}
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->