<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px;">
<!--TEMA NOVO-->    <div>

      {CAMPOS_FORMULARIO}
    </div>
    
    
    <!-- BEGIN resultadoRetorno -->
    <p class="alert alert-info">Linhas Processadas: <strong>{linhasProcessadas}</strong></p>
    <p class="alert alert-success">Faturas Baixadas: <strong>{faturasBaixadas}</strong></p>
    <!-- BEGIN listaRetornoErro -->
    <div class="alert alert-danger">Faturas n&atilde;o localizadas: <strong>{linhasErro}</strong></div>
    <p>As linhas/boletos abaixo não foram localizadas. Verifique o nosso número e busque pela fatura no sistema.</p>
    {TABELA_REGISTROS}
    <!-- END listaRetornoErro -->
    <!-- END resultadoRetorno -->  
    <!--TEMA NOVO-->
        
  </div>
</div>
<!--fim TEMA NOVO-->