<script type="text/javascript">
		$(function(){
			// configura drag and drop
			$(".recebeDrag").sortable({
				connectWith: ['.recebeDrag'],
				placeholder: 'dragAjuda',
				scroll: true,
				revert: false,
				stop: function( e, ui ) {
					salvaPosicao();
				}
			});
			// minimizar boxes
			$('.lnk-minimizar').click(function(){
				var widget = $(this).parent().parent().parent();
				var ul = widget.find('.content');
				widget = widget.attr('id');
				if( $(ul).is(':visible') ) {
					$(ul).slideUp();
					$(this).find('img').attr('src','templates/{admin_nome_template}/imagens/+.gif');
					var status = 1;
				} else {
					$(ul).slideDown();
					$(this).find('img').attr('src','templates/{admin_nome_template}/imagens/-.gif');
					var status = 0;
				}
				
				$.ajax({
					type: "POST",
					url: "widgets/atualiza.php?ocultar",
					data: { widget:widget,status:status },
					success:function(res){
						if(res!=''){
							alert(res);	
						}
					},
				});
				
				return false;
			});
						
		});	

		var salvaPosicao = function() {
			var ordem = $('#drop-esquerda').sortable('toArray');
			ordem += '|' + $('#drop-direita').sortable('toArray');
			
			
			$.ajax({
				type: "POST",
				url: "widgets/atualiza.php",
				data: { widgets: ordem }
			});
			
		};
		</script>
		<style type="text/css">
<!--
.tit-drag {
	cursor:move;
}
-->
        </style>
		
        
  <div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC"><h4 class="text-normal">PAINEL DE CONTROLE</h4></div>
    <!-- BEGIN b_atualizacao -->
    <div class="span12 margin-auto">
      <div class="row">
      <div class="span12" style="margin-top:20px;">
        <div class="alert alert-block alert-info" style="margin-bottom:0 !important">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Uma atualização está disponível</h4>
          O HOSTMGR está ainda melhor, você deve atualiza-lo o mais breve possível <a href="ajuda.php?acao=atualizacoes"><strong>CLIQUE AQUI</strong></a>
        </div>
      </div>
    </div>
    <!-- END b_atualizacao -->
    <!--Mensagem Retorno-->
    {mensagem_retorno}
    <!--Fim retorno-->
        <div class="span12 margin-auto">
        
        <div class="row">
        
        <div id="drop-esquerda" class="span6 recebeDrag">
          <!-- ITEM DRAG-->
          <!-- BEGIN b_boxEsquerda -->
          <div class="item-drag" id="{widget}">
            <div class="tit-drag"><span class="icon-drag">&nbsp;</span>{titulo_widget} <span class="minimiza"><a href="javascript:void(0);" class="lnk-minimizar"><img src="templates/{admin_nome_template}/imagens/{ac}.gif" /></a></span></div>
            <div class="content"{display}>{conteudoWidget}</div>
          </div>
          <!-- END b_boxEsquerda -->
          <!--fim-->
        </div>
        
        <div id="drop-direita" class="span6 recebeDrag">
          <!-- ITEM DRAG-->
          <!-- BEGIN b_boxDireita -->
          <div class="item-drag" id="{widget}">
            <div class="tit-drag"><span class="icon-drag">&nbsp;</span>{titulo_widget} <span class="minimiza"><a href="javascript:void(0);" class="lnk-minimizar"><img src="templates/{admin_nome_template}/imagens/{ac}.gif" /></a></span></div>
            <div class="content"{display}>{conteudoWidget}</div>
          </div>
          <!-- END b_boxDireita -->
          <!--fim-->
        </div>

        </div>
      </div>