<div class="span12 margin-auto">
  <div class="row">
  <div class="span12" style="margin-top:20px;">
    <div class="alert alert-block{alertError}" style="margin-bottom:0 !important">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>{mensagem_resposta_tipo}</h4>
      {mensagem_resposta}
    </div>
  </div>
</div>