<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px;">
<!--TEMA NOVO-->    <p>para desativar um dos ciclos, configure o preço como -1</p>
    <p>&nbsp;</p>
      <form id="form" name="form" method="post" action="estrutura/precosdominios/processar.php" enctype="multipart/form-data">
      
      
      <table class="tabList table table-striped table-hover" align="center" cellpadding="0" cellspacing="0">
        <thead><tr>
            
          <th class="superior">TLD/Domínio</th>
          <th class="superior">Registrante</th>
          <th class="superior">Preço Anual</th>
          <th class="superior">Preço Bienal</th>
          <th class="superior">Preço Trienal</th>
          <th class="superior">Subdominio</th>
          <th width="90" class="superior"><div style="text-align:center">Ações</div></th>
          </tr>
        </thead>
          <tbody>
            <!-- BEGIN DOMINIOS -->
        <tr> 
          <td><input obgr="sim" name="txtExt[{id_tld}]" type="text" class="campoForm" id="txtExt[{id_tld}]" value="{txtTld}" style="width:120px" /></td>
          <td>
            <select name="txtRegistrante[{id_tld}]" id="txtRegistrante_{id_tld}" class="campoForm form-control">
            {optionsRegistrante}
            </select></td>
          <td><input obgr="sim" name="txtPreco1[{id_tld}]" type="text" class="campoForm" id="txtPreco1[{id_tld}]" value="{txtPreco1}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco2[{id_tld}]" type="text" class="campoForm" id="txtPreco2[{id_tld}]" value="{txtPreco2}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco3[{id_tld}]" type="text" class="campoForm" id="txtPreco3[{id_tld}]" value="{txtPreco3}" style="width:70px" /></td>
          <td><input name="txtSubdominio[{id_tld}]" type="checkbox" id="txtSubdominio[{id_tld}]" value="S"{checkedSub} /></td>
          <td width="90"><div style="text-align:center"><a href="estrutura/precosdominios/excluir.php?ID={id_tld}" class="lnkExcluir">apagar</a></div></td>
          </tr>
          <!-- END DOMINIOS -->
          <tr>
            <td><input obgr="sim" name="txtExt[novo]" type="text" class="campoForm" id="txtProduto5" value="" style="width:120px" /></td>
            <td><select name="txtRegistrante[novo]" id="txtRegistrante_novo" class="campoForm form-control">
            {optionsRegistranteNovo}
            </select></td>
            <td><input obgr="sim" name="txtPreco1[novo]" type="text" class="campoForm" id="txtProduto6" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco2[novo]" type="text" class="campoForm" id="txtProduto7" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco3[novo]" type="text" class="campoForm" id="txtProduto8" value="" style="width:70px" /></td>
            <td><input name="txtSubdominio[novo]" type="checkbox" id="txtSubdominio[novo]" value="S" /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="45" colspan="7" align="center"><div><div class="form-action hidden-phone"><input name="txtId_produto" type="hidden" id="txtId_produto" value="" />
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=precosdominios';" />
            </div>
              <div class="form-action visible-phone">
                <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary btn-block" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-block" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=precosdominios';" />
              </div></div></td>
            </tr>
        </tbody></table>
      
      
    </form>
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->