<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:30px">
<!--TEMA NOVO-->
<div class="row-fluid">
    <div class="span12">
    <form action="" method="post" name="formListaServidores" id="formListaServidores" class="form-inline">
    <label>Servidor Padrão:&nbsp;</label>
        <div class="input-append"><select name="txtListaServidores" class="selectForm" id="txtListaServidores">
		    {select_servidores}
		  </select><input type="submit" name="button" id="button" value="Ok" class="submit btn" />
        </div>
    </form>
    </div>
    </div>
    <fieldset>
    <legend><h4 style="text-transform:uppercase">INTEGRAÇÃO - {modulo_integracao}</h4></legend>
    <div>{CAMPOS_FORMULARIO}</div>
    </fieldset>
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->