<script type="text/javascript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo} &raquo; PEDIDOS</h4>
  <form name="form" id="form" class="span7" style="margin-bottom:0px;">
  	  <div align="right">
  	    <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
  	      <option value="#" selected="selected">Selecione um ano</option>
          <option value="#" disabled="disabled">---</option>
          {OPTION_ANOS}
        </select>
        </div>
  	</form>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
<p>&nbsp;</p>
<div id="busca" style="display:{display_busca};">
<h4 style="text-transform:uppercase">Buscar</h4>
{FORM_BUSCA}
</div>
  <!-- BEGIN b_mostrar_registros -->
    <div class="text-right">{paginacao}</div>
    {TABELA_REGISTROS}
	<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->