<!-- BEGIN b_top_excluir -->
<script type="text/javascript" language="javascript">
  var moduloList='{modulo_nome}';
</script>
<form id="formLista" name="formLista" method="post" action="estrutura/{modulo_nome}/excluir.php">
<!-- END b_top_excluir -->

    <div class="table-responsive">
      <table class="tabList table table-striped table-hover" align="center" cellpadding="0" cellspacing="0">
        <thead><tr>
          
          <!-- BEGIN b_box_padrao_excluir -->
          <th class="superior" width="13" style="padding-left:10px;"><input name="checkPadrao" type="checkbox" id="checkPadrao" value="SIM"></th>
          <!-- END b_box_padrao_excluir -->
          
          <!-- BEGIN b_coluna_cabecalho -->
          <th class="superior"{w}{adcp}>{item_nome}</th>
          <!-- END b_coluna_cabecalho -->
          
          <!-- BEGIN b_acao_status -->
          <th class="superior" align="center">Status</th>
          <!-- END b_acao_status -->
          
          <!-- BEGIN b_cabecalho_acoes -->
          <th class="superior" colspan="{colAcoes}" align="center">Ações</th>
          <!-- END b_cabecalho_acoes -->
            
        </tr>
            </thead>
        <!-- BEGIN b_linha_registros -->
        <tr class="{classLinha}"> 
          <!-- BEGIN b_box_excluir -->
          <td style="padding-left:10px;"><input name="txtId[]" type="checkbox" class="checkboxLista" value="{id_registro}"></td>
          <!-- END b_box_excluir -->
          <!-- BEGIN b_campo -->
          <td {adcp}>{valor_registro}</td>
          <!-- END b_campo -->
          <!-- BEGIN b_campo_status -->
          <td align="center"><div id="status{id_registro}"><a href="estrutura/{modulo_nome}/status.php?{modulo_idref}={id_registro}&status={status_registro}&cat={cat_registro}" class="status" rel="{id_registro}"><img src="imagens/{img_status_registro}" alt="{alt_status}" width="20" height="20" border="0" /></a></div></td>
          <!-- END b_campo_status -->
          
          <!-- BEGIN b_campo_resend -->
          <td width="25" align="center"><a href="{modulo_nome}.php?acao=enviar&ID={id_registro}">reenviar</a></td>
          <!-- END b_campo_resend -->
          
          <!-- BEGIN b_campo_duplicar -->
          <td width="25" align="center"><a href="estrutura/{modulo_nome}/duplicar.php?ID={id_registro}">Duplicar</a></td>
          <!-- END b_campo_duplicar -->
          
          <!-- BEGIN b_campo_editar -->
          <td width="25" align="center"><a href="{modulo_nome}.php?acao=form&ID={id_registro}">Editar</a></td>
          <!-- END b_campo_editar -->
          <!-- BEGIN b_campo_excluir -->
          <td width="25" align="center"><a href="estrutura/{modulo_nome}/excluir.php?ID={id_registro}" class="lnkExcluir">Apagar</a></td>
          <!-- END b_campo_excluir -->
          <!-- BEGIN b_campo_upload -->
          <td width="25" align="center"><a href="?acao=enviar-arquivos&ID={id_registro}"><img src="imagens/btUpload.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_upload -->
          <!-- BEGIN b_campo_listarfotos -->
          <td width="25" align="center"><a href="?acao=listar-fotos&ano={ano_registro}&ID={id_registro}"><img src="'.$urlPadrao.'imagens/btFotos.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_listarfotos -->
         
        </tr>
         
        <!-- END b_linha_registros -->   
            
            
            
      </table>
           </div> 
<!-- BEGIN b_base_excluir -->
    <div style="padding-top:15px"><!-- BEGIN b_bt_excluir --><span class="hidden-phone hidden-xs"><input type="button" name="btExcluir" id="btExcluir" class="btExcluir submit btn btn-danger" value="Excluir Selecionados" />&nbsp;</span><span class="visible-phone visible-xs"><input type="button" name="btExcluir2" id="btExcluir2" class="btExcluir submit btn btn-danger btn-block" value="Excluir Selecionados" /></span>
      <!-- END b_bt_excluir -->
      <!-- BEGIN b_bt_mesclar -->
      <span class="hidden-phone hidden-xs"><input type="button" name="btMesclar" id="btMesclar" class="btMesclar btn btn-default" value="Mesclar" />&nbsp;</span><span class="visible-phone visible-xs"><input type="button" name="btMesclar2" id="btMesclar2" class="btMesclar btn btn-block m-t-md" value="Mesclar" /></span>
      <!-- END b_bt_mesclar -->
      <!-- BEGIN b_bt_pagamento --><span class="hidden-phone hidden-xs"><input type="button" name="btPagamento" id="btPagamento" class="btPagamento btn btn-success" value="Marcar como Pago" />&nbsp;</span><span class="visible-phone visible-xs m-t-md"><input type="button" name="btPagamento2" id="btPagamento2" class="btPagamento btn btn-success btn-block" value="Marcar como Pago" /></span>
      <!-- END b_bt_pagamento -->
      </div>
</form>
<!-- END b_base_excluir -->