<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
    <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12" style="padding-top:20px">
<!--TEMA NOVO-->
    <h4 style="text-transform:uppercase">#{id_ticket} {assunto}</h4>
    <fieldset>
        <div class="row-fluid">
        <div class="span6"><table width="90%" border="0" cellspacing="1" cellpadding="4">
              <tr>
                <td width="160" height="23" align="right" bgcolor="#F6F6F6">Remetente:&nbsp;</td>
                <td>&nbsp;{remetente}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Departamento:&nbsp;</td>
                <td>&nbsp;{departamento}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Aberto em:&nbsp;</td>
                <td>&nbsp;{data1}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Última Resposta:&nbsp;</td>
                <td>&nbsp;{data2}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Endereço IP:&nbsp;</td>
                <td>&nbsp;{endereco_ip} - <a href="http://www.geoiptool.com/en/?IP={endereco_ip}" target="_blank">Pesquisar</a> | <a href="estrutura/banimentoip/banir.php?m=ticketssuporte&ID={id_ticket}&IP={endereco_ip}">Banir</a></td>
              </tr>
            </table>
          </div>
        <div class="span6 text-center"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr>
                <td width="160" height="23" align="right" bgcolor="#F6F6F6">Status:&nbsp;</td>
<td>
                  <select name="txtTicketStatus" id="txtTicketStatus" class="selectForm selectTk">
                    <option value="0" class="ticketAberto"{if ({status} == 0)} selected="selected" {end if}>Aberto</option>
                    <option value="1" class="ticketRespondido"{if ({status} == 1)} selected="selected" {end if}>Respondido</option>
                    <option value="2" class="ticketRespondidoC"{if ({status} == 2)} selected="selected" {end if}>Respondido pelo cliente</option>
                    <option value="3" class="ticketProcesso"{if ({status} == 3)} selected="selected" {end if}>Em processo</option>
                    <option value="4" class="ticketFechado"{if ({status} == 4)} selected="selected" {end if}>Fechado</option>
                </select></td>
              </tr>
              <tr>
                <td height="45" align="right" bgcolor="#F6F6F6">Prioridade:</td>
                <td>
<select name="txtTicketPrioridade" id="txtTicketPrioridade" class="selectForm">
  <option value="2"{if ({prioridade} == 2)} selected="selected" {end if}>Alta</option>
  <option value="1"{if ({prioridade} == 1)} selected="selected" {end if}>Media</option>
  <option value="0"{if ({prioridade} == 0)} selected="selected" {end if}>Baixa</option>
</select></td>
              </tr>
              <tr>
                <td height="45" align="right" bgcolor="#F6F6F6">Departamento:</td>
                <td>
<select name="txtTicketDepartamento" id="txtTicketDepartamento" class="selectForm form-control">
                    {selectDepartamento}
                  </select></td>
              </tr>
              <tr>
                <td height="23" align="right">&nbsp;</td>
                <td valign="top">&nbsp;</td>
              </tr>
            </table>
        </div>
        </div>
    </fieldset>
    <div class="row-fluid"><div class="span6">
    <h4 style="text-transform:uppercase">Adicionar Resposta</h4>
    </div><div class="span6" style="text-align:right">
      <select id="loadResposta" class="input-block-level">
        <option>Carregar resposta predefinida...</option>
        <option disabled="disabled">---</option>
        {respostasPredefinidas}
      </select>
    </div>
    <form action="estrutura/ticketssuporte/responder.php" method="post" enctype="multipart/form-data">
    <p style="display:block; clear:both;">
    <textarea name="txtResposta" id="txtResposta" cols="45" rows="12" class="texareaForm input-block-level">

{assinaturaTicket}</textarea>
    </p>
    <div class="form-inline"><strong>Anexar arquivo:</strong> <input type="file" name="arquivo" id="arquivo" class="campoForm" style="width:300px" /> (.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</div>
    <div class="row-fluid"><div class="span6"><div class="controls"><select name="txtNovoStatus" class="selectForm input-block-level" id="txtNovoStatus"><option value="1" selected="selected">Marcar como RESPONDIDO ao enviar</option><option value="3">Marcar como EM PROCESSO ao enviar</option><option value="4">Marcar como FECHADO ao enviar</option></select></div></div><div class="span6 text-right hidden-phone"><input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit btn btn-primary" style="margin-right:0px !important ;"><input name="txtTicket" type="hidden" id="txtTicket" value="{id_ticket}" /></div>
    <div class="span6 visible-phone"><input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit btn btn-primary btn-block" style="margin-right:0px !important ;"></div>
    </div>
    </form>
    <p>&nbsp;</p>
    
    <!-- BEGIN b_respostas -->
    <div class="respticket">
    <p class="arred">&nbsp;</p>
    <div class="bg"><p class="user">{autor_respota}</p><p class="dataresp"><strong>Enviada em</strong> {data_resposta}</p></div>
    </div>

    <div class="respostaticket">

       {mensagem_enviada}

    </div>
    <!-- BEGIN b_anexo -->
    <div style="text-align:right"><strong>Anexo: </strong><a href="estrutura/ticketssuporte/download.php?ticket={id_ticket}&resposta={idResposta}&anexo={arqAnexo}">{anexo}</a></div>
    <!-- END b_anexo -->
    <p>&nbsp;</p>
    <!-- END b_respostas -->
    
    
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->