.paginacao{width:98%; text-align:right; height:40px; line-height:40px; clear:both; display:table; margin:0px auto; padding:0 0 8px 0;}

.paginacao a{
	line-height: 30px;
	background: url(../imagens/btns2.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #0082D5;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;

}

.erro img {
	float: left;
	margin-right: 5px;
}
.paginacao a:hover, .paginacao a.atual{
	background: url(../imagens/btns2_.gif) top center;
	text-shadow: 1px 1px 0 #b55f10;
	border: solid 1px #D77011;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}