/* === Typography === */
h1, h2, h3, h4, h5, h6{
	font-family:'Open Sans', sans-serif;
	color:#353535;
	font-weight:400;
	line-height:1.1em;
	margin-top:0;
}

h1{
	font-size:38px;
	margin-bottom:24px;
}

h2{
	font-size:34px;
	margin-bottom:22px;
}

h3{
	font-size:30px;
	margin-bottom:22px;
}

h4{
	font-size:26px;
	margin-bottom:20px;
}

h5{
	font-size:22px;
	margin-bottom:20px;
}

h6{
	font-size:18px;
	margin-bottom:20px;
}

h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
	font-weight:800;
	letter-spacing:-1.5px;
}

.widget h4,.widget h5 {
	font-weight:300;
	margin-bottom:20px;
}


/* === Bootstrap style === */

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

}


.img-rounded {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.img-circle.bordered {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
}

code,
pre {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

pre {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

blockquote{
  margin: 0 0 20px;
}

/*
label{
	font-weight: bold;
	color:#353535;
}

*/

select{
  font-size: 13px;
  line-height: 20px;
  background:#fbfbfb;
  border-color: #919191 #919191 #b3b3b3;
  color: #999999;
  -webkit-box-shadow: inset 0 1px 3px #cacaca;
     -moz-box-shadow: inset 0 1px 3px #cacaca;
          box-shadow: inset 0 1px 3px #cacaca;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	padding:10px;
	height:auto;
  font-size: 13px;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

input.input-block-level{
	padding:15px;
	height:auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}


.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}


.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}

.dropdown-menu {
  *border-right-width: 0;
  *border-bottom-width: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

}

.dropdown-submenu > .dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
     -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
}

.dropup .dropdown-submenu > .dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
     -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0 0 0 0;
     -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
}

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

/* --- lists --- */
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.6em;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.6em;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 20px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

.media{
  margin-top: 0;
  margin-bottom: 30px;
}

.media .media {
  margin-top: 30px;
  margin-bottom: 0;
}

.media-body{
	position:relative;
}

.well {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.well-large {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.well-small {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

/* input */
.input-append input.input-large {
font-size: 22px;
  padding: 18px 30px;
}
/* === bootstrap button + custom button === */


.btn {
  font-size: 14px;

	font-weight:600;
  text-shadow: none;
  background-image:none;
  border-color: none;
  border-bottom-color: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn {
	outline:0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}


a.btn,.btn:focus {
	outline:0;
	
}

.btn-medium {
  padding: 12px 20px;
  font-size: 16px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large {
font-size: 22px;
  padding: 18px 30px;
font-weight:700;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-small {
font-size: 11px;
  padding: 3px 8px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn-mini {
font-size: 10px;
  padding: 1px 6px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

/* edges */
.btn-flat {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-mini.btn-rounded {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.btn-small.btn-rounded {
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
}

.btn-rounded {
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

.btn-medium.btn-rounded {
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}


.btn-large.btn-rounded {
  -webkit-border-radius: 24px;
     -moz-border-radius: 24px;
          border-radius: 24px;
}


.btn-group > .btn:first-child {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}

.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

/* button variant */

.btn-primary {
	outline:0;
  background: #36739D;
  border-color:#36739D; 
}
.btn-primary:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-primary:active,.btn-primary:focus{
  background: #4b5056;
  border-color:#4b5056; 
}


.btn-info {
  background: #478DBF;
  border-color:#478DBF; 
}
.btn-info:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-info:active,.btn-info:focus{
  background: #4b5056;
  border-color:#4b5056; 
}



.btn-success {
  background: #6F9B63;
  border-color:#6F9B63; 
}
.btn-success:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-success:active,.btn-success:focus{
  background: #4b5056;
  border-color:#4b5056; 
}


.btn-warning {
  background: #DABB3A;
  border-color:#DABB3A; 
}
.btn-warning:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-warning:active,.btn-warning:focus{
  background: #4b5056;
  border-color:#4b5056; 
}



.btn-danger {
  background: #cc6633;
  border-color:#cc6633; 
}
.btn-danger:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-danger:active,.btn-danger:focus{
  background: #4b5056;
  border-color:#4b5056; 
}




.btn-inverse {
  background: #363636;
  border-color:#363636; 
}
.btn-inverse:hover {
  background: #4b5056;
  border-color:#4b5056; 
}
.btn-inverse:active,.btn-inverse:focus{
  background: #4b5056;
  border-color:#4b5056; 
}



a.btn.btn-theme,.btn.btn-theme,a.btn.btn-theme i,a.btn.btn-primary i ,a.btn.btn-warning i,a.btn.btn-danger i,a.btn.btn-success i,a.btn.btn-info i,a.btn.btn-inverse i{
  color:#fff;
}

.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #4b5056;
   color:#fff;
  border:1px solid #4b5056;
}



/* ==== More buttons === */

/* plain buttons */

.btn.plain {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: none;
  border: none;
  *border: 0;
  border-color: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}



/* ==================================== */

.alert {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.nav-tabs > li > a {
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.nav-pills > li > a {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-topleft: 2px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

.tabs-left > .nav-tabs > li > a {
  -webkit-border-radius: 2px 0 0 2px;
     -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

.navbar-inner {
  position:relative;
  padding-right: 20px;
  padding-left: 20px;
  background-color:none;
  background-image: none;
  background-repeat: none;
  border: none;
  border-top:1px solid #2d2d2d;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: none;
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar-inverse .navbar-inner, .navbar-inner{
  position:relative;
  background-color: #0e0f0f;
  background-image: none;
  background-repeat: none;
  border: none;
  border-top:1px solid #2d2d2d;
  border-bottom:1px solid #060606;
  filter: none;
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav {
  border-right:none;
  border-left:none;
}

.navbar .nav > li > a {
  float: none;
  font-size:13px;
  margin-left:10px;
  margin-right:0;
  text-decoration: none;
  text-shadow: none;
  border-right:none;
  border-left:none;
  color: #fff;
  border:2px solid transparent;
  padding:4px 10px 4px 10px;

  background-image: none;
   background: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #dddddd;
   background-color: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none; 
  text-decoration: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;	
  padding:4px 10px 4px 10px;
   background: #343434;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
   -moz-box-shadow:    none;
   -webkit-box-shadow: none;
   box-shadow:        none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  padding:4px 10px 4px 10px;

  background-image: none;
   background: #343434;
  filter: none;  
  text-decoration: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
   -moz-box-shadow:    none;
   -webkit-box-shadow: none;
   box-shadow:        none;
}

.navbar .nav  > a i[class^="icon-"]{
	color:#fdfdfd;
}

.navbar-search .search-query {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  -webkit-border-radius: 2px 0 2px 2px;
     -moz-border-radius: 2px 0 2px 2px;
          border-radius: 2px 0 2px 2px;
}

.navbar .btn-navbar {
  position:absolute;
  z-index:99999;
  left:0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 180px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
	background: #343434;
  border: none;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
border:2px solid #302f2f;
border-top:none;
  -webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;

}
.dropdown-menu li {
	margin:0;
	padding:0;
}

.dropdown-menu li  a {
  color: #ddd;
  font-size:13px;
  padding:10px 15px 10px 15px;
  margin:0;
  text-shadow:none;
  border-bottom:1px solid #303030;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter:none;
}
.dropdown-menu .sub-menu-level1, .dropdown-menu .sub-menu-level2 {left:100%;position:absolute;top:0;visibility:hidden;margin-top: 0;}
.dropdown-menu li:hover .sub-menu-level1 {visibility:visible;}
.dropdown-menu li li:hover .sub-menu-level2 {visibility:visible;}
.nav-header {
  display: block;
  padding: 5px 10px;
  font-size:12px;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #0b0b0b;
  border-bottom: 1px solid #303030;
}
 .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
}

.breadcrumb {
  float:left;
  padding:10px 0 10px 0;
  margin:0;
  list-style: none;
  background: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: none;
  font-size:12px;
  *zoom: 1;
  margin:0;
}

.breadcrumb > .active {
  color: #797979;
}


.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #464646;
  border: 1px solid #3b3a3a;
  color:#eee;
  border-left-width: 0;
}
.pagination ul > li > a:hover{
  background:#ececec;
  color:#fff;

}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #fff;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #ddd;
  cursor: default;
  background-color: #575656;
}

.pagination ul > li > a:hover{
  background:#464646;
}
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover {
  color: #fff;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}


.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}
.pagination-right {
  float: right;
}
.pager li > a,
.pager li > span {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.modal {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.modal-footer {
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}

.tooltip-inner {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.popover {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.popover-title {
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}

.thumbnail {
  background:#fbfbfb;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.thumbnail p{
	padding:0 10px 0 10px;
}

.thumbnail h1, .thumbnail h2, .thumbnail h3, .thumbnail h4, .thumbnail h5, .thumbnail h6{
	padding:0 10px 0 10px;
	margin:10px 0 10px 0;
}

.label,
.badge {
  padding: 5px 10px;
}

.label {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.badge {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.badge.badge-circled {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 100em;
     -moz-border-radius: 100em;
          border-radius: 100em;
}

.progress {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}


/* progress bar */
.bar.bar90 {
	width:90%;
}
.bar.bar85 {
	width:85%;
}
.bar.bar80 {
	width:80%;
}
.bar.bar75 {
	width:75%;
}
.bar.bar70 {
	width:70%;
}
.bar.bar65 {
	width:65%;
}
.bar.bar60 {
	width:60%;
}
.bar.bar55 {
	width:55%;
}
.bar.bar50 {
	width:50%;
}
.bar.bar45 {
	width:45%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar40 {
	width:40%;
}
.bar.bar35 {
	width:35%;
}
.bar.bar30 {
	width:30%;
}
.bar.bar25 {
	width:25%;
}
.bar.bar20 {
	width:20%;
}
.bar.bar15 {
	width:15%;
}
.bar.bar10 {
	width:10%;
}

.progress .bar {
  background-color: #0e90d2;
}

.progress-success .bar,
.progress .bar-success {
  background-color: #11766D;
  background-image: -moz-linear-gradient(top, #279188, #11766D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279188), to(#11766D));
  background-image: -webkit-linear-gradient(top, #279188, #11766D);
  background-image: -o-linear-gradient(top, #279188, #11766D);
  background-image: linear-gradient(to bottom, #279188, #11766D);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279188', endColorstr='#ff11766D', GradientType=0);
}


.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #11766D;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.accordion-group {
  background:none;
  border:none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
		  margin-bottom:5px;
}

.accordion-heading{
  font-size:13px;
  color:#333333;
  text-shadow: none;
  background-color: #fcfcfc;
  *background-color: #fcfcfc;
  background-image: none;
  background-repeat: repeat-x;
  border: 1px solid #eee;
  *border: 0;
  border-color: none;
}

.accordion-heading a{
  color:#333333;
  font-weight:600;
  outline:0;
}
.accordion-heading i {
	margin-right:10px;
}
.accordion-heading a:hover,.accordion-heading a.active:hover,.accordion-heading a.active{
  text-decoration:none;
}

.accordion-inner{
	margin-top:1px;
  border: 1px solid #e9e9e9;
  border-bottom:1px solid #e9e9e9;
}

.nav-tabs {
  border-bottom:1px solid #ddd;
  margin:0;
}

.nav-tabs > li > a {
  outline:0;
  font-size:13px;
font-weight:600;

}

.nav-tabs > li > a:hover {
  outline:0;
  font-size:13px;
font-weight:600;

}

.tabs-left .nav-tabs {
	margin-right:0;

}

.tabs-left .nav-tabs > li > a:hover {
  outline:0;
  font-size:13px;
font-weight:600;
  background:#eee;

}
.tabs-right .nav-tabs > li > a:hover {
  outline:0;
  font-size:13px;
font-weight:600;
  background:#eee;
  border:1px solid #ddd;
}
.tabs-left .nav-tabs > .active > a,
.tabs-left .nav-tabs > .active > a:hover,
.tabs-left .nav-tabs > .active > a:focus {
  background:#f5f4f2;

}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background:#f5f4f2;
    border-bottom:1px solid #f5f4f2;
}

.tabs-left .tab-content > .tab-pane{
  padding:0 0 0 20px;
  overflow:hidden;
}

.tabs-right .tab-content > .tab-pane{
  padding:0 20px 0 0;
  overflow:hidden;
}

.tab-content > .tab-pane{
  padding:20px 0 0;
  overflow:hidden;

}

.onsidebar > .tab-pane{
  background:none;
  border: none;
  border-bottom:none;
  padding:0;
}

.carousel-control {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.hero-unit {
     -moz-border-radius: 2px;
          border-radius: 2px;
}












