@charset "utf-8";

html, body {
	width:100%;
	height:100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#conteudo {
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
}
.margin-auto {
	margin: 0 auto !important;
	float:none !important;
}

.stunning {
	background-color: #EFEFEF;
	display:table;
	width:100%;
}
.stunning-shadow {
	background-color: #FFFFFF;
	background-image: url(../imagens/stunning-shadow.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 32px;
}




.catProdutos {
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	clear: both;
	height: 30px;;
	display: table;
	padding: 0px;
	border:solid 1px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#333;
}
.catProdutos li {
	height: 30px;;
	margin: 0 14px;
	padding: 0px;
	list-style-type: none;
	display:inline-block;
	color:#CCC;
}
.catProdutos li a{
	color:#FFF;
	font-weight:bold;
	line-height:30px;
}
.produto {
	display: table;
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.produto .pad {
	margin:5px;
	padding:10px;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:120px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.apontaDominio #espacoDominioReg {
	display:block;
}
.apontaDominio #espacoDominioTrans {
	display:none;
}
.apontaDominio #espacoDominioDns {
	display:none;
}
.listaCarrinho {
	padding:10px;
	color:#666;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:220px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mensal{
	display:inline;	
}
.trimestral{
	display:none;	
}
.semestral{
	display:none;	
}
.anual{
	display:none;	
}
.bienal{
	display:none;	
}
.trienal{
	display:none;	
}

.respticket {
	background-image: url(../imagens/bg_resp.gif);
	width:100%;
	height:65px;
	background-position: 0px bottom;
	background-repeat:repeat-x;
	position:relative;
}
.respticket .arred{
	background-image: url(../imagens/resp_arred.gif);
	width:15px;
	height:17px;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:10;
	margin:0px;
}

.respticket .user {
	font-size: 21px;
	color: #069;
}
.respticket .user a {
	font-size: 21px;
	color: #069;
}

.respticket .bg {
	background-image: url(../imagens/resp_ticket.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	margin: auto;
	padding: 0px;
	height: 65px;
	width: 100%px;
	position: relative;
}

.respticket .dataresp {
	color:#666666;
	text-align:right;
}

.respostaticket {

	padding: 5px 5px 15px 5px;
	height: auto;
	margin: 0px 0px 10px 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;	
	background:#FBFBFB;
}
