@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
html {
	width:100%;
	height:100%;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
}

body {
	background-color: #E8E8DC;
	background-image: url(../imagens/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 176px;
	height:100%;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}
#conteudo {
	width:100%;
	min-height:100%;
	height:auto;
	position:relative;
}
/*INICIO*/


#topo {
	width: 100%;
	display:table;
	height:176px;
	background-image: url(../imagens/bgTopo.jpg);
}
#topo #logo {
	height: 90px;
	position: absolute;
	left: 0px;
	top: 5px;
}
#topo .central {
	background-image: url(../imagens/central.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 71px;
	width: 305px;
	position: absolute;
	left: 662px;
	top: 16px;
}


#menu  {
	width: 754px;
	float:left;
	height: 40px;
	position: relative;
}

#menu #principal {
	height: 40px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	float:left;
}
#menu li {
	display: block;
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
	float: left;
	position: relative;
}
#menu li a {
	color: #FFF;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 11px;
	padding-bottom: 11px;
	float: left;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}
#menu li a.ativo {
	background-color:#6C7275;
	color:#FFFFFF;
}
#menu li a:hover, #menu li:hover a {
	background-color:#FFFFFF;
	color:#508DB8;
}

#menu #principal li ul {
	position: absolute;
	top: 40px;
	left: 0px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:500;
	border-bottom:solid 2px #999999;
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
#menu #principal li ul li {
	background-color: #FFFFFF;
	width: 190px;
	padding: 0px;
	border-bottom: dotted 1px #d6d6d6;
}
#menu #principal li ul li a {
	font-family:Calibri, Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	width: 165px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 10px;
	text-transform:none;
}
#menu #principal li ul li a:hover {
	background:#6C7275;
	color:#FFFFFF;
}
#menu #principal li:hover ul {
	display:block;
}
#menu #principal li ul li .sub {
	position: absolute;
	top: 0px;
	left: 190px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:5;
}
#menu #principal li:hover ul li:hover .sub {
	display:block;
}

.limite {
	display: table;
	clear: both;
	height: auto;
	width:1000px;
	margin: 0 auto;
	display:block;
}
#dados {
	height: 35px;
	width: 100%;
	font-weight: bold;
	color: #999999;
	text-align: right;
	line-height: 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	float:left;
}
#dados a {
	color:#0CF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#dados a:hover {
	text-decoration:underline;
}


#rodape {
	clear:both;
	width: 100%;
	display:table;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:150;
 	background-image: url(../imagens/bgRodape.jpg);
}
#rodape p {
	line-height: 27px;
	color: #999;
	vertical-align: middle;
	height: 27px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#rodape p a {
	color:#CCC;
}




/* FIM */


#permissao li{
	list-style:none;
	padding-left:5px;
}

#ondeEstou {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
}
#ondeEstou a {
	color: #DC0000;
	font-weight: bold;
}



h1 {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color:#1D8BD8;
}
.rBusca {
	color:#333;
	line-height:30px;
}
h2 {
	font-size: 15px;
	color: #363636;
	font-family: "Segoe UI";
}
.icones {
	clear: both;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: table;
	height: auto;
}
.icones li {
	list-style-type: none;
	width: 130px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	float: left;
	text-align: center;
	height: 75px;
	overflow: hidden;
}
.icones a {
	font-weight: bold;
	color: #666666;
}
input.submit {
	height: 30px;
	line-height: 30px;
	background: url(../imagens/btns2.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #0082D5;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.submit:hover, input.cancel:hover {
	background: url(../imagens/btns2_.gif) top center;
	text-shadow: 1px 1px 0 #b55f10;
	border: solid 1px #D77011;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.cancel {
	height: 30px;
	line-height: 30px;
	background: url(../imagens/btns2__.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #000000;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tabForm td {
	padding: 5px;
	color: #666666;
}
.campoForm {
	background-image: url(../imagens/bgCampo.gif);
	height: 28px;
	border: 1px solid #DBDBDB;
	vertical-align: bottom;
	line-height: 30px;
	padding-right: 3px;
	padding-left: 3px;
}
.texareaForm {
	border: 1px solid #DBDBDB;
	background-image: url(../imagens/bgCampo.gif);
	background-repeat: repeat-x;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.tabForm label {
	line-height: 20px;
}


.selectForm {
	border: 1px solid #DBDBDB;
	padding: 3px;
	height: 30px;
	line-height:30px;
}
.obrigatorio {
	font-weight: bold;
	color: #FF0000;
	font-size: 18px;
	font-family: "Segoe UI";
}
.tabList, #tabelaListaOpcoes {
	margin: auto;
	width: 100%;
	border: none;
}
.tabList td, #tabelaListaOpcoes td {
	padding: 5px;
	color: #666666;
}
.tabList .superior, #tabelaListaOpcoes .superior {
	font-weight: bold;
	color: #555555;
	height: 30px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 30px;
	vertical-align: middle;
	background-color:#FFFFFF;
	border-bottom:solid 1px #CCCCCC;
}
.tabList .lista, #tabelaListaOpcoes .lista{
	background-color:#F4F4F4;
}
.tabList .lista3{
	background-color:#FFFFFF;
}
.tabList .lista2, #tabelaListaOpcoes .lista2{
	background-color:#FFFFFF;
}
.tabList .lista4{
	background-color:#F8F8F8;
}
.tabList .lista td, .tabList .lista2 td, .tabList .lista3 td,  .tabList .click td,  .tabList .lista4 td, #tabelaListaOpcoes .lista td, #tabelaListaOpcoes .lista2 td {
	border-bottom:solid 1px #CCCCCC;
	height:25px;
}
.tabList .over{
	background-color:#E8E8E8;
}
.tabList .click {
	background-color:#FFFF99;
}
#resposta {
	border: 1px dashed #999999;
	padding: 8px;
	background-color: #FFFF99;
	font-weight: bold;
	color: #666666;
}
.paginacao{width:98%; text-align:right; height:40px; line-height:40px; clear:both; display:table; margin:0px auto; padding:0 0 8px 0;}

.paginacao a{
	line-height: 30px;
	background: url(../imagens/btns2.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #0082D5;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;

}

.paginacao a:hover, .paginacao a.atual{
	background: url(../imagens/btns2_.gif) top center;
	text-shadow: 1px 1px 0 #b55f10;
	border: solid 1px #D77011;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* HOME */
.avisoInfo { width:596px; height:90px; background:url('../imagens/importante-bg.jpg') no-repeat; padding-left:120px; padding-top:10px; margin-bottom:20px; }
.avisoInfo ul li { list-style:inside disc; font-size:18px; color:#666; }
#corpoLista {
	display: block;
	height: auto;
	width: 100%;
	margin: auto;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#corpoLista .bendl {
	width: 5px;
	height: 5px;
	background: url(../imagens/bendl.gif) bottom left no-repeat;
	position:absolute;
	left:-1px;
	bottom:-1px;
}

#corpoLista .bendr {
	width: 5px;
	height: 5px;
	background: url(../imagens/bendr.gif) bottom left no-repeat;
	position:absolute;
	right:-1px;
	bottom:-1px;
}

#busca {
	width:95%;
	margin:0 auto;
	border-bottom: 1px solid #ccc;
}
#menuLista {
	background-image: url(../imagens/bgTopLista.gif);
	height: 54px;
	width: 100%;
}
#menuLista .esq {
	background-image: url(../imagens/bgTopListaEsq.gif);
	margin: 0px;
	padding: 0px;
	height: 54px;
	width: 6px;
	position: absolute;
	left: -1px;
	top: 0px;
}
#menuLista .dir {
	background-image: url(../imagens/bgTopListaDir.gif);
	margin: 0px;
	padding: 0px;
	height: 54px;
	width: 6px;
	position: absolute;
	right: -1px;
	top: 0px;
}
#menuLista .titulo {
	text-shadow: 1px 1px 0 #fff;
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #555555;
	text-decoration: none;
	line-height: 54px;
	vertical-align: middle;
	float: left;
	height: 54px;
	width: 400px;
	padding-left: 15px;
}
#menuLista .guias {
	float:right;
	width:500px;
}
#menuLista .guias li {
	padding:5px;
	background-color:#F5F5F5;
	height:20px;
	line-height:20px;
	margin:12px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:solid 1px #CCCCCC;
	text-shadow:none;
}
#menuLista .guias li.guiaativo {
	background-color:#666;
	text-decoration:overline;
}
#menuLista .guias li.guiaativo a {
	color:#FFF;
}
#menuLista .guias li a {
	color:#000;
}
#menuLista ul {
	float: right;
	height: 54px;
	width: 450px;
	padding-right: 15px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
#menuLista li {
	float: right;
	padding-left: 12px;
	padding-right: 12px;
	list-style-type: none;
	line-height: 54px;
	text-transform: uppercase;
	vertical-align: middle;
	text-shadow: 1px 1px 0 #fff;
}
#menuLista li a {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	color: #555555;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
#menuLista li a:hover {
	color:#008EF0;
}

.erro {
	background-color: #FFFFCC;
	height: 34px;
	border: 1px solid #F0F000;
	width: 100%;
	padding: 3px 0;
	color: #333333;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.erro p {
		line-height:17px;
}
.erro img {
	float: left;
	margin-right: 5px;
}
.faturaPago {
	font-size:20px;
	color:#0C0;
	font-weight:bold;
	margin:5px 0;
}
.faturaNaoPago {
	font-size:20px;
	color:#F00;
	font-weight:bold;
	margin:5px 0;
}
.faturaCancelado {
	font-size:20px;
	color:#CCC;
	font-weight:bold;
	margin:5px 0;
}
.faturaPago2 {
	color:#0C0;
	font-weight:bold;
	margin:5px 0;
}
.faturaNaoPago2 {
	color:#F00;
	font-weight:bold;
	margin:5px 0;
}
.faturaCancelado2 {
	color:#CCC;
	font-weight:bold;
	margin:5px 0;
}
fieldset { border:1px solid #E0DFE3; margin-bottom:50px; padding:10px; } 
legend { font-size:25px; color:#666; margin-left:10px; padding:0 5px; font-weight:bold; }
.tabelaPreco td {
	font-weight:bold;
}
.dstvPagamento {
	font-size:12px;
	font-weight:bold;
	color:#333;
}













.respticket {
	background-image: url(../imagens/bg_resp.gif);
	width:100%;
	height:65px;
	background-position: 0px bottom;
	background-repeat:repeat-x;
	position:relative;
}
.respticket .arred{
	background-image: url(../imagens/resp_arred.gif);
	width:15px;
	height:17px;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:10;
	margin:0px;
}

.respticket .user {
	font-size: 21px;
	color: #069;
}
.respticket .user a {
	font-size: 21px;
	color: #069;
}

.respticket .bg {
	background-image: url(../imagens/resp_ticket.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	margin: auto;
	padding: 0px;
	height: 65px;
	width: 100%px;
	position: relative;
}

.respticket .dataresp {
	color:#666666;
	text-align:right;
}

.respostaticket {

	padding: 5px 5px 15px 5px;
	height: auto;
	margin: 0px 0px 10px 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;	
	background:#FBFBFB;
}
.selectTk{
	font-size:18px;
}
.ticketAberto {
	color:#6C3;
}
.ticketRespondido {
	color:#06F;
}
.ticketRespondidoC {
	color:#F90;
}
.ticketProcesso {
	color:#F00;
}
.ticketFechado {
	color:#CCC;
}.printFatura {
	background-color: #FFF;
	height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border:solid 1px #CCC;
}
.listaConhecimento {
	width: 96%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	height: auto;
	display: table;
	padding-top: 20px;
	padding-bottom: 20px;
}
.listaConhecimento li {
	float: left;
	width: 33.33%;
	list-style-type: none;
	height: 30px;
}
.catProdutos {
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	clear: both;
	height: 30px;;
	display: table;
	padding: 0px;
	border:solid 1px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#333;
}
.catProdutos li {
	height: 30px;;
	margin: 0 14px;
	padding: 0px;
	list-style-type: none;
	display:inline-block;
	color:#CCC;
}
.catProdutos li a{
	color:#FFF;
	font-weight:bold;
	line-height:30px;
}
.produto {
	display: table;
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.produto li {
	float: left;
	height: auto;
	width: 33.33%;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style-type: none;
}
.produto li .pad {
	margin:5px;
	padding:10px;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:120px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.produto li .pad a {
	font-weight:bold;
	color: #1D8BD8;
}
.apontaDominio #espacoDominioReg {
	display:block;
}
.apontaDominio #espacoDominioTrans {
	display:none;
}
.apontaDominio #espacoDominioDns {
	display:none;
}
.listaCarrinho {
	padding:10px;
	color:#666;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:220px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mensal{
	display:inline;	
}
.trimestral{
	display:none;	
}
.semestral{
	display:none;	
}
.anual{
	display:none;	
}
.bienal{
	display:none;	
}
.trienal{
	display:none;	
}
#guias {
	border:solid 1px #CCC;
	margin-right:15px;
	margin-top:30px;
	position:relative;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#guias .abas {
	position:absolute;
	top:-20px;
	left:-1;
}
#guias a {
	background-color:#CCC;
	color:#FFF;
	padding:5px 8px;
	float:left;
	height:20px;
	line-height:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 8px;
	text-decoration:none;
}
#guias a.abaAtiva, #guias a:hover {
	background-color:#999;
}
#guias .cont1 {
	padding-top:5px;
}

#guias .cont2 {
	padding-top:5px;
	display:none;
}
.tabelaDados {
	
}
.tabelaDados td {
	padding: 5px;
}

/*BOOTSTRAP*/

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}
.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}