{pageHeader}
{mensagem_retorno}
<p>&nbsp;</p>
<!-- BEGIN b_mostrar_registros -->
<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
  {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
<div class="text-right">{paginacao}</div>
{TABELA_REGISTROS}
<div class="text-right">{paginacao}</div>
<!-- END b_mostrar_registros -->
<!-- BEGIN b_semregistro -->
<div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
<!-- END b_semregistro -->
{pageFooter}