<div id="conteudo">
  <!-- TOPO-->
  <div id="topo">
    <div class="span12 margin-auto" style="height:124px">
      <div class="row-fluid">
        <div class="logoTopo span6 hidden-phone"><a href="index.php"><img src="imagens/{logoCentral}" name="logoTopo" border="0" id="logoTopo" />&nbsp;</a></div>
        <div class="logoTopo span6 visible-phone text-center"><a href="index.php"><img src="imagens/{logoCentral}" name="logoTopo" border="0" id="logoTopo" />&nbsp;</a></div>
        <div class="span6 text-center hidden-phone">&nbsp;</div>
      </div>
    </div>
    <div class="dadosTopo">
      <div class="span12 margin-auto">
        <div id="menu">
          <script>
		     $(document).ready(function(){
			 	// Populate dropdown with menu items
				$("<option />", {
					 "value"   : '#',
					 "text"    : 'Navegar'
				 }).appendTo("#nav");
				 
				$("#principal li a").each(function() {
				 var el = $(this);
				 $("<option />", {
					 "value"   : el.attr("href"),
					 "text"    : el.text()
				 }).appendTo("#nav");
				});
				
			 });
		   </script>
          <div class="text-center hidden-desktop" style="padding-top:3px;">
            <select id="nav" class="select margin-auto">
            </select>
          </div>
          <ul id="principal" class="visible-desktop">
            <li><a href="index.php">Inicio </a></li>
            <li><a href="produtos.php">Pedido </a></li>
            <!-- BEGIN b_linksLogado -->
            <li><a href="meusdados.php">Meus Dados </a></li>
            <li><a href="servicos.php">Serviços </a>
              <ul>
                <li><a href="servicos.php">Meus Serviços</a></li>
                <li><a href="produtos.php">Novo Serviço</a></li>
              </ul>
            </li>
            <li><a href="dominios.php">Meus Domínios </a></li>
            <li><a href="faturas.php">Faturas</a></li>
            <li><a href="ticketssuporte.php">Suporte</a>
              <ul>
                <li><a href="basedeconhecimento.php">Base de Conhecimento</a></li>
                <li><a href="ticketssuporte.php">Tickets de Suporte</a>
                  <ul class="sub">
                    <li><a href="ticketssuporte.php?status=0">Abertos</a></li>
                    <li><a href="ticketssuporte.php?status=4">Resolvidos</a></li>
                  </ul>
                </li>
                <li><a href="ticketssuporte-novo.php">Novo Ticket</a></li>
              </ul>
            </li>
            <!-- END b_linksLogado -->
            <!-- BEGIN b_naoLogado -->
            <li><a href="basedeconhecimento.php">Base de Conhecimento</a></li>
            <li><a href="contato.php">Contato</a></li>
            <!-- END b_naoLogado -->
            <!-- BEGIN b_lnAfiliados -->
            <li><a href="afiliados.php">Afiliados</a></li>
            <!-- END b_lnAfiliados -->
          </ul>
        </div>
        <div class="row-fluid">
          <div class="headerText span6 hidden-phone">{titulo_modulo}</div>
          <div class="headerText span6 visible-phone text-center">{titulo_modulo}</div>
          <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {else} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
          <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {else} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM TOPO-->
  <div class="degrade">
    <div class="span12 margin-auto">
      <div style="padding:20px 35px 0 35px; background-color:#FFFFFF">