{pageHeader}
{mensagem_retorno}
<div class="row-fluid">
  <div class="span6">Selecione a categoria do produto desejado</div>
  <div class="span6 text-right"><a href="carrinho.php"><strong>Ir para o carrinho/Fechar Pedido</strong></a></div>
</div>
<ul class="catProdutos">
  <!-- BEGIN b_categoria -->
  <li><a href="produtos.php?ID={id_categoria}{dominio}">{categoria} ({tutoriais})</a></li>
  <!-- END b_categoria -->
  <!-- BEGIN b_scategoria -->
  <li>Nenhuma Categoria Cadastrada</li>
  <!-- END b_scategoria -->
</ul>
<!-- BEGIN b_registro -->
<!-- BEGIN b_produto -->
<div class="row-fluid">
  <div class="span12 produto">
    <div class="pad">
      <div class="row-fluid">
        <div class="span7">
          <h4>{produto}</h4>
          {descricao}
          <p>&nbsp;</p>
        </div>
        <div class="span5 text-center">
          <p>R$ {valor} {ciclo}</p>
          <p><a href="carrinho.php?ID={id_produto}{dominio}" class="btn">Contratar Agora</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END b_produto -->
<!-- END b_registro -->
<!-- BEGIN b_semregistro -->
<div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
<!-- END b_semregistro -->
{pageFooter}