{pageHeader}
<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
{mensagem_retorno}
<p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
<p>&nbsp;</p>
<form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="txtNome">Nome:</label>
    <div class="controls">
      <input obgr="sim" name="txtRemetente" type="text" class="campoForm" id="txtRemetente" value="{cliente_nome}" style="width:300px"{read} />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Nome Completo</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">E-mail:</label>
    <div class="controls">
      <input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" style="width:300px"{read} />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Departamento:</label>
    <div class="controls">
      <select name="txtDepartamento" id="txtDepartamento" class="selectForm">
        
		        {opcoesDepartamento}
		        
      </select>
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Prioridade:</label>
    <div class="controls">
      <select name="txtPrioridade" id="txtPrioridade" class="selectForm">
        <option value="2">Alta</option>
        <option value="1">Média</option>
        <option value="0">Baixa</option>
      </select>
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Assunto:</label>
    <div class="controls">
      <input name="txtAssunto" type="text" class="campoForm" id="txtAssunto" style="width:300px" value="{txtAssunto}" obgr="sim" />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
  <label class="control-label" for="txtNome">Informações do Ticket:</label>
  <div class="controls">
    <textarea name="txtMensagem" id="txtMensagem" cols="45" rows="12" class="texareaForm" style="width:100%;">{txtMensagem}</textarea>
  </div>
  
  <div>&nbsp;</div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Anexar arquivo:</label>
    <div class="controls">
      <input type="file" name="arquivo" id="arquivo" class="campoForm" />
      <span class="help-inline">(.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</span></div>
  </div>
  <!-- BEGIN b_captcha -->
  <div class="control-group">
    <label class="control-label" for="txtNome">Controle de Span:</label>
    <div class="controls">
      {captcha}
    </div>
  </div>
  <!-- END b_captcha -->  
  <input name="post" type="hidden" id="post" value="1" />
  <div class="form-actions hidden-phone">
    <input type="submit" name="btSalvar" id="btSalvar" value="Abrir Ticket" class="submit btn btn-primary">
    <a href="areadocliente.php" class="btn">Cancelar</a></div>
  <div class="form-actions visible-phone">
    <input type="submit" name="btSalvar" id="btSalvar" value="Abrir Ticket" class="submit btn btn-primary btn-block">
    <a href="areadoclientes.php" class="btn btn-block">Cancelar</a></div>
</form>
<script>
  $(document).ready(function() {
	$("#form").submit(function(){
		
		var obrigatorio="Preencha os campos corretamente";
		if(form.txtRemetente.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtEmail.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtAssunto.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtMensagem.value==""){
			alert(obrigatorio);
			return false;
		}else{
			return true;
		}
		
	});
  });
</script>
{pageFooter}