{pageHeader}
<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
    {mensagem_retorno}
    <h3 style="font-size:20px !important; text-transform:uppercase">#{id_ticket} - {assunto}</h3>
    <p><strong>Status:</strong> {if ({status} == 0)} <span class="label label-success">Aberto</span> {end if}
               {if ({status} == 1)} <span class="label label-info">Respondido</span> {end if}
               {if ({status} == 2)} <span class="label label-warning">Respondido pelo cliente</span> {end if}
               {if ({status} == 3)} <span class="label label-important">Em processo</span> {end if}
               {if ({status} == 4)} <span class="label">Fechado</span> {end if}</p>
               
    <!-- BEGIN b_btFechar -->
    <form id="form1" name="form1" method="post" action="ticketssuporte_acoes.php?acao=2">
	  <p class="text-center hidden-phone"><input type="submit" name="btFecharTicket" id="btFecharTicket" value="Fechar Ticket" class="btn btn-danger" style="margin-right:0px !important ;"></p><p class="text-center visible-phone"><input type="submit" name="btFecharTicket" id="btFecharTicket" value="Fechar Ticket" class="btn btn-danger btn-block" style="margin-right:0px !important ;"></p><input name="txtTicket" type="hidden" id="txtTicket2" value="{id_ticket}" />
      <input name="post" type="hidden" id="post2" value="1" />
    </form>
    <!-- END b_btFechar -->

    <h4>Adicionar Resposta</h4>
<form action="ticketssuporte_acoes.php?acao=1" method="post" enctype="multipart/form-data">
    <p style="padding-right:6px;">
    <textarea name="txtMensagem" id="txtMensagem" rows="12" class="input-block-level">{txtMensagem}</textarea>
    </p>
<div class="form-inline"><strong>Anexar arquivo:</strong>
      <input type="file" name="arquivo" id="arquivo" />
  (.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</div>
  
  <!-- BEGIN b_captcha -->
  <div class="control-group">
    <label class="control-label" for="txtNome">Controle de Span:</label>
    <div class="controls">
      {captcha}
    </div>
  </div>
  <!-- END b_captcha -->
  
    <p class="text-right hidden-phone">
    <input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="btn btn-primary" style="margin-right:0px !important ;"></p>
    <p class="visible-phone">
    <input type="submit" name="btSalvar" id="btSalvar1" value="Responder" class="btn btn-primary btn-block" style="margin-right:0px !important ;"></p>
    
    <input name="txtTicket" type="hidden" id="txtTicket" value="{id_ticket}" />
    <input name="post" type="hidden" id="post" value="1" />
  
    </form>
    
    <!-- BEGIN b_respostas -->
    <div class="respticket">
    <p class="arred">&nbsp;</p>
    <div class="bg"><p class="user">{autor_respota}</p><p class="dataresp" style="line-height:15px;"><strong>Enviada em</strong> {data_resposta}</p></div>
    </div>

    <div class="respostaticket">

       {mensagem_enviada}

    </div>
    <!-- BEGIN b_anexo -->
    <div style="text-align:right"><strong>Anexo: </strong><a href="arquivos/download.php?ticket={id_ticket}&resposta={idResposta}&anexo={arqAnexo}">{anexo}</a></div>
    <!-- END b_anexo -->
    <p>&nbsp;</p>
    <!-- END b_respostas -->
{pageFooter}