@charset "utf-8";
.erro {
	background-color: #FFFFCC;
	height: 34px;
	border: 1px solid #F0F000;
	width: 420px;
	padding: 3px;
	color: #333333;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.erro p {
		line-height:17px;
}
.erro img {
	float: left;
	margin-right: 5px;
}
.block {
	padding-bottom: 5px;
	margin-bottom: 5px;
	clear: both;
	background: #fff url(../../imagens/bnd.gif) bottom center repeat-x;
	}

.block .bendl {
	width: 5px;
	height: 5px;
	background: url(../../imagens/bendl.gif) bottom left no-repeat;
	float: left;
	}

.block .bendr {
	width: 5px;
	height: 5px;
	background: url(../../imagens/bendr.gif) bottom left no-repeat;
	float: right;
	}
	

/* Block head */

.block .block_head {
	height: 54px;
	line-height: 54px;
	background: url(../../imagens/bhead.gif) 0 0 repeat-x;
	overflow: hidden;
	}

.block .block_head .bheadl {
	width: 20px;
	height: 54px;
	float: left;
	background: url(../../imagens/bheadl.gif) top left no-repeat;
	}

.block .block_head .bheadr {
	width: 20px;
	height: 54px;
	float: right;
	background: url(../../imagens/bheadr.gif) top right no-repeat;
	}
	
.block .block_head h2 {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
	float: left;
	}
	
.block .block_head ul {
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	}
	
.block .block_head ul li {
	display: inline;
	padding: 3px 0;
	padding-left: 20px;
	background: url(../../imagens/phs.gif) 7px center no-repeat;
}
	
.block .block_head ul li.nobg { background: none; }
	
.block .block_head ul li a {
	text-decoration: none;
	color: #666;
	outline: none;
	}



/* Block content */

.block .block_content {
	overflow: hidden;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 20px 0;
}



/* Forms */

.block form p {
	overflow: hidden;
	clear: both;
		line-height: 20px;
}

.block form label {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #555;
	margin-right: 10px;
	vertical-align: middle;
	line-height:25px;
	height:25px;
}

.block form input.text {
	width: 410px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	vertical-align: middle;
}
				
.block form input.submit {
	width: 85px;
	height: 30px;
	line-height: 30px;
	background: url(../../imagens/btns.gif) top center no-repeat;
	border: 0;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	}
	
.block form input.submit:hover {
	background: url(../../imagens/btns_.gif) top center no-repeat;
	text-shadow: 1px 1px 0 #b55f10;
	}

.block form input.submit.tiny {
	width: 105px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 2px;
	vertical-align: middle;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: none;
	background: url(imagens/tiny.gif) top center no-repeat;
	}
	
.block form input.submit.tiny:hover { background: url(imagens/tiny_.gif) top center no-repeat; }
	
.block form input.submit.mid { width: 115px; background: url(imagens/btnm.gif) top center no-repeat; }
.block form input.submit.mid:hover { background: url(imagens/btnm_.gif) top center no-repeat; }

.block form input.submit.long { width: 165px; background: url(imagens/btnb.gif) top center no-repeat; }
.block form input.submit.long:hover { background: url(imagens/btnb_.gif) top center no-repeat; }


/* Small blocks */

.block.small {
	width: 49%;
	background: #fff url(../../imagens/bnd.gif) bottom center repeat-x;
	padding-bottom: 0;
	}

.block.small.left { float: left; clear: none; }
.block.small.right { float: right; clear: none; }

.block.small .block_head { background: url(../../imagens/bhead.gif) 0 0 repeat-x; }
.block.small .block_content { background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }

.block.small .block_content input.text,
.block.small .block_content textarea { width: 96%; padding: 7px; }

.block.small.center {
	float: none;
	margin: 0 auto;
	}


/* Login block */

.block.small.center.login {
	width: 470px;
	background: #fff url(../../imagens/bnd.gif) bottom center repeat-x;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 5px;
	}