<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->




<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <!-- BEGIN b_itemGuia -->
          <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
        <!-- END b_itemGuia -->
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li>Afiliados</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->


  
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->



    <h4 style="text-transform:uppercase">#{idCliente} {nomeCliente}</h4>
    <p>&nbsp;</p>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    <!-- BEGIN b_tutoriais_da_categoria -->
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase">COMISSÕES</h4>
    <p>&nbsp;</p>
    <!-- BEGIN b_mostrar_registros -->
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
  <!-- END b_tutoriais_da_categoria -->
<!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->