<style type="text/css">
#phpv pre {
	margin: 0px;
	font-family: monospace;
}
#phpv a:link {
	color: #000099;
	text-decoration: none;
	background-color: #ffffff;
}
#phpv a:hover {
	text-decoration: underline;
}
#phpv table {
	border-collapse: collapse;
}
#phpv .center {
	text-align: center;
}
#phpv .center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#phpv .center th {
	text-align: center !important;
}
#phpv td, th {
	border: 1px solid #000000;
	font-size: 75%;
	vertical-align: baseline;
}
#phpv h1 {
	font-size: 150%;
}
#phpv h2 {
	font-size: 125%;
}
#phpv .p {
	text-align: left;
}
#phpv .e {
	background-color: #ccccff;
	font-weight: bold;
	color: #000000;
}
#phpv .h {
	background-color: #9999cc;
	font-weight: bold;
	color: #000000;
}
#phpv .v {
	background-color: #cccccc;
	color: #000000;
}
#phpv .vr {
	background-color: #cccccc;
	text-align: right;
	color: #000000;
}
#phpv img {
	float: right;
	border: 0px;
}
#phpv hr {
	width: 600px;
	background-color: #cccccc;
	border: 0px;
	height: 1px;
	color: #000000;
}
</style>
<!-- layout Novo-->
<div class="page-title">
  <div class="row">
    <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="index.php">Dashboard</a></li>
      <li class="active">Ajuda</li>
    </ol>
  </div>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12 center">
      <!-- layout Novo-->
      <!--Mensagem Retorno-->
      {mensagem_retorno}
      <!--Fim retorno-->
      <div style="width:80%; margin:0 auto" id="phpv">{phpversao}</div>
      <!-- layout Novo-->
    </div>
  </div>
  <!-- Row -->
</div>
<!-- Main Wrapper -->
<!-- layout Novo-->
