<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active">Dados da Licença</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
   	    <div class="col-md-12 center">
  <!-- layout Novo-->


<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->

      <p>As informações abaixo refletem as características de sua licença.</p>
      <p>Caso você pretenda migrar de servidor ou alterar qualquer dado de sua licença, será necessário fazer um reset em nossa <strong><a href="http://central.hostmgr.com.br" target="_blank">CENTRAL DO CLIENTE</a></strong></p>
      <p>&nbsp;</p>
      <table border="0" cellspacing="1" cellpadding="0" style="border:solid 1px #fbfbfb">
        <tr>
          <td width="160" height="28" bgcolor="#fbfbfb">&nbsp;Licença:</td>
          <td>&nbsp;{licenca}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Domínio:</td>
          <td>&nbsp;{dominio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Data de Registro:</td>
          <td>&nbsp;{dataRegistro}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Expira em:</td>
          <td>&nbsp;{dataValidade}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Diretório de instalação:</td>
          <td>&nbsp;{diretorio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;IP atribuido:</td>
          <td>&nbsp;{ip}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Status:</td>
          <td>&nbsp;{status}</td>
        </tr>
      </table>
      <p>&nbsp;</p>
<p>Mais informações em <a style="text-decoration:underline" href="http://www.hostmgr.com.br" target="_blank">http://www.hostmgr.com.br</a></p>
  <!-- layout Novo-->
      
</div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->