<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Categorias</a>{text_guia}</a></li>
        <li style="float:right"{class_ativo}><a href="{modulo_nome}.php?acao=formtutorial&categoria={IDCATEGORIA}">Novo Tutorial</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li class="active"><a href="javascript:void(0);">Suporte</a></li>
        <li><a href="baseconhecimento.php">Base de Conhecimento</a></li>
        <li>Categorias</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->


<!--TEMA NOVO-->
    <div>
      {CAMPOS_FORMULARIO}
      <!-- BEGIN b_tutoriais_da_categoria -->
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase">TUTORIAIS CADASTRADOS</h4>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
    <p>&nbsp;</p>
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
  <!-- END b_tutoriais_da_categoria -->
    </div>
    <p>&nbsp;</p>

    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->