<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="clientes.php">Clientes</a></li>
        <li>Domínios</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
  <!--Fim retorno-->


  <!-- BEGIN b_mostrar_registros -->
    <div class="col-md-4 no-p">
    
      <form action="" method="post" name="formListaDominios" id="formListaDominios" class="form-inline">
    	<label><strong>Domínio:&nbsp;</strong></label>
        <div class="input-append">
        <select name="txtListaDominios" class="form-control" id="txtListaDominios">
		    {select_produtos}
		  </select> <input type="submit" name="button" id="button" value="Ok" class="submit btn btn-default" />
        </div>
    </form>
    </div>
    <div class="col-md-8 text-right no-p">
      <div class="hidden-phone hidden-xs"><a href="estrutura/dominios/mover.php?DID={DID}" target="_blank" class="mover-dominio btn btn-default">Mover Domínio para outro cliente</a> <a href="clientes.php?acao=dominios&amp;ID={ID}&novo=sim" class="mover-dominio btn btn-primary">Adicionar Domínio já registrado</a></div>
      <div class="visible-phone visible-xs" style="padding-bottom:15px"><a href="estrutura/dominios/mover.php?DID={DID}" target="_blank" class="mover-dominio btn btn-default btn-block">Mover Domínio para outro cliente</a> <a href="clientes.php?acao=dominios&amp;ID={ID}&novo=sim" class="mover-dominio btn btn-primary tbn-block"><strong>Adicionar Domínio já registrado</strong></a></div>
    </div>
    
    <div class="col-md-12 no-p m-t-md">
    <fieldset>
    <legend><h4 style="text-transform:uppercase">{nome_produto}</h4></legend>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    <div class="form-horizontal">
    <p class="hidden-phone form-actions hidden-xs text-center"><a href="estrutura/dominios/excluir.php?ID={DID}" class="lnkExcluir btn btn-danger">Apagar Dominio</a></p>
    <p align="center" class="visible-phone form-actions visible-xs"><a href="estrutura/dominios/excluir.php?ID={DID}" class="lnkExcluir btn btn-danger btn-block">Apagar Dominio</a></p>
    </div>
    </fieldset>
    </div>
    <!-- END b_mostrar_registros -->
   
  <!-- BEGIN b_semregistro -->
  <div style="height:80px; line-height:40px; text-align:center;">
    <p>Nenhum Domínio registrado para esse cliente</p>
    <p><a href="pedidos.php?acao=novo&amp;cliente={ID}"><strong>Gerar um pedido Agora</strong></a> ou <a href="clientes.php?acao=dominios&amp;ID={ID}&novo=sim"><strong>Adicionar Domínio já registrado</strong></a></p>
  </div>
  <!-- END b_semregistro -->
  <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->