<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {
	
	//busca
	$("#txtProduto").change(function(){
		$('#form').submit();
	});
});
</script>
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="clientes.php">Clientes</a></li>
        <li>Produtos</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->


<!--TEMA NOVO-->

	<!-- BEGIN b_mostrar_registros -->
    <div class="col-md-4 no-p">
    <form action="" method="post" name="formListaProdutos" id="formListaProdutos" class="form-inline">
    <label><strong>Produto:&nbsp;</strong></label>
        <div class="input-append"><select name="txtListaProdutos" class="form-control" id="txtListaProdutos">
		    {select_produtos}
		  </select><input type="submit" name="button" id="button" value="Ok" class="submit btn btn-default" />
        </div>
    </form>
    </div>
    
    <div class="col-md-8 text-right no-p">
      <div class="hidden-phone hidden-xs"><a href="estrutura/contas/mover.php?PID={PID}" target="_blank" class="mover-conta btn btn-default">Mover Produto/Serviço para outro cliente</a></div>
      <div class="visible-phone visible-xs" style="padding-bottom:15px"><a href="estrutura/contas/mover.php?PID={PID}" target="_blank" class="mover-conta btn btn-block">Mover Produto/Serviço para outro cliente</a></div>
    </div>
    <div class="col-md-12 no-p m-t-md">
    <fieldset>
    <legend><h4 style="text-transform:uppercase">{nome_produto}</h4></legend>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    {INFORMACOES_PRODUTO_MODULO}
    <div class="form-horizontal">
    <p class="hidden-phone form-actions hidden-xs text-center"><a href="estrutura/contas/boasvindas.php?ID={PID}" class="btn btn-default">Reenviar email de boas vindas</a> <a href="estrutura/contas/excluir.php?ID={PID}" class="lnkExcluir btn btn-danger">Apagar Conta</a></p>
    <p align="center" class="visible-phone form-actions visible-xs"><a href="estrutura/contas/boasvindas.php?ID={PID}" class="btn btn-block">Reenviar email de boas vindas</a> <a href="estrutura/contas/excluir.php?ID={PID}" class="lnkExcluir btn btn-danger btn-block">Apagar Conta</a></p>
    </div>
    <!-- END b_mostrar_registros -->
   
  <!-- BEGIN b_semregistro -->
  <div style="height:80px; line-height:40px; text-align:center;">
  	<p>&nbsp;</p>
    <p>Nenhum Produto/Servi&ccedil;o cadastrado para esse cliente</p>
    <p><a href="pedidos.php?acao=novo&amp;cliente={ID}"><strong>Gerar um pedido Agora</strong></a></p>
  </div>
  <!-- END b_semregistro -->
  
  </fieldset>
  </div>
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->