<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <!-- BEGIN b_link_busca -->
        <li class="pull-right"><a href="javascript:void(0);" id="filtro">Procurar</a></li>
        <!-- END b_link_busca -->
        <li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Listar tudo</a></li>
        <li style="float:right"{class_ativo}><a href="{modulo_nome}.php?acao=form">Adicionar IP</a></li>
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="configuracoes.php">Configurações</a></li>
        <li>Segurança</li>
        <li class="active">Captcha
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->

      <form action="estrutura/configurarcaptcha/processar.php?acao=configurar" method="post" name="formListaModuloCaptcha" id="formListaModulosPagamento" class="form-inline">
    
    <div class="control-group form-group">
    <label><strong>Proteção Captcha:</strong></label>
    <select name="txtListaModulos" class="selectForm form-control" id="txtListaModulos">
		    {select_modulos}
		  </select> <input type="submit" name="button" id="button" value="Salvar" class="submit btn btn-success" />
    </div>
    </form>
      <p>&nbsp;</p>
      <div id="tabs">
	    <ul class="nav nav-tabs">
		  <!-- BEGIN b_TABS -->
      		<li id="tab{contar}" class="tab"><a href="javascript:;">{titulomodulocaptcha}</a></li>
          <!-- END b_TABS -->
	    </ul>
	  </div>
      
      
      
      <!-- BEGIN b_CONFIGMODULO -->
      <div id="tab{contar}box" class="tabbox">
      {CAMPOS_FORMULARIO}
      <p>&nbsp;</p>
      </div>
      <!-- END b_CONFIGMODULO -->
      
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->
<script>
$(document).ready(function(){
    
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab0";
	$("#tab0").addClass("tabselected");
	$("#tab0box").css("display","block");
});

</script>