<!-- layout Novo-->
<div class="page-title">
  <div class="row">
    <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="index.php">Dashboard</a></li>
      <li class="active">Configurações do template</li>
    </ol>
  </div>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12 center">
      <!-- layout Novo-->
      <!--Mensagem Retorno-->
      {mensagem_retorno}
      <!--Fim retorno-->
      
      {conteudo}      
      
      <!-- layout Novo-->
    </div>
  </div>
  <!-- Row -->
</div>
<!-- Main Wrapper -->
<!-- layout Novo-->
