<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->
<style type="text/css">
<!--
.config .tabbox {
	padding-top: 15px;
}
-->
</style>
		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active">Configurações Gerais</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->
  <!--TEMA NOVO-->

<div class="config">
{CAMPOS_FORMULARIO}
 </div>
    <!-- layout Novo-->
    </div>
        </div><!-- Row -->
            </div><!-- Main Wrapper -->
    <!-- layout Novo-->
    <script>
$(document).ready(function(){
    
	

	
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab0";
	$("#tab0").addClass("tabselected");
	$("#tab0box").css("display","block");
});

</script>