<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <!-- BEGIN b_link_busca -->  
        <li style="float:right"{class_ativo}><a href="javascript:void(0);" id="filtro">Procurar</a></li>
        <!-- END b_link_busca -->
        <li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Listar tudo</a></li>
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li><a href="clientes.php">Clientes</a></li>
        <li class="active">Produtos/Serviços</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->


  
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->


<div id="busca" style="display:{display_busca};">
<p>&nbsp;</p>
<h4 style="text-transform:uppercase">Buscar</h4>
{FORM_BUSCA}
<p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <div class="text-right">{paginacao}</div>
    {TABELA_REGISTROS}
	<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->