<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <li class="pull-right"><a href="javascript:void(0);" id="filtro">Procurar</a></li>
        <li class="pull-right"><a href="{modulo_nome}.php">Listar tudo</a></li>
        <li class="pull-right"><a href="{modulo_nome}.php?acao=form">Cadastrar</a></li>
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="javascript:void(0);">Financeiro</a></li>
        <li>Contas</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->


  
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->
            
            


    
    
    
    
    <div id="busca" style="display:{display_busca};">
      <p>&nbsp;</p>
      <h4 class="text-normal">Buscar</h4>
      {FORM_BUSCA}
      <p>&nbsp;</p>
    </div>
    <!-- BEGIN b_mostrar_registros -->
    <p class="text-center" style="padding-top:20px;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
      {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <div class="text-right">{paginacao}</div>
    	<div class="panel-white">
    <div class="panel-body">

    {TABELA_REGISTROS}
    </div></div>
    <div class="text-right">{paginacao}</div>
    <!-- END b_mostrar_registros -->
    <!-- BEGIN b_semregistro -->
    <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
    <!-- END b_semregistro -->
    
    
    
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->