<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
        <li class="pull-right"><a href="javascript:void(0);" id="filtro">Procurar</a></li>
        <li class="pull-right"><a href="{modulo_nome}.php">Listar tudo</a></li>
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="{modulo}.php">Log de Email Enviado</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->


  
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->
    <div>
      <p>Enviado em {data}</p>
      <p><strong>Para:</strong> {para}</p>
      <p><strong>C&oacute;pia:</strong> {copia}</p>
      <p><strong>Assunto: </strong>{assunto} </p>
      <p><strong>Mensagem: </strong></p>
      <div>{mensagem}</div>
      <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p>
  <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->