<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {
	function oculta(mostra){
		$('.sguias').css('display','none');
		mostra.css('display','');
	}
	
	oculta($('#guia3'));
	
	$('#aba0 a').click(function(){
		oculta($('#guia0'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba0').addClass('guiaativo');
	});
	$('#aba1 a').click(function(){
		oculta($('#guia1'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba1').addClass('guiaativo');
	});
	$('#aba2 a').click(function(){
		oculta($('#guia2'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba2').addClass('guiaativo');
	});
	$('#aba3 a').click(function(){
		oculta($('#guia3'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba3').addClass('guiaativo');
	});
	
});
</script>
<style type="text/css">
<!--
.tabList input {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.tabList h5 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.campoForm {
	width: 100% !important;
}
-->
</style>

<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="javascript:void(0);">Financeiro</a></li>
        <li class="active"><a href="faturas.php">Faturas</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->
            
<!--TEMA NOVO-->    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase; color:#0099CC" class="text-normal">Fatura Nº {num_fatura}</h4>
    <div id="guia3" class="sguias">
    	<div class="row">
        <div class="col-md-6">
          <div class="panel panel-white"><div class="panel-body">
          <table width="100%" border="0" cellspacing="1" cellpadding="4" class="table table-striped" style="margin-bottom:0 !important;">
              <tr>
                <td width="140" height="23" align="right">Nome do cliente:&nbsp;</td>
                <td>&nbsp;<a href="clientes.php?acao=resumo&ID={id_cliente}">{cliente_nome}</a> - <a href="clientes.php?acao=faturas&amp;ID={id_cliente}">Ver Faturas</a></td>
            </tr>
              <tr>
                <td height="23" align="right">Data da Fatura:&nbsp;</td>
                <td>&nbsp;{data_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right">Vencimento:&nbsp;</td>
                <td>&nbsp;{data_vencimento}</td>
              </tr>
              <tr>
                <td height="23" align="right">Total da Fatura:&nbsp;</td>
                <td>&nbsp;{total_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right">Valor em Aberto:&nbsp;</td>
                <td>&nbsp;{balanco}</td>
              </tr>
            </table>
        </div></div></div>
        <div class="col-md-6 text-center">
        <form id="form1" name="form1" method="post" action="estrutura/faturas/enviar.php?ID={txtId}" class="form-inline">
              <p class="{class_status}">
              <br />
              {status_fatura}</p>
            {data_pagamento}
              <div style="padding:0px;" class="form-group">
  <select name="email" id="email" class="selectForm form-control" style="margin:0 !important">
    <option value="confirmaPg">Confirmação de Pagamento</option>
    <option value="faturaCriada">Fatura Criada</option>
    <option value="lembreteFatura">Lembrete de fatura em aberto</option>
    <option value="avisoVencimento">Aviso de Fatura Vencida</option>
    <option value="segundoVencimento">Segundo Aviso de Fatura Vencida</option>
    <option value="terceiroVencimento">Terceiro Aviso de Fatura Vencida</option>
  </select>
                <input type="submit" name="button" id="button" value="Enviar Email" class="submit btn btn-default" />
              </div>
              <p style="padding:5px;">
                <input type="button" name="button2" id="button2" value="Vers&atilde;o para impress&atilde;o" onclick="window.open('../detalhesfatura.php?ID={txtId}');" class="cancel btn btn-default" />
                <!-- BEGIN b_btPagar -->
                <a class="btn btn-success" href="estrutura/faturas/multiPagamento.php?ID={txtId}">Marcar como Pago</a>
                <!-- END b_btPagar -->
                <!-- BEGIN b_btDevolver -->
                <a class="btn btn-danger" href="estrutura/faturas/reembolso.php?ID={txtId}">Marcar como Reembolsado</a>
                <!-- END b_btDevolver -->
                <input type="button" name="button3" id="cancelarFatura" onclick="window.location = 'estrutura/faturas/processar.php?post=5&fatura={txtId}'" value="Cancelar Fatura" class="cancel btn btn-default" />
              </p>
            </form>
        </div>
        </div>
        <h4 style="text-transform:uppercase; color:#0099CC" class="text-normal">Itens da Fatura</h4>
    <!-- BEGIN b_form_itens -->
    <form action="estrutura/{modulo_nome}/processar.php" method="post" name="itensFatura">
    <!-- END b_form_itens -->
    <div class="panel-white"><div class="panel-body">{TABELA_REGISTROS}</div></div>
    <p>&nbsp;</p>
    
    <!-- BEGIN b_form_itens2 -->
      <input name="txtId" type="hidden" id="txtId" value="{txtId}" />
      <input name="post" type="hidden" id="post" value="1" />
      <div class="form-actions visible-phone visible-xs">
      <input class="submit btn btn-primary btn-block" type="submit" value="Salvar Alterações" /></div>
      <div class="form-actions hidden-phone hidden-xs">
      <input class="submit btn btn-primary" type="submit" value="Salvar Alterações" /></div>
    </form>
    <!-- END b_form_itens2 -->
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase; color:#0099CC" class="text-normal">TRANSAÇÕES</h4>
    <!-- BEGIN b_s_transacao -->
    
    <!-- END b_s_transacao -->
   
    <div class="panel-white"><div class="panel-body">{TABELA_TRANSACOES}</div></div>
    </div>
    <!-- adicionar pagametno-->
    <div id="guia2" class="sguias">
      {CAMPOS_PAGAMENTO}
    </div>
    <!-- adicionar pagamento-->
    <div id="guia1" class="sguias">
      {CAMPOS_FORMULARIO}
    </div>
    <div id="guia0" class="sguias">
      {CAMPOS_NOTAS}
    </div>
    <p>&nbsp;</p>
    
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->