<script type="text/javascript">
		$(function(){
			// configura drag and drop
			$(".recebeDrag").sortable({
				connectWith: ['.recebeDrag'],
				placeholder: 'dragAjuda',
				scroll: true,
				revert: false,
				stop: function( e, ui ) {
					salvaPosicao();
				}
			});
			// minimizar boxes
			$('.lnk-minimizar').click(function(){
				var widget = $(this).parent().parent().parent().parent().parent().parent().parent().parent();
				
				//alert(widget.html());
				
				var ul = widget.find('.content');
				widget = widget.attr('id');
				if( $(ul).is(':visible') ) {
					$(ul).slideUp();
					$(this).find('img').attr('src','templates/{admin_nome_template}/imagens/+.gif');
					var status = 1;
				} else {
					$(ul).slideDown();
					$(this).find('img').attr('src','templates/{admin_nome_template}/imagens/-.gif');
					var status = 0;
				}
				
				$.ajax({
					type: "POST",
					url: "widgets/atualiza.php?ocultar",
					data: { widget:widget,status:status },
					success:function(res){
						if(res!=''){
							alert(res);	
						}
					},
				});
				
				return false;
			});
						
		});	

		var salvaPosicao = function() {
			var ordem = $('#drop-esquerda').sortable('toArray');
			ordem += '|' + $('#drop-direita').sortable('toArray');
			
			
			$.ajax({
				type: "POST",
				url: "widgets/atualiza.php",
				data: { widgets: ordem }
			});
			
		};
		</script>
		<style type="text/css">
<!--
.tit-drag {
	cursor:move;
}
-->
        </style>
		
  <div class="page-title">
    <h3>PAINEL DE CONTROLE</h3>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
      </ol>
  	</div>
  </div>
  
  <!-- layout Novo-->
  <div id="main-wrapper">
  

  
  
  	  <div class="row">
    	  <div class="col-md-12 center no-p">
  <!-- layout Novo-->
  
            <!-- BEGIN b_atualizacao -->
                <div style="padding:0 15px 15px 15px;">
                <div class="alert alert-block alert-info" style="margin-bottom:0 !important">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h4>Uma atualização está disponível</h4>
                  O HOSTMGR está ainda melhor, você deve atualiza-lo o mais breve possível <a href="ajuda.php?acao=atualizacoes"><strong>CLIQUE AQUI</strong></a>
                </div>
                </div>
            <!-- END b_atualizacao -->
        
            <!--Mensagem Retorno-->
            <div style="padding:0 15px;">{mensagem_retorno}</div>
            <!--Fim retorno-->
            
            
            {painelBlocos}
            
            
            <div id="drop-esquerda" class="col-md-6 recebeDrag">
              <!-- ITEM DRAG-->
              <!-- BEGIN b_boxEsquerda -->
              <div class="item-drag" id="{widget}">
                <div class="panel panel-white">
                  <div class="panel-heading clearfix">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><h3 class="panel-title">{titulo_widget}</h3></td>
                        <td align="right"><span class="icon-drag">&nbsp;</span> <span class="minimiza right"><a href="javascript:void(0);" class="lnk-minimizar"><img src="templates/{admin_nome_template}/imagens/{ac}.gif" /></a></span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="content panel-body"{display}>{conteudoWidget}</div>
                </div>
              </div>
              <!-- END b_boxEsquerda -->
              <!--fim-->
            </div>
            
            <div id="drop-direita" class="col-md-6 recebeDrag">
              <!-- ITEM DRAG-->
              <!-- BEGIN b_boxDireita -->
              <div class="item-drag" id="{widget}">
                <div class="panel panel-white">
                  <div class="panel-heading clearfix">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><h3 class="panel-title">{titulo_widget}</h3></td>
                        <td align="right"><span class="icon-drag">&nbsp;</span> <span class="minimiza right"><a href="javascript:void(0);" class="lnk-minimizar"><img src="templates/{admin_nome_template}/imagens/{ac}.gif" /></a></span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="content panel-body"{display}>{conteudoWidget}</div>
                </div>
              </div>
              <!-- END b_boxDireita -->
              <!--fim-->
            </div>
      
      <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->