    <div class="alert alert-block{alertError}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>{mensagem_resposta_tipo}</h4>
      {mensagem_resposta}
    </div>