<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {

$('#txtCliente').keyup(function(){
	//alert('teste');
	$.ajax({
        type: "POST",
        url: "estrutura/clientes/ajaxBuscar.php?termo="+$(this).val(),
		success: function(result){
			var alvo = $('#alvoCliente');
			alvo.html(result);
			alvo.css('display','block');
		}
	});
});

$('#txtCliente').focusout(function(){
	setTimeout(function(){
	$('#alvoCliente').html();
	$('#alvoCliente').css('display','none');},250);
});

});
</script>
<style type="text/css">
<!--
#alvoCliente {
	left: 0px;
	top: 7px;
}
-->
</style>
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="pedidos.php">Pedidos</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->

<!--Mensagem Retorno-->
{mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
    <!--TEMA NOVO-->
    <p>&nbsp;</p>
    <p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
    <form id="form" name="form" class="form-horizontal" method="post" action="estrutura/pedidos/processarNovoPedido.php" enctype="multipart/form-data">
      <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Cliente:</label>
			<div class="controls col-md-10">

			  <input obgr="sim" name="txtCliente" type="text" class="campoForm input-xlarge form-control" id="txtCliente" value="{ID_CLIENTE}" style="width:150px">
	    <span class="help-inline"><div style="position:relative"><div id="alvoCliente" style="position: absolute; display: none; z-index:1000"></div></div><div id="nomeCliente"></div></span></div></div>
      <div class="control-group form-group">

        <label class="control-label col-md-2" for="inputEmail">Forma de Pagamento:</label>
        <div class="controls col-md-10">

          <select name="txtPagamento" class="selectForm input-xlarge form-control" id="txtPagamento" style="width:300px;">
			{m_pagar}
          </select>
          <span class="badge badge-important obrigatorio help-inline">!</span></div>
      </div>
      <div class="control-group form-group">

        <label class="control-label col-md-2" for="inputEmail">Código promocional:</label>
        <div class="controls col-md-10">

          <select name="txtPromocao" class="selectForm input-xlarge form-control" id="txtPromocao" style="width:300px;">
            <option value="">---</option>
            {promocoes}
          </select>
        </div>
      </div>
      <h4>PRODUTO/SERVIÇO</h4>
      <div class="prod1">
        <div class="control-group form-group">

          <label class="control-label col-md-2" for="inputEmail">Produto/Serviço:</label>
          <div class="controls col-md-10">

            <select name="txtProduto[]" class="selectForm input-xlarge form-control" id="txtProduto[]" style="width:300px;">
              <option value="">---</option>
              {opcoesProdutos}           
            </select>
            <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group form-group">

          <label class="control-label col-md-2" for="inputEmail">Domínio:</label>
          <div class="controls col-md-10">

            <input obgr="sim" name="txtDominio[]" type="text" class="campoForm input-xlarge form-control" id="txtDominio[]" value="" style="width:286px;">
            </div>
        </div>
        <div class="control-group form-group">

          <label class="control-label col-md-2" for="inputEmail">Ciclo de Pagamento:</label>
          <div class="controls col-md-10">

            <select name="txtCiclo[]" class="selectForm input-xlarge form-control" id="txtCiclo[]" style="width:300px;">
                    <option value="">---</option>
                    <option value="-1">Gratuito</option>
                    <option value="1" selected="selected">Mensal</option>
                    <option value="3">Trimestral</option>
                    <option value="6">Semestral</option>
                    <option value="12">Anual</option>
                    <option value="24">Bienal</option>
                  </select>
            <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Quantidade:</label>
			<div class="controls col-md-10">
<input obgr="sim" name="txtQuantidade[]" type="text" class="campoForm input-xlarge form-control" id="txtQuantidade[]" value="1" style="width:60px;"> <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Substituir Preço:</label>
			<div class="controls col-md-10">
<input obgr="sim" name="txtSPreco[]" type="text" class="campoForm input-xlarge form-control" id="txtSPreco[]" value="" style="width:120px;"></div>
        </div>
        <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Ação de Domínio:</label>
			<div class="controls col-md-10">
<select name="txtRegistro[]" class="selectForm input-xlarge form-control" id="txtRegistro[]" style="width:300px;">
                    <option value="" selected="selected">Nenhum</option>
                    <option value="R">Registrar</option>
                    <option value="T">Transferir</option>
                  </select> </div>
        </div>
        <hr size="1" color="#E5E5E5" />
      </div>
      <div class="prods">
      </div>
      <a href="#" class="addProduto">Add outro produto</a>
      <h4>OPÇÕES DO PEDIDO</h4>
      <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Confirmar Pedido:</label>
			<div class="controls col-md-10">

			  <label class="checkbox"><input type="checkbox" name="txtConfirmar" id="txtConfirmar" value="S" checked="checked" /> Enviar Email</label></div></div>
      <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Faturamento:</label>
			<div class="controls col-md-10">

			  <label>
                  <input type="checkbox" name="txtGerarFatura" id="txtGerarFatura" value="S" checked="checked" />
                  Gerar Fatura</label>
                  <label>
                  <input type="checkbox" name="txtConfirmarFatura" id="txtConfirmarFatura" value="S" checked="checked" />
                  Enviar Email</label></div></div>
        <div class="control-group form-group">

		    <label class="control-label col-md-2" for="inputEmail">Status do Pedido:</label>
			<div class="controls col-md-10">

			  <select name="txtStatus" class="selectForm" id="txtStatus">
                    <option value="S">Aceito</option>
                    <option value="N" selected="selected">Pendente</option>
                  </select></div></div>
                  
                  
                  <input name="txtId_pedido" type="hidden" id="txtId_pedido" value="" />
                  
      <div class="form-actions hidden-xs">
              
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar" class="submit btn btn-primary">
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-default" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=pedidos';">
            </div>
            <div class="form-actions visible-xs">
              
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar" class="submit btn btn-primary btn-block">
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-block" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=pedidos';">
            </div>
    </form>
    <script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtPagamento.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>
<!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->