<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="javascript:void(0);">Pedidos</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->
	<h3 style="text-transform:uppercase">Pedido Nº {num_pedido}</h3>
    <div class="row">
        <div class="col-md-6">
          <div class="panel panel-white"><div class="panel-body">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-condensed">
          <tr>
            <td width="186" height="23" align="right">Nome do cliente:&nbsp;</td>
            <td>&nbsp;<a href="clientes.php?acao=resumo&amp;ID={id_cliente}">{cliente_nome}</a></td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Pedido Nº:&nbsp;</td>
            <td>&nbsp;{num_pedido}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Data:&nbsp;</td>
            <td>&nbsp;{data_pedido}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Código Promocional:&nbsp;</td>
            <td>&nbsp;{codigo_promocional}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Endereço IP:&nbsp;</td>
            <td>&nbsp;{endereco_ip} - <a href="http://www.geoiptool.com/en/?IP={endereco_ip}" target="_blank">Pesquisar</a> | <a href="estrutura/banimentoip/banir.php?m=pedidos&ID={num_pedido}&IP={endereco_ip}">Banir</a></td>
          </tr>
        </table>
      </div>
      </div></div>
        <div class="col-md-6">
          <div class="panel panel-white"><div class="panel-body">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-condensed">
          <tr>
            <td width="186" height="23" align="right">Forma de pagamento:&nbsp;</td>
            <td>&nbsp;{cliente_nome}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Valor:&nbsp;</td>
            <td>&nbsp;{total_fatura}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Fatura:&nbsp;</td>
            <td>&nbsp;{num_fatura}</td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Status Pagamento:&nbsp;</td>
            <td>&nbsp;<span class="{class_status}">{status_fatura}</span></td>
          </tr>
          <tr>
            <td width="186" height="23" align="right">Afiliado:&nbsp;</td>
            <td>&nbsp;{if ({id_afiliado} < 1)} {afiliado} {else} <a href="afiliados.php?acao=form&amp;ID={id_afiliado}"><strong>{afiliado}</strong></a> {end if} - <a href="#">Atribuição Manual</a></td>
          </tr>
        </table></div></div>
      </div>
    </div>
    <h4 style="text-transform:uppercase">Itens do Pedido</h4>
    <p>&nbsp;</p>
    <form action="estrutura/{modulo_nome}/processar.php?acao=aceitar&pedido={txtId}" method="post" name="itensFatura">
    <div style="overflow:auto">
    <div class="panel-white"><div class="panel-body">
    <table class="tabList table table-striped table-hover" align="center" cellpadding="0" cellspacing="0">
        
            <thead>
           <tr> 
          <th class="superior">Item</th>
          <th class="superior">Descrição</th>
          <th class="superior">Ciclo de Pagamento</th>
          <th class="superior">Valor</th>
          <th class="superior">Status</th>
          </tr>
          </thead>
          <tbody>
          <!-- BEGIN b_produto -->  
        <tr class="lista3"> 
          <td><a href="clientes.php?acao={id_produto}">{tipo_hosp}</a></td>
          <td>{descricao}</td>
          <td>{ciclo_pagamento}</td>
          <td>{valor}</td>
          <td>{status_produto}</td>
          </tr>
          <!-- BEGIN b_modulo -->
          <tr class="lista4">
          <td colspan="5"><div class="form-inline">Servidor: <select name="txtServidor[{item}]" class="selectForm" id="txtServidor{item}">
				    <option value="">---</option>
                    {servidores}</select>
            &nbsp;&nbsp; 
            Login: <input obgr="sim" name="txtLogin[{item}]" type="text" class="campoForm" id="txtLogin{item}" value="{login}" style="width:85px"> &nbsp;&nbsp;Senha:
<input obgr="sim" name="txtSenha[{item}]" type="text" class="campoForm" id="txtSenha{item}" value="{senha}" style="width:90px">
&nbsp;&nbsp;&nbsp;&nbsp;
<input name="txtIdProduto[{item}]" type="hidden" id="tipoProduto{item}3" value="{id_produtoN}" />
<input name="txtTipoProduto[{item}]" type="hidden" id="txtTipoProduto{item}2" value="H" />
<label class="checkbox"><input name="txtExeModulo[{item}]" type="checkbox" id="txtExeModulo{item}" value="S"{exeModulo} /> Executar função criar (Módulo)&nbsp;&nbsp;&nbsp;&nbsp;
</label> <label class="checkbox"><input name="txtSendMail[{item}]" type="checkbox" id="txtSendMail{item}" value="S" checked="checked" /> Enviar email com os dados</label></div></td>
          </tr>
          <!-- END b_modulo -->
          <!-- BEGIN b_moduloDominio -->
          <tr class="lista4">
          <td colspan="5"><labe><input type="checkbox" name="txtSendMail[{item}]" id="txtSendMail{item}" value="S" /> Enviar email de configuração</label>
            <input name="txtTipoProduto[{item}]" type="hidden" id="txtTipoProduto{item}" value="D" /><input name="txtIdProduto[{item}]" type="hidden" id="tipoProduto{item}3" value="{id_produtoN}" /></td>
          </tr>
          <!-- END b_moduloDominio -->
          <!-- END b_produto -->
        </tbody></table></div></div>
    </div>
    <p>&nbsp;</p>
    
    <p class="text-center hidden-phone hidden-xs">
      <input name="post" type="hidden" id="post" value="1" />
      <input name="btAceitarPedido" type="submit" class="submit btn btn-success" id="btAceitarPedido" value="Aceitar Pedido" /> 
      <input name="btCancelarPedido" type="button" class="cancel btn btn-danger" id="btCancelarPedido" onclick="cancelarPedido({txtId});" value="Cancelar Pedido" />
      <input name="btPedidoPendente" type="button" class="cancel btn btn-warning" id="btPedidoPendente" onclick="pedidoPendente({txtId});" value="Marcar como Pendente" />
    </p>
    
    <p class="visible-phone visible-xs">
      <input name="btAceitarPedido" type="submit" class="submit btn btn-success btn-block" id="btAceitarPedido1" value="Aceitar Pedido" /> 
      <input name="btCancelarPedido" type="button" class="cancel btn btn-danger btn-block" id="btCancelarPedido1" onclick="cancelarPedido({txtId});" value="Cancelar Pedido" />
      <input name="btPedidoPendente" type="button" class="cancel btn btn-warning btn-block" id="btPedidoPendente1" onclick="pedidoPendente({txtId});" value="Marcar como Pendente" />
    </p>
    </form>
    <p>&nbsp;</p>
    <h4 style="text-transform:uppercase">TRANSAÇÕES</h4>
    <p>&nbsp;</p>
    <!-- BEGIN b_s_transacao -->
    
    <!-- END b_s_transacao -->
   
    <div class="panel-white"><div class="panel-body">{TABELA_TRANSACOES}</div></div>
    <p>&nbsp;</p>
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->