<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="{modulo_nome}.php">Produtos</a></li>
        <li>Preços de Domínios</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->


<!--TEMA NOVO-->
    <p>para desativar um dos ciclos, configure o preço como -1</p>
    <p>&nbsp;</p>
      <form id="form" name="form" method="post" action="estrutura/precosdominios/processar.php" enctype="multipart/form-data">
      
      <div class="panel-white">
      <div class="panel-body">
      <div class="table-responsive">
      <table class="tabList table table-striped table-hover" align="center" cellpadding="0" cellspacing="0">
        <thead><tr>
            
          <th class="superior">TLD/Domínio</th>
          <th class="superior">Registrante</th>
          <th class="superior">Preço Anual</th>
          <th class="superior">Preço Bienal</th>
          <th class="superior">Preço Trienal</th>
          <th class="superior">Subdominio</th>
          <th width="90" class="superior"><div style="text-align:center">Ações</div></th>
          </tr>
        </thead>
          <tbody>
            <!-- BEGIN DOMINIOS -->
        <tr> 
          <td><input obgr="sim" name="txtExt[{id_tld}]" type="text" class="campoForm form-control" id="txtExt[{id_tld}]" value="{txtTld}" style="width:120px" /></td>
          <td>
            <select name="txtRegistrante[{id_tld}]" id="txtRegistrante_{id_tld}" class="campoForm form-control">
            {optionsRegistrante}
            </select></td>
          <td><input obgr="sim" name="txtPreco1[{id_tld}]" type="text" class="campoForm form-control" id="txtPreco1[{id_tld}]" value="{txtPreco1}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco2[{id_tld}]" type="text" class="campoForm form-control" id="txtPreco2[{id_tld}]" value="{txtPreco2}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco3[{id_tld}]" type="text" class="campoForm form-control" id="txtPreco3[{id_tld}]" value="{txtPreco3}" style="width:70px" /></td>
          <td><input name="txtSubdominio[{id_tld}]" type="checkbox" id="txtSubdominio[{id_tld}]" value="S"{checkedSub} /></td>
          <td width="90"><div style="text-align:center"><a href="estrutura/precosdominios/excluir.php?ID={id_tld}" class="lnkExcluir">apagar</a></div></td>
          </tr>
          <!-- END DOMINIOS -->
          <tr>
            <td><input obgr="sim" name="txtExt[novo]" type="text" class="campoForm form-control" id="txtProduto5" value="" style="width:120px" /></td>
            <td><select name="txtRegistrante[novo]" id="txtRegistrante_novo" class="campoForm form-control">
            {optionsRegistranteNovo}
            </select></td>
            <td><input obgr="sim" name="txtPreco1[novo]" type="text" class="campoForm form-control" id="txtProduto6" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco2[novo]" type="text" class="campoForm form-control" id="txtProduto7" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco3[novo]" type="text" class="campoForm form-control" id="txtProduto8" value="" style="width:70px" /></td>
            <td><input name="txtSubdominio[novo]" type="checkbox" id="txtSubdominio[novo]" value="S" /></td>
            <td>&nbsp;</td>
          </tr>
        </tbody></table>
        </div>
        <div><div class="form-action hidden-phone hidden-xs"><input name="txtId_produto" type="hidden" id="txtId_produto" value="" />
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-default" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=precosdominios';" />
            </div>
              <div class="form-action visible-phone visible-xs">
                <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary btn-block" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-block" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=precosdominios';" />
              </div></div>
      </div></div>
      
    </form>
    <p>&nbsp;</p>

    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->