<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="{modulo_nome}.php">Produtos</a></li>
        <li>Preço</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->



<div class="row-fluid">
    <div class="span12" style="padding-bottom:15px;">
    <form action="" method="post" name="formListaServidores" id="formListaServidores" class="form-inline">
    <label>Servidor Padrão:&nbsp;</label>
        <div class="input-append"><select name="txtListaServidores" class="selectForm form-control" id="txtListaServidores">
		    {select_servidores}
		  </select><input type="submit" name="button" id="button" value="Ok" class="submit btn btn-default" />
        </div>
    </form>
    </div>
    </div>
    <fieldset>
    <legend><h4 style="text-transform:uppercase">INTEGRAÇÃO - {modulo_integracao}</h4></legend>
    <div>{CAMPOS_FORMULARIO}</div>
    </fieldset>
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->