<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script type="text/javascript" language="javascript">
	var timeCrono; 
	var hor = 0;
	var min = 0;
	var seg = 0;
	var startTime = 0;
	var start = 0;
	var realTime=0;
	var Stop=0;
	
	function StopCrono(){
		Stop=1;
	}
	
	function StartCrono() {
	
		if (seg + 1 > 59) { 
		min+= 1 ;
		}
		if (min > 59) {
		min = 0;
		hor+= 1;
		}
		var time = new Date(); 
		if (time.getSeconds() >= start) {
		seg = time.getSeconds() - start;
		} 
		else {
		seg = 60 + (time.getSeconds() - start);
		}
		timeCrono= (hor < 10) ? "0" + hor : hor;
		timeCrono+= ((min < 10) ? ":0" : ":") + min;
		timeCrono+= ((seg < 10) ? ":0" : ":") + seg;
	
		if(Stop==0){
			$('#tempo').html(timeCrono);
			setTimeout("StartCrono()",1000);
			realTime+=1;
		}else{
			///alert(realTime-1);
			
			//window.location="estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&tempo="+realTime;
			
			Stop=0;
			$('#tempo').html('00:00:00');
			//zera os dados
			timeCrono=0;
			hor = 0;
			min = 0;
			seg = 0;
			startTime = new Date(); 
			start = 0;
			realTime=0;
		}
		
	} //--> 

	$(document).ready(function() {
		$('#start').click(function(){
			
			startTime = new Date(); 
			start=startTime.getSeconds();
			StartCrono();
			
			
			$.ajax({
				type: "POST",
				url: "estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&start=1",
				//data: { busca: termoBuscaTopo },
				success:function(retorno) {
					//resp.html(retorno);
					if(retorno!='ok'){
						alert(retorno);
					}
				}
			});
			
			
			return false;
		});
		$('#stop').click(function(){
			StopCrono();
			$.ajax({
				type: "POST",
				url: "estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&stop=1",
				//data: { busca: termoBuscaTopo },
				success:function(retorno) {
					//resp.html(retorno);
					if(retorno!='ok'){
						alert(retorno);
					}
				}
			});
			return false;
		});
		
		$('#start1').click(function(){
			
			startTime = new Date(); 
			start=startTime.getSeconds();
			StartCrono();
			
			$.ajax({
				type: "POST",
				url: "estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&start=1",
				//data: { busca: termoBuscaTopo },
				success:function(retorno) {
					//resp.html(retorno);
					if(retorno!='ok'){
						alert(retorno);
					}
				}
			});
			
			return false;
		});
		$('#stop1').click(function(){
			StopCrono();
			$.ajax({
				type: "POST",
				url: "estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&stop=1",
				//data: { busca: termoBuscaTopo },
				success:function(retorno) {
					//resp.html(retorno);
					if(retorno!='ok'){
						alert(retorno);
					}
				}
			});
			return false;
		});
		
	});
</script>
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
              <!--<li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Categorias</a>{text_guia}</a></li>-->
      <li style="float:right"{class_ativo}><a href="javascript:history.back(1);">Voltar</a></li>
      <!-- END b_itemGuia -->
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="projetos.php">Projetos</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->

<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div>
  <div>
<!--TEMA NOVO-->
      {CAMPOS_FORMULARIO}
      
      
      <!-- BEGIN TRABALHAR TAREFA -->
      
      
    <!-- BEGIN TIMER -->
    <p>&nbsp;</p>
    <h2 align="center">TRABALHAR NA TAREFA</h2>
    <p id="tempo" style="font-size:28px; font-weight:bold; line-height:30px; text-align:center; color:#DD0000">00:00:00</p>
      <div class="form-horizontal" style="padding-top:20px"><div class="control-group">
		    <label class="control-label  hidden-xs" for="inputEmail">&nbsp;</label>
			<div class="controls text-center"><a class="btn  btn-primary hidden-xs" href="#" id="start">Iniciar</a>
            <a class="btn btn-default hidden-xs" href="#" id="stop">Parar</a>
            <a class="btn btn-primary visible-xs btn-block" href="#" id="start1">Iniciar</a>
        <a class="btn btn-default visible-xs btn-block" href="#" id="stop1">Parar</a></div></div>
	  </div>
      <!-- END TIMER -->
      <!-- BEGIN TAREFA_REGISTROS -->
      <h2 align="center">HISTORICO</h2>
      {TABELA_REGISTROS}
      <p style="padding-bottom:15px;"><strong>Tempo total trabalhado:</strong> {tempoTotal}</p>
      <!-- END TAREFA_REGISTROS -->
      
      <!-- BEGIN TAREFA_SEM_REGISTROS -->
      <h2 align="center">HISTORICO</h2>
      <div align="center" style="height:100px; line-height:100px;">Dados Não encontrados</div>
      <!-- END TAREFA_SEM_REGISTROS -->
      <!-- END TRABALHAR TAREFA -->
      
      </div></div>
      
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->