<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {

$('#txtCliente').keyup(function(){
	//alert('teste');
	$.ajax({
        type: "POST",
        url: "estrutura/clientes/ajaxBuscar.php?termo="+$(this).val(),
		success: function(result){
			var alvo = $('#alvoCliente');
			alvo.html(result);
			alvo.css('display','block');
		}
	});
});

$('#txtCliente').focusout(function(){
	setTimeout(function(){
	$('#alvoCliente').html();
	$('#alvoCliente').css('display','none');},250);
});

});
</script>
<style type="text/css">
<!--
#alvoCliente {
	left: -172px;
	top: 18px;
}
-->
</style>


<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
              <!--<li style="float:right"{class_ativo}><a href="{modulo_nome}.php">Categorias</a>{text_guia}</a></li>-->
      <li style="float:right"{class_ativo}><a href="javascript:history.back(1);">Voltar</a></li>
      <!-- END b_itemGuia -->
      </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="projetos.php">Projetos</a></li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->

<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
      {CAMPOS_FORMULARIO}
   </div></div>
    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->