<script type="text/javascript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>

<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-9" style="padding-left:15px !important">{titulo_modulo} &raquo; FATURAMENTO</h3>
      <div class="col-md-3">
      <form name="form" id="form" style="margin-bottom:0px;">
  	  <div align="right">
  	    <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)" class="form-control">
  	      <option value="#" selected="selected">Selecione um ano</option>
          <option value="#" disabled="disabled">---</option>
          {OPTION_ANOS}
        </select>
        </div>
  	  </form>
    </div>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li class="active"><a href="javascript:void(0);">Relatórios</a></li>
        <li>Faturamento</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->




<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->

<div id="busca" style="display:{display_busca};">
<h4 style="text-transform:uppercase">Buscar</h4>
{FORM_BUSCA}
</div>
  <!-- BEGIN b_mostrar_registros -->
    <div class="text-right">{paginacao}</div>
    <div class="panel-white">
    <div class="panel-body">

    {TABELA_REGISTROS}
    </div></div>
	<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->

    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->