<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->

<div class="page-title">
  <div class="row">
    <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
    <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
      <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="index.php">Dashboard</a></li>
      <li><a href="javascript:void(0);">Suporte</a></li>
      <li class="active"><a href="{modulo_nome}.php">Tickets de Suporte</a></li>
    </ol>
  </div>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12 center">
      <!-- layout Novo-->
      <!--Mensagem Retorno-->
      {mensagem_retorno}
      <!--Fim retorno-->
      <h4 style="text-transform:uppercase">#{id_ticket} {assunto}</h4>
    </div>
    <div class="col-md-12 center no-p">
      <div class="col-md-9">
        <div class="panel panel-white">
          <div class="panel-body">
            <table width="100%" border="0" cellspacing="1" cellpadding="4" class="table table-striped" style="margin-bottom:0px;">
              <tr>
                <td width="160" height="23" align="right">Remetente:&nbsp;</td>
                <td>&nbsp;{remetente}</td>
              </tr>
              <tr>
                <td height="23" align="right">Departamento:&nbsp;</td>
                <td>&nbsp;{departamento}</td>
              </tr>
              <tr>
                <td height="23" align="right">Aberto em:&nbsp;</td>
                <td>&nbsp;{data1}</td>
              </tr>
              <tr>
                <td height="23" align="right">Última Resposta:&nbsp;</td>
                <td>&nbsp;{data2}</td>
              </tr>
              <tr>
                <td height="23" align="right">Endereço IP:&nbsp;</td>
                <td>&nbsp;{endereco_ip} - <a href="http://www.geoiptool.com/en/?IP={endereco_ip}" target="_blank">Pesquisar</a> | <a href="estrutura/banimentoip/banir.php?m=ticketssuporte&ID={id_ticket}&IP={endereco_ip}">Banir</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">Ações</h3>
          </div>
          <div class="panel-body">
            <table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
              <tr>
                <td height="23" class="text-left"><strong>Status:&nbsp;</strong>
                  <select name="txtTicketStatus" id="txtTicketStatus" class="selectForm selectTk form-control">
                    <option value="0" class="ticketAberto"{if ({status} == 0)} selected="selected" {end if}>Aberto</option>
                    <option value="1" class="ticketRespondido"{if ({status} == 1)} selected="selected" {end if}>Respondido</option>
                    <option value="2" class="ticketRespondidoC"{if ({status} == 2)} selected="selected" {end if}>Respondido pelo cliente</option>
                    <option value="3" class="ticketProcesso"{if ({status} == 3)} selected="selected" {end if}>Em processo</option>
                    <option value="4" class="ticketFechado"{if ({status} == 4)} selected="selected" {end if}>Fechado</option>
                  </select></td>
              </tr>
              <tr>
                <td height="27" class="text-left">&nbsp;</td>
              </tr>
              <tr>
                <td height="45" class="text-left"><strong>Prioridade:</strong>
                  <select name="txtTicketPrioridade" id="txtTicketPrioridade" class="selectForm form-control">
                    <option value="2"{if ({prioridade} == 2)} selected="selected" {end if}>Alta</option>
                    <option value="1"{if ({prioridade} == 1)} selected="selected" {end if}>Media</option>
                    <option value="0"{if ({prioridade} == 0)} selected="selected" {end if}>Baixa</option>
                  </select></td>
              </tr>
              <tr>
                <td height="27" class="text-left">&nbsp;</td>
              </tr>
              <tr>
                <td height="45" class="text-left"><strong>Departamento:</strong>
                  <select name="txtTicketDepartamento" id="txtTicketDepartamento" class="selectForm form-control">
                    {selectDepartamento}
                  </select></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center no-p">
      <div>&nbsp;</div>
      <div class="col-md-9">
        <h4 style="text-transform:uppercase">Adicionar Resposta</h4>
      </div>
      <div class="col-md-3" style="text-align:right">
        <select id="loadResposta" class="input-block-level form-control">
          <option>Carregar resposta predefinida...</option>
          <option disabled="disabled">---</option>
          
        {respostasPredefinidas}
      
        </select>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12 center">
      <form action="estrutura/ticketssuporte/responder.php" method="post" enctype="multipart/form-data">
        <div style="display:block; clear:both; padding:15px 0;">
          <textarea name="txtResposta" id="txtResposta" cols="45" rows="12" class="texareaForm input-block-level form-control">


{assinaturaTicket}</textarea>
        </div>
        <div class="form-inline col-md-12 no-p" style="padding-bottom:15px;"><strong>Anexar arquivo:</strong>
          <input type="file" name="arquivo" id="arquivo" class="campoForm form-control" style="width:300px; max-width:100% !important;" />
          (.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</div>
        <div class="col-md-3 no-p">
          <select name="txtNovoStatus" class="selectForm input-block-level form-control" id="txtNovoStatus">
            <option value="1" selected="selected">Marcar como RESPONDIDO ao enviar</option>
            <option value="3">Marcar como EM PROCESSO ao enviar</option>
            <option value="4">Marcar como FECHADO ao enviar</option>
          </select>
        </div>
        <div class="col-md-9 text-right hidden-phone hidden-xs no-p">
          <div class="col-md-9 no-p">&nbsp;</div>
          <div class="col-md-3 no-p">
            <input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit btn btn-info btn-block" style="margin-right:0px !important ;">
            <input name="txtTicket" type="hidden" id="txtTicket" value="{id_ticket}" />
          </div>
        </div>
        <div class="col-md-9 visible-phone visible-xs no-p" style="padding-top:15px;">
          <input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit btn btn-primary btn-block" style="margin-right:0px !important ;">
        </div>
      </form>
      <p>&nbsp;</p>
      <!-- BEGIN b_respostas -->
      <h2 class="user" style="margin-top:8px;">{autor_respota}</h2>
      <div class="respticket panel panel-withe" style="margin-bottom:4px">
        <div class="bg panel-body">
          <div class="respostaticket"> {mensagem_enviada} </div>
          <!-- BEGIN b_anexo -->
          <div style="text-align:right"><strong>Anexo: </strong><a href="estrutura/ticketssuporte/download.php?ticket={id_ticket}&resposta={idResposta}&anexo={arqAnexo}">{anexo}</a></div>
          <!-- END b_anexo -->
        </div>
      </div>
      <div class="dataresp text-right" style="padding-top:5px; padding-bottom:14px;"><strong>Enviada em</strong> {data_resposta}</div>
      <!-- END b_respostas -->
      <div>&nbsp;</div>
      <!-- layout Novo-->
    </div>
  </div>
  <!-- Row -->
</div>
<!-- Main Wrapper -->
<!-- layout Novo-->
