<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<!-- layout Novo-->		
  <div class="page-title">
    <div class="row">
      <h3 class="col-md-6" style="padding-left:15px !important">{titulo_modulo_cliente}</h3>
      <ul class="nav nav-pills col-md-6" style="margin-bottom:0px;">
    <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  	  </ul>
    </div>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index.php">Dashboard</a></li>
        <li><a href="javascript:void(0);">Suporte</a></li>
        <li class="active">Departamentos</li>
      </ol>
  	</div>
  </div>
  
  <div id="main-wrapper">
  	  <div class="row">
    	  <div class="col-md-12 center">
  <!-- layout Novo-->
  
  
  <!--Mensagem Retorno-->
            {mensagem_retorno}
            <!--Fim retorno-->


<!--TEMA NOVO-->
    <div>
      {CAMPOS_FORMULARIO}
    </div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p align="center"><strong>ATENÇÃO:</strong> Por meio dessa automação é possível importar seus emails recebidos para o sistema de tickets, desde que o cliente envie a mensagem a partir de um email cadastrado no sistema.<br />
<br />
O HOSTMGR não importará emails antigos. Nesse caso, a automação passa a funcionar para emails recebidos a partir da data de sua configuração.<br />
<br />
Você deve configurar o seu cron com um dos comandos disponíveis abaixo. <strong>OBS.</strong> Só é necessário fazer uma configuração do cron independente da quantidade de departamentos.</p><p>&nbsp;</p>
    <p align="center"><input obgr="sim" name="cron" type="text" class="campoForm input-xlarge form-control" id="cron" value="curl -s -O /dev/null {imapCron}" style="width:600px; max-width:100% !important; text-align:center; cursor: text !important;" readonly="readonly" onclick="this.select()"></p>
	
	<p style="line-height:25px; text-align:center">OU</p><p align="center"><input obgr="sim" name="cron" type="text" class="campoForm input-xlarge form-control" id="cron" value="wget -s -O /dev/null {imapCron}" style="width:600px; max-width:100% !important; text-align:center;  cursor: text !important;" readonly="readonly" onclick="this.select()"></p>
	
	<p style="line-height:25px; text-align:center">OU</p><p align="center"><input obgr="sim" name="cron" type="text" class="campoForm input-xlarge form-control" id="cron" value="GET {imapCron}" style="width:600px; max-width:100% !important; text-align:center; cursor: text !important;" readonly="readonly" onclick="this.select()"></p>
	<p>&nbsp;</p>

    <!-- layout Novo-->
      </div>
          </div><!-- Row -->
              </div><!-- Main Wrapper -->
      <!-- layout Novo-->