/*
Default accent color

*/
a:hover {
	color:#333;
}
#inner-headline ul.breadcrumb li a {
	color:#333;
}

.icon-bgdark{
	background-color:#333 !important;
}

/* heading */
h1 span.colored, h2 span.colored,h3 span.colored,h4 span.colored,h5 span.colored,h6 span.colored {
	color:#333;
}

/* menu */
.navbar nav ul.nav li.dropdown ul.dropdown-menu li a:active,.navbar nav ul.nav li.dropdown ul.dropdown-menu li a:focus {
  background: #333;
}
ul.topmenu li a:hover {
	color:#333;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: #333;
}

header ul.nav .dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background: #333;
}

/* slider */
.camera_prev > span:before {
  background: #333;
}
.camera_next > span:before {
  background: #333;
}

/* parallax c slider */
.da-arrows span.da-arrows-prev:before {
  background: #333;
}
.da-arrows span.da-arrows-next:before {
  background: #333;
}
.da-slide .da-link:hover{
	background: #333;
	border: 4px solid #333;
}

.da-dots span{
	background: #333;
}


/* form */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #333;
}

form#contactform .validation {
	color:#333;
}
#sendmessage {
	border:1px solid #333;

}

/* tabs */
div.tabs  ul.nav-tabs li.active a {
	border-top: 2px solid #333;
	color:#333;
}
div.tabbable.tabs-left  ul.nav-tabs li.active a {
	border-left: 2px solid #333;
		color:#333;
}
div.tabbable.tabs-right  ul.nav-tabs li.active a {
	border-right: 2px solid #333;
		color:#333;
}

.accordion-heading a.active,.accordion-heading a.active i {
	color:#333;
}

/* icon */
[class^="icon-"].active {
	color:#333;
}

a i.icon-bglight:hover,
a i.icon-bgdark:hover {
  background: #333;
}
i.icon-bglight.active {
  background: #333;
}

i.icon-bgdark.active {
  background: #333;
}
ul.styledlist li:before {
	color:#333;
}

/* logo icon */
.logo h1 [class^="icon-"] {
	color:#333;
}

.footer_logo h3 [class^="icon-"] {
	color:#333;
}

/* CTA */
.cta-text h2 span {
	color:#333;
}

/*-- button -- */
.btn-theme {
  border:1px solid #333;
  background: #333;
}

/* content */
.box:hover .text h4 {
	color:#333;
}
#inner-headline ul.breadcrumb li a:hover {
	color:#333;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #333;
}

/* blog */
article .post-heading h3 a {
	text-decoration:none;
	color:#333;
}

.post-entry a.readmore:hover {
	color:#333;
}

ul.cat li a:hover, ul.folio-detail li a:hover {
	color:#333;
}

.meta-post a,.meta-post ul li i {
  color: #333;
}


.meta-bottom li a:hover {
	color:#333;
}

#pagination a:hover {
  background: #333;
}


/* widgets */
ul.popular li a {
	color:#333;
}

/* component */
.pagination ul > .active > a,
.pagination ul > .active > span {
  background: #333;
  border:1px solid #333;
}
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover {
  background: #333;
  border:1px solid #333;
}
.pagination ul > li > a:hover{
  color:#333;
}

.pullquote-left {
	border-left:5px solid #333;
}

.pullquote-right {
	border-right:5px solid #333;
}

.pricing-box-wrap.special .pricing-heading {
	background: #333;
}

/* portfolio */
ul.portfolio-categ.filter li.active a {
  color:#333;
}

/* portfolio */
ul.team-categ.filter li.active a {
  color:#333;
}

.grid figcaption {
	background: #333;
}

/* footer */
footer a:hover {
	color:#333;
}
footer ul.link-list li a:hover {
	color:#333;
}
