@charset "utf-8";

html, body {
	width:100%;
	height:100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#conteudo {
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
}
.margin-auto {
	margin: 0 auto !important;
	float:none !important;
}
#topo {
	background-image: url(../imagens/bgtopo.jpg);
	background-repeat: repeat-x;
}
#topo .dadosTopo {
	background-color: #297ACC;
	min-height:100px;
	height:auto;
	background-image: url(../imagens/sombra.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #9A9A9A;
}
.dadosLogin {
	line-height: 65px;
	color: #FFFFFF;
	min-height: 65px;
	height:auto;
}
.dadosLogin a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}
.dadosLogin a:hover {
	text-decoration:none;
	color:#FFFFFF;
}
#rodape {
	position: absolute;
	z-index: 5;
	left: 0px;
	bottom: 0px;
	width:100%;
	background-image: url(../imagens/bg_rodape.jpg);
	text-align: center;
	height: 54px;
	color:#FFFFFF;
	line-height:54px;
}
.headerText {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 65px;
	text-transform: uppercase;
}


#rodape a {
	color:#FFFFFF;
	font-weight:bold;
}

#menu {
	background-color: #1668B5;
	min-height: 35px;
	height:auto;
}

/*MENU A PARTIR DAQUI*/
#menu #principal {
	min-height: 35px;
	height:auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
	float:left;
}
#menu li {
	display: block;
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
	float: left;
	position: relative;
}
#menu li a {
	color: #FFF;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 7px;
	float: left;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}
#menu li a.ativo {
	color:#FFFFFF;
}
#menu li a:hover, #menu li:hover a {
	background-color:#FFFFFF;
	color:#508DB8;
}

#menu #principal li ul {
	position: absolute;
	top: 35px;
	left: 0px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:500;
	border-top:none;
	border-bottom:solid 2px #999999;
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
#menu #principal li ul li {
	background-color: #FFFFFF;
	width: 190px;
	padding: 0px;
	border-bottom: dotted 1px #d6d6d6;
}
#menu #principal li ul li a {
	font-family:Calibri, Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	width: 165px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 10px;
	text-transform:none;
}
#menu #principal li ul li a:hover {
	background:#297ACC;
	color:#FFFFFF;
}
#menu #principal li:hover ul {
	display:block;
}
#menu #principal li ul li .sub {
	position: absolute;
	top: 0px;
	left: 190px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:5;
}
#menu #principal li:hover ul li:hover .sub {
	display:block;
}
/*FIM MENU*/
.degrade {
	background-image: url(../imagens/bg.jpg);
	background-repeat: repeat-x;
}
.logoTopo {
	line-height: 124px;
	height: 124px;
}
.stunning {
	background-color: #EFEFEF;
	display:table;
	width:100%;
}
.stunning-shadow {
	background-color: #FFFFFF;
	background-image: url(../imagens/stunning-shadow.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 32px;
}




.catProdutos {
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	clear: both;
	height: 30px;;
	display: table;
	padding: 0px;
	border:solid 1px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#333;
}
.catProdutos li {
	height: 30px;;
	margin: 0 14px;
	padding: 0px;
	list-style-type: none;
	display:inline-block;
	color:#CCC;
}
.catProdutos li a{
	color:#FFF;
	font-weight:bold;
	line-height:30px;
}
.produto {
	display: table;
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.produto .pad {
	margin:5px;
	padding:10px;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:120px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.apontaDominio #espacoDominioReg {
	display:block;
}
.apontaDominio #espacoDominioTrans {
	display:none;
}
.apontaDominio #espacoDominioDns {
	display:none;
}
.listaCarrinho {
	padding:10px;
	color:#666;
	background-color:#FCFCFC;
	border:solid 1px #F6F6F6;
	min-height:220px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mensal{
	display:inline;	
}
.trimestral{
	display:none;	
}
.semestral{
	display:none;	
}
.anual{
	display:none;	
}
.bienal{
	display:none;	
}
.trienal{
	display:none;	
}

.respticket {
	background-image: url(../imagens/bg_resp.gif);
	width:100%;
	height:65px;
	background-position: 0px bottom;
	background-repeat:repeat-x;
	position:relative;
}
.respticket .arred{
	background-image: url(../imagens/resp_arred.gif);
	width:15px;
	height:17px;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:10;
	margin:0px;
}

.respticket .user {
	font-size: 21px;
	color: #069;
}
.respticket .user a {
	font-size: 21px;
	color: #069;
}

.respticket .bg {
	background-image: url(../imagens/resp_ticket.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	margin: auto;
	padding: 0px;
	height: 65px;
	width: 100%px;
	position: relative;
}

.respticket .dataresp {
	color:#666666;
	text-align:right;
}

.respostaticket {

	padding: 5px 5px 15px 5px;
	height: auto;
	margin: 0px 0px 10px 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;	
	background:#FBFBFB;
}
