{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Afiliados</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
{mensagem_retorno}

<!-- BEGIN b_afiliadoNAO -->
<p>&nbsp;</p>
<p>A {titulo} possui um vantajoso programa de afiliados.</p>
<p>&nbsp;</p>
<!-- BEGIN b_tornarAfiliado -->
<p align="center">Você ainda não faz parte do nosso programa. Para se tornar um afiliado <strong><a href="afiliados.php?acao=ativar">CLIQUE AQUI</a></strong></p>
<p>&nbsp;</p>
<!-- END b_tornarAfiliado -->
<!-- BEGIN b_tornarAfiliado2 -->
<p align="center">Você precisa estar cadastrado em nosso sistema para se tornar um afiliado.</p>
<p align="center">&nbsp;</p>
<p align="center">Se você ja possui um cadastro, <a href="login.php" class="btn"><strong>CLIQUE AQUI</strong></a> para fazer login ou <a href="registrar.php" class="btn btn-inverse"><strong>REGISTRE-SE</strong></a></p>
<!-- END b_tornarAfiliado2 -->
<!-- END b_afiliadoNAO -->
<!-- BEGIN b_afiliadoSIM -->
<h3>SUAS INFORMAÇÕES DE AFILIADO</h3>
<table border="0" cellpadding="0" cellspacing="2" class="tabelaDados table">
  <tr>
    <td height="30" bgcolor="#f2f2f2">Afiliado desde:</td>
    <td>{dataAfiliado}</td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Link de divulgação:</td>
    <td><a href="{URLSistema}/aff.php?ID={idAfiliado}" target="_blank">{URLSistema}/aff.php?ID={idAfiliado}</a></td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Acessos a partir do seu link:</td>
    <td>{hitsAfiliado}</td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Total já recebido:</td>
    <td>{totalRecebido}</td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Saldo disponível para saque:</td>
    <td>{saldoDisponivel}</td>
  </tr>
</table>
<p class="text-center"><a href="ticketssuporte-novo.php" class="btn btn-success">Solicitar Saque</a> </p>
<!-- END b_afiliadoSIM -->
<p>&nbsp;</p>
</div>
</section>
{pageFooter}