{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Base de Conhecimento</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
{mensagem_retorno}
<!-- BEGIN b_categoriaNaoDefinida -->
<p>Selecione um das categorias abaixo e utilize nossa base de conhecimento para tirar suas dúvidas</p>
<h3>Categorias</h3>

<div class="row-fluid">
<!-- BEGIN b_categoria -->
  <div class="span4"><i class="icon-folder-open"></i> <a href="basedeconhecimento.php?ID={id_categoria}">{categoria} ({tutoriais})</a></div>
<!-- END b_categoria -->
<!-- BEGIN b_scategoria -->
<div class="text-center">Base de conhecimento não foi ativada</div>
<!-- END b_scategoria -->
</div>

<h3>Mais Populares</h3>
<p>&nbsp;</p>
<!-- BEGIN b_tutorial -->
<p><i class="icon-file"></i> <a href="basedeconhecimento-tutorial.php?ID={id_tutorial}">{tutorial}</a></p>
<!-- END b_tutorial -->
<!-- END b_categoriaNaoDefinida -->

<!-- BEGIN b_categoriaAtiva -->
<h3>{nomeCategoria}</h3>
<p>&nbsp;</p>


<!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
<div class="text-right">{paginacao}</div>
<!-- BEGIN b_tutorial2 -->
<p><i class="icon-file"></i> <a href="basedeconhecimento-tutorial.php?ID={id_tutorial2}">{tutorial2}</a></p>
<!-- END b_tutorial2 -->
<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{nenhum_tutorial}</div>
  <!-- END b_semregistro -->


<!-- END b_categoriaAtiva -->
<p>&nbsp;</p></div></section>
{pageFooter}