{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Base de Conhecimento</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
{mensagem_retorno}
<!-- BEGIN b_tutorial_encontrado -->
<h3>{titulo_tutorial}</h3>
<p>-----</p>
<div>
{texto_tutorial}
</div>
<h3>Leia Também</h3>
<!-- END b_tutorial_encontrado -->
<!-- BEGIN b_tutorial -->
<p><i class="icon-file"></i> <a href="basedeconhecimento-tutorial.php?ID={id_tutorial}">{tutorial}</a></p>
<!-- END b_tutorial -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Tutorial procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
<p>&nbsp;</p></div></section>
{pageFooter}