{pageHeader}
<script>var contrato='';</script>
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Carrinho de Compras</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
{mensagem_retorno}
<div class="row-fluid">
  <div class="span8">
  
  
  
  
  <!-- BEGIN registroDominioDisponivel -->
    <h3>REGISTRO DE DOMÍNIO</h3>
    <p>&nbsp;</p>
    <p style="font-size:14px; color:#090">Parabéns, seu domínio <strong style="text-transform:uppercase">{dominio}</strong> está disponível para registro. </p>
    <p style="font-size:14px; color:#090">Selecione um período abaixo para continuar.</p>
    <p>&nbsp;</p>
    <form id="form2" name="form2" method="post" action="">
      <p class="form-inline"> Período de registro
        <select name="periodo" id="periodo" class="selectForm">
          
        {opSel}    
      
        </select>
        <input name="nomeDominio" type="hidden" id="nomeDominio" value="{nomedominio}" />
        <input name="tld" type="hidden" id="tld" value="{tld}" />
        <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
        <span style="padding-top:10px;">
        <input name="tiporeg" type="hidden" id="tiporeg" value="1" />
        <input type="submit" id="button6" value="Clique para continuar" class="btn" />
        </span>
        <input name="Button" type="button" class="cancel btn btn-inverse" id="button7" onclick="history.back(1);" value="Voltar" />
      </p>
    </form>
    <p>&nbsp;</p>
    <!-- END registroDominioDisponivel -->
    <!-- BEGIN registroConsultaDominioIndisponivel -->
    <h3>REGISTRO DE DOMÍNIO</h3>
    <p>&nbsp;</p>
    <p style="font-size:14px; color:#D70000">Desculpe. Consulta não disponível para domínios com final <strong style="text-transform:uppercase">{tldConsulta}</strong>. Tente um outro nome.</p>
    <!-- BEGIN novaConsultaDominio -->
    <form method="POST" action="validaTld.php" class="form-inline">
            <div class="input-prepend"><span class="add-on">www.</span><input name="dominio" type="text" class="input-xlarge" id="dominio" value="" placeholder="minhaempresaonline" size="45" />
            
            <select name="txtTld" id="txtTld" class="input-medium">
              {opcoesWhois}
            </select> 
    	    <input type="hidden" name="TD" id="TD" value="1" />
<input type="submit" id="button2" value="Checar disponibilidade" />
            </div>
           </form>
    <!-- END novaConsultaDominio -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- END registroConsultaDominioIndisponivel -->
    <!-- BEGIN registroDominioIndisponivel -->
    <h3>REGISTRO DE DOMÍNIO</h3>
    <p>&nbsp;</p>
    <p style="font-size:14px; color:#D70000">Desculpe, <strong style="text-transform:uppercase">{dominio}</strong> não está disponivel para registrar. Escolha um outro nome.</p>
    <!-- BEGIN novaConsultaDominio2 -->
    
    
    
    
     
      <form method="POST" action="validaTld.php" class="form-inline">
            <div class="input-prepend"><span class="add-on">www.</span><input name="dominio" type="text" class="input-xlarge" id="dominio" value="" placeholder="minhaempresaonline" size="45" />
            
            <select name="txtTld" id="txtTld" class="input-medium">
              {opcoesWhois}
            </select> 
    	    <input type="hidden" name="TD" id="TD" value="1" />
<input type="submit" id="button2" value="Checar disponibilidade" />
            </div>
           </form>
    
    
    
    <!-- END novaConsultaDominio2 -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- END registroDominioIndisponivel -->
    <!-- BEGIN transferenciaDominioDisponivel -->
    <h3>TRANSFERÊNCIA DE DOMÍNIO</h3>
    <p>&nbsp;</p>
    <p>Parabéns, seu domínio {dominio} está pronto para ser transferido</p>
    <p>&nbsp;</p>
    <form id="form2" name="form2" method="post" action="">
      <p> Período de registro <br />
        <select name="periodo" id="periodo" class="selectForm">
          
        {opSel}     
      
        </select>
        <input name="nomeDominio" type="hidden" id="nomeDominio" value="{nomedominio}" />
        <input name="tld" type="hidden" id="tld" value="{tld}" />
        <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
      </p>
      <p style="padding-top:10px;"> Epp Key: <br />
        <input name="txtEpp" type="text" class="campoForm" id="txtEpp" size="18" />
      </p>
      <p style="padding-top:10px;" class="form-inline">
        <input name="tiporeg" type="hidden" id="tiporeg" value="2" />
        <input type="submit" id="button6" value="Clique para continuar" class="btn" />
        <input name="Button" type="button" class="cancel btn btn-inverse" id="button7" onclick="history.back(1);" value="Voltar" />
      </p>
      </p>
    </form>
    <p>&nbsp;</p>
    <!-- END transferenciaDominioDisponivel -->
    <!-- BEGIN transferenciaDominioIndisponivel -->
    <h3>TRANSFERÊNCIA DE DOMÍNIO</h3>
    <p>&nbsp;</p>
    <p>Desculpe, seu domínio <strong>{dominio}</strong> não pode ser transferido.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- END transferenciaDominioIndisponivel -->
  
  
  
  
    <!-- BEGIN b_configDominio -->
    <form id="form1" name="form1" method="post" action="" class="form-inline">
      <h3>CONFIGURAÇÕES DO PRODUTO</h3>
      <div class="apontaDominio" style="line-height:25px;">
        <div class="reg">
          <label class="radio">
          <input name="txtTipoDominio" type="radio" id="txtTipoDominio_0" value="1" checked="checked" />
          Eu quero registrar um novo Domínio</label>
          <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
          <div id="espacoDominioReg" style="padding:5px 0;"> <span class="input-prepend"> <span class="add-on">www.</span>
            <input name="txtDominio" type="text" class="input-xlarge" id="txtDominio" value="{dominio}" placeholder="minhaempresaonline" size="45" />
            </span>
            <select name="txtTld" id="txtTld" class="input-medium">
              
              {opcoesWhois}
            
              
            </select>
            <p style="padding-top:10px;">
              <input type="submit" name="button5" id="button5" value="Clique para continuar" class="btn" />
            </p>
          </div>
        </div>
        <div class="trans">
          <label class="radio">
          <input type="radio" name="txtTipoDominio" value="2" id="txtTipoDominio_1" />
          Desejo transferir meu domínio para {titulo}</label>
          <div id="espacoDominioTrans" style="padding:5px 0;">
            
            <span class="input-prepend"> <span class="add-on">www.</span>
            <input name="txtDominio2" type="text" class="input-xlarge" id="txtDominio2" value="{dominio}" placeholder="minhaempresaonline" size="45" />
            </span>
            <select name="txtTld2" id="txtTld2" class="input-medium">
              
              {opcoesWhois}
            
              
            </select>
            
            
            <p style="padding-top:10px;">
              <input type="submit" name="button4" id="button4" value="Clique para continuar" class="btn" />
            </p>
          </div>
        </div>
        <div class="dns">
          <label class="radio">
          <input type="radio" name="txtTipoDominio" value="3" id="txtTipoDominio_2" />
          Ja possuo um domínio ou vou registra-lo e irei apenas alterar os DNS</label>
          <div id="espacoDominioDns" style="padding:5px 0;">
            <p>www.
              <input name="txtDominio3" type="text" class="input-xxlarge" id="txtDominio3" />
            </p>
            <p style="padding-top:10px;">
              <input type="submit" name="button3" id="button3" value="Clique para continuar" class="btn" />
            </p>
          </div>
          </p>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </form>
    <!-- END b_configDominio -->
    
    <!-- BEGIN b_configDominio2 -->
    <form id="form1" name="form1" method="post" action="" class="form-inline">
      <h3>CONFIGURAÇÕES DO PRODUTO</h3>
      <div class="apontaDominio" style="line-height:25px;">
        <div class="dns">
          <label class="radio">
          <input name="txtTipoDominio" type="radio" id="txtTipoDominio_2" value="3" checked />
          Ja possuo um domínio ou vou registra-lo e irei apenas alterar os DNS</label>
          <div id="espacoDominioReg" style="padding:5px 0;">
            <p>www.
              <input name="txtDominio3" type="text" class="input-xxlarge" id="txtDominio3" />
              <span class="reg">
              <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
            </span></p>
            <p style="padding-top:10px;">
              <input type="submit" name="button3" id="button3" value="Clique para continuar" class="btn" />
            </p>
          </div>
          </p>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </form>
    <!-- END b_configDominio2 -->
    
    
    <!-- BEGIN configProduto -->
    <h3>CONFIGURAÇÕES DO PRODUTO</h3>
    <p>&nbsp;</p>
    <form id="form3" class="form-horizontal" name="form3" method="post" action="comprar.php?acao=add&amp;produto={idProduto}">
      <h4>PAGAMENTO</h4>
      <p>&nbsp;</p>
      <p><strong>Escolha um ciclo de Pagamento</strong></p>

        <!-- BEGIN cicloPagamento -->
        <label class="radio">
        <input type="radio" name="txtCicloPagamento" value="{valorCiclo}"{chk} id="txtCicloPagamento_{valorCiclo}" />
        {ciclo} - R$ {valor}</label>

        <!-- END cicloPagamento -->

      <!-- BEGIN dadosServer -->
      <p>&nbsp;</p>
      <h4>DADOS DO SERVIDOR</h4>
      <p>&nbsp;</p>
      <div class="control-group">
        <label class="control-label" for="txtHostname">Hostname:</label>
        <div class="controls">
          <input obgr="sim" name="txtHostname" type="text" class="campoForm input-xlarge" id="txtHostname" value="" style="width:300px" placeholder="meuserver1" />
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="txtDns1">Prefixo DNS 1:</label>
        <div class="controls">
          <input obgr="sim" name="txtDns1" type="text" class="campoForm input-xlarge" id="txtDns1" value="" style="width:300px" placeholder="ns1">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="txtDns2">Prefixo DNS 2:</label>
        <div class="controls">
          <input obgr="sim" name="txtDns2" type="text" class="campoForm input-xlarge" id="txtDns2" value="" style="width:300px" placeholder="ns2">
        </div>
      </div>
      
      <!-- END dadosServer -->
      
      <!-- BEGIN opcoesConfiguraveis -->
      <p>&nbsp;</p>
      <h4>OPÇÕES CONFIGURAVEIS</h4>
      <p>&nbsp;</p>
      <!-- BEGIN opConfigurar -->
      <p><strong>{perguntaConfiguravel}</strong></p>
        <!-- BEGIN itemConfiguravel -->
        <label class="radio">
        <input type="radio" name="txtOpcionais[{itemnum}]" value="{valorOpcao}" id="txtOpcionais{itemnum}_{valorOpcao}" />
        {itemOpcao} - <span class="mensal">R$ {valor} {opcionalMensal}</span> <span class="trimestral">R$ {valor3} Trimestral</span> <span class="semestral">R$ {valor6} Semestral</span> <span class="anual">R$ {valor12} Anual</span> <span class="bienal">R$ {valor24} Bienal</span> <span class="trienal">R$ {valor36} Trienal</span>{if ({setup} != x)} |{setup} {end if}</label>
        <!-- END itemConfiguravel -->
      <p>&nbsp;</p>
      <!-- END opConfigurar -->
      <!-- END opcoesConfiguraveis -->
      <!-- BEGIN opcoesAdicionais -->
      <p>&nbsp;</p>
      <h4>ADICIONAIS</h4>
      <p>&nbsp;</p>
      <!-- BEGIN opAdicional -->
        <label class="checkbox">
        <input type="checkbox" name="txtAdicionais[{itemnum}]" value="{itemnum}" id="txtAdicionais{itemnum}" />
        {itemOpcao} - <span class="mensal">R$ {valor} {adicionalMensal}</span> <span class="trimestral">R$ {valor3} Trimestral</span> <span class="semestral">R$ {valor6} Semestral</span> <span class="anual">R$ {valor12} Anual</span> <span class="bienal">R$ {valor24} Bienal</span> <span class="trienal">R$ {valor36} Trienal</span>{if ({setup} != x)} |{setup} {end if}</label>
      <!-- END opAdicional -->
      <!-- END opcoesAdicionais -->
      <p>&nbsp;</p>
      <p><span style="padding-top:10px;">
        <input type="submit" id="button8" value="Clique para continuar" class="btn" />
        </span></p>
    </form>
    <!-- END configProduto -->
    <!-- BEGIN b_revisar -->
    <h3>Cupom de Desconto</h3>
    <p>Verifique ao lados os itens escolhidos</p>
    <p>&nbsp;</p>
    <form id="form4" name="form4" method="post" action="?acao=promocao" class="form-horizontal">
      <p style="padding:5px 0;"><strong>Código Promocional:</strong></p>
      <p style="padding:5px 0 10px 0;">Você recebeu um cupom de desconto? Legal, agora digite no campo abaixo para utiliza-lo</p>
      <p>
        <input name="txtCodPromocional" type="text" class="input-xlarge" id="txtCodPromocional" size="40" />
        <input type="submit" name="button" id="button" value="Aplicar Desconto" class="btn" />
      </p>
    </form>
    <!-- BEGIN b_codigoDesconto -->
    <p>&nbsp;</p>
    <p>Você está utilizando o cupom: <strong><u>{CUPOMDESCONTO}</u></strong></p>
    <!-- BEGIN b_nullCodigoDesconto -->
    <p>&nbsp;</p>
    <p>Não existem em seu carrinho, produtos compativeis com este cupom de desconto</p>
    <!-- END b_nullCodigoDesconto -->
    <!-- END b_codigoDesconto -->
    <h3>Finalizar Pedido</h3>

    <!-- BEGIN b_contrato -->
        <p>&nbsp;</p>
    <p><label class="checkbox">
      <input name="txtContrato" type="checkbox" id="txtContrato" value="S" />
      Declaro que li e aceito os <a href="{URLContrato}" style="text-decoration:underline; font-weight:bold;" target="_blank">Termos do Contrato</a></label></p>
    <script>contrato='{contrato}';</script>
    <!-- END b_contrato -->
    <!-- BEGIN b_fLogado -->
    <p>&nbsp;</p>
    <p align="center">
      <input type="button" id="btLCheckout" value="Clique para finalizar seu pedido" class="btn btn-invert" onclick="if(contrato=='S'){ if($('#txtContrato').is(':checked')) {window.location='checkout.php';}else{alert('Você precisa aceitar os termos do contrato'); return false;}}else{window.location='checkout.php';}" />
    </p>
    <!-- END b_fLogado -->
    <!-- BEGIN b_fCadastroLogin -->
    <p align="center">&nbsp;</p>
    
    
    
    
    <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Registre-se</a></li>
    <li><a href="#tab2" data-toggle="tab">Já sou cadastrado - Login</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
        <p>&nbsp;</p>
        <form id="form" name="form" method="post" action="registrar.php?origem=carrinho" enctype="multipart/form-data" class="form-horizontal">
          {REGISTRAR_FORMULARIO_CADASTRO}
        </form>
    </div>
    <div class="tab-pane" id="tab2">
      <script>
  $(document).ready(function() {
	$("#formLogin").submit(function(){
	
		if(formLogin.txtLogin.value==""){
			alert("Preencha seu email");
			return false;
		}else if(formLogin.txtSenha.value==''){
			alert('Preencha sua senha');
			return false;
		}else if(contrato=='S'){
			if($("#txtContrato").is(':checked')) {
				return true;
			}else{
			
				alert('Você precisa aceitar os termos do contrato');
				return false;
			}
		}else{
			return true;
		}
	});
  });
</script>
        
        <form class="bs-docs-example form-horizontal" id="formLogin" name="formLogin" method="post" action="login.php?origem=carrinho">
            <p>Preencha os campos abaixo para fazer login</p>
            <div class="control-group">
              <label class="control-label" for="inputEmail">E-mail:</label>
              <div class="controls">
                <input obgr="sim" name="txtLogin" type="text" class="input-xlarge" id="txtLogin"  placeholder="E-mail" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Senha:</label>
              <div class="controls">
                <input obgr="sim" name="txtSenha" type="password" class="input-xlarge" id="txtSenha"  placeholder="Senha" />
                <input name="login" type="hidden" id="login" value="1" />
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>
            </div>
          </form>
          
    </div>
  </div>
</div>
    

    <!-- END b_fCadastroLogin -->
    <!-- END b_revisar -->
  </div>
  <div class="span4" style="padding-top:20px;">
    <div class="listaCarrinho">
      <h4>ITENS NO CARRINHO</h4>
      <!-- BEGIN b_itemCarrinho -->
      <div>&nbsp;</div>
      <div><strong>{produto}</strong> <a href="comprar.php?acao=remover&ID={k}" class="btn btn-danger btn-mini" style="height:15px; line-height:15px; margin-bottom:5px;">x</a></div>
      <!-- BEGIN b_adicionaisView -->
      <div style="color:#CCCCCC;">- {itemAdicional}</div>
      <!-- END b_adicionaisView -->
      <div><span class="label label-warning">R$ {valor} (valor+Setup)</span></div>
      <div style="padding-top:4px;"><span class="label">+ R$ {valor2} /Ao final de cada ciclo</span> (<span class="label label-warning">{ciclo}</span>)</div>
      <!-- END b_itemCarrinho -->
      <div>&nbsp;</div>
      <hr size="1" />
      <div>&nbsp;</div>
      <!-- BEGIN b_totalCarrinho -->
      <div><strong>Total:</strong> <label class="label label-info">R$ {totalCarrinho}</label></div>
      <!-- END b_totalCarrinho -->
      <!-- BEGIN b_carrinhoVazio -->
      <div><strong>Ops!</strong> O carrinho ainda está vazio.</div>
      <!-- END b_carrinhoVazio -->
      <!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="produtos.php">Continuar comprando</a></td>
          <td align="right"><input type="submit" name="button2" id="button2" value="Finalizar Pedido" class="btn btn-primary" /></td>
        </tr>
      </table>-->
    </div>
  </div>
</div>
<p>&nbsp;</p></div></section>
{pageFooter}