{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
						<li class="active">Services</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
        {mensagem_retorno}
<p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
<p>&nbsp;</p>
<form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="txtNome">Nome:</label>
    <div class="controls">
      <input name="txtNome" type="text" class="campoForm" id="txtNome" value="{txtNome}" obgr="sim"{read} />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Nome Completo</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">E-mail:</label>
    <div class="controls">
      <input name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{txtEmail}" obgr="sim"{read} />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Telefone:</label>
    <div class="controls">
      <input name="txtTelefone" type="text" class="campoForm" id="txtTelefone" value="{txtTelefone}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Assunto:</label>
    <div class="controls">
      <input name="txtAssunto" type="text" class="campoForm" id="txtAssunto" value="{txtAssunto}" obgr="sim"{read} />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="txtNome">Mensagem:</label>
    <div class="controls">
      <textarea name="txtMensagem" id="txtMensagem" cols="45" rows="12" class="input-block-level">{txtMensagem}</textarea>
    </div>
  </div>
  <!-- BEGIN b_captcha -->
  <div class="control-group">
    <label class="control-label" for="txtNome">Controle de Span:</label>
    <div class="controls">
      {captcha}
    </div>
  </div>
  <!-- END b_captcha -->
  <div class="form-actions hidden-phone">
    <input name="post" type="hidden" id="post" value="1" />
    <input type="submit" name="btSalvar" id="btSalvar" value="Enviar Mensagem" class="submit btn btn-primary">
    <a href="index.php" class="btn">Cancelar</a></div>
  <div class="form-actions visible-phone">
    <input type="submit" name="btSalvar" id="btSalvar" value="Enviar Mensagem" class="submit btn btn-primary btn-block">
    <a href="index.php" class="btn btn-block">Cancelar</a></div>
</form>
<script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtEmail.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtStatus.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>
</div>
</section>
{pageFooter}