	<!-- start header -->
	<header>	
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="span6">
							<!-- BEGIN b_bxtelefone --><p class="topcontact" style="margin:0 !important;"><i class="icon-phone"></i> {telefone}</p><!-- END b_bxtelefone -->
						</div>
						<div class="span6">
								<ul class="social-network">
									<!-- BEGIN b_bxfacebook --><li><a href="{facebook}" data-placement="bottom" title="Facebook" target="_blank"><i class="icon-facebook icon-white"></i></a></li><!-- END b_bxfacebook -->
									<!-- BEGIN b_bxtwitter --><li><a href="{twitter}" data-placement="bottom" title="Twitter" target="_blank"><i class="icon-twitter icon-white"></i></a></li><!-- END b_bxtwitter -->
									<!-- BEGIN b_bxlinkedin --><li><a href="{linkedin}" data-placement="bottom" title="Linkedin" target="_blank"><i class="icon-linkedin icon-white"></i></a></li><!-- END b_bxlinkedin -->
									<!-- BEGIN b_bxgoogleplus --><li><a href="{googleplus}" data-placement="bottom" title="Google +" target="_blank"><i class="icon-google-plus icon-white"></i></a></li><!-- END b_bxgoogleplus -->
								</ul>

						</div>
					</div>
				</div>
			</div>	
		<div class="container">
			<div class="row nomargin">
				<div class="span4">
					<div class="logo">
						<a href="index.php"><img src="imagens/{logoCentral}" name="logoTopo" border="0" id="logoTopo" style="height:53px" />&nbsp;</a>
					</div>
				</div>
			<div class="span8" style="padding-top:12px;">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>                        
                        <ul id="principal" class="nav topnav">
                        <li{if ({pgAtiva} == index.php)} class="active"{end if} {if ({pgAtiva} == areadocliente.php)} class="active"{end if}{if ({pgAtiva} ==  )} class="active"{end if}><a href="index.php">Inicio </a></li>
                        <li{if ({pgAtiva} == produtos.php)} class="active"{end if}><a href="produtos.php">Pedido </a></li>
                        <!-- BEGIN b_linksLogado -->
                        <li{if ({pgAtiva} == meusdados.php)} class="active"{end if}><a href="meusdados.php">Meus Dados </a></li>
                        <li class="dropdown{if ({pgAtiva} == servicos.php)}  active{end if}"><a href="servicos.php">Serviços </a>
                          <ul class="dropdown-menu">
                            <li><a href="servicos.php">Meus Serviços</a></li>
                            <li><a href="produtos.php">Novo Serviço</a></li>
                          </ul>
                        </li>
                        <li{if ({pgAtiva} == dominios.php)} class="active"{end if}><a href="dominios.php">Meus Domínios </a></li>
                        <li{if ({pgAtiva} == faturas.php)} class="active"{end if}><a href="faturas.php">Faturas</a></li>
                        <li class="dropdown{if ({pgAtiva} == ticketssuporte.php)} active{end if}{if ({pgAtiva} == ticketssuporte-novo.php)} active{end if}{if ({pgAtiva} == basedeconhecimento.php)} active{end if}"><a href="ticketssuporte.php">Suporte</a>
                          <ul class="dropdown-menu">
                            <li><a href="basedeconhecimento.php">Base de Conhecimento</a></li>
                            <li class="dropdown"><a href="ticketssuporte.php">Tickets de Suporte</a>
                              <ul class="dropdown-menu sub-menu-level1">
                                <li><a href="ticketssuporte.php?status=0">Abertos</a></li>
                                <li><a href="ticketssuporte.php?status=4">Resolvidos</a></li>
                              </ul>
                            </li>
                            <li><a href="ticketssuporte-novo.php">Novo Ticket</a></li>
                          </ul>
                        </li>
                        <!-- END b_linksLogado -->
                        <!-- BEGIN b_naoLogado -->
                        <li{if ({pgAtiva} == basedeconhecimento.php)} class="active"{end if}><a href="basedeconhecimento.php">Base de Conhecimento</a></li>
                        <li{if ({pgAtiva} == contato.php)} class="active"{end if}><a href="contato.php">Contato</a></li>
                        <!-- END b_naoLogado -->
                        <!-- BEGIN b_lnAfiliados -->
                        <li{if ({pgAtiva} == afiliados.php)} class="active"{end if}><a href="afiliados.php">Afiliados</a></li>
                        <!-- END b_lnAfiliados -->
                      </ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
			</div>
			</div>
		</div>
	</header>	
	<!-- end header -->    
