{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Meus Domínios</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
        {mensagem_retorno}
<!-- BEGIN b_servico_encontrado -->
<h3>INFORMAÇÕES</h3>
<table class="table table-striped" border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td width="176"><strong>Domínio:</strong></td>
        <td width="404">{dominio}</td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td>{status}</td>
      </tr>
      <tr>
        <td><strong>Data do registro:</strong></td>
        <td>{data1}</td>
      </tr>
      <tr>
        <td><strong>Data de Expiração:</strong></td>
        <td>{data3}</td>
      </tr>
      <tr>
        <td><strong>Valor:</strong></td>
        <td>{valor}</td>
      </tr>
      <tr>
        <td><strong>Proximo Vencimento:</strong></td>
        <td>{data2}</td>
      </tr>
      <tr>
        <td><strong>Código Promocional:</strong></td>
        <td>{cupomDesconto}</td>
      </tr>
    </table>
    
    <!-- BEGIN b_dns_change -->
    <p>&nbsp;</p>
<div>
  <h3>ALTERAR SERVIDORES DNS</h3>
  <div>
      <p>Preencha os campos abaixo para alterar os servidores DNS de seu domínio.</p>
      <p><strong>Lembre-se que o prazo para propagação dos novos DNS é de até 48hs</strong>. Assim, poderá haver instabilidade no acesso ao seu site durante esse período.</p>
            <p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  <p>&nbsp;</p><form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
  
	<div class="control-group">
      <label class="control-label" for="txtNome">Servidor Primario:</label>
      <div class="controls">
        <input obgr="sim" name="txtDns1" type="text" class="campoForm" id="txtDns1" value="{dns1}" />
        <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Obrigatório informar ao menos dois servidores DNS</span></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtNome">Servidor Secundário:</label>
      <div class="controls">
        <input obgr="sim" name="txtDns2" type="text" class="campoForm" id="txtDns2" value="{dns2}" />
        <span class="badge badge-important obrigatorio help-inline">!</span></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtNome">Servidor DNS 3:</label>
      <div class="controls">
        <input obgr="sim" name="txtDns3" type="text" class="campoForm" id="txtDns3" value="{dns3}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtNome">Servidor DNS 4:</label>
      <div class="controls">
        <input obgr="sim" name="txtDns4" type="text" class="campoForm" id="txtDns4" value="{dns4}" />
      </div>
    </div>
  
  
  	<div class="form-actions hidden-phone">
    <input name="post" type="hidden" id="post" value="1">
    <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary">
    </div>
  <div class="form-actions visible-phone">
    <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary btn-block">
    </div>   
  
  </form>
  </div>
</div>
    <!-- END b_dns_change -->
    
<!-- END b_servico_encontrado -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Domínio  procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
<p>&nbsp;</p>

</div>
</section>
{pageFooter}