<div id="sub-footer" style="padding-top:20px;">
  <div class="container">
    <div class="row" style="margin-bottom:20px;">
      <div class="span6">
        <div class="copyright" style="padding-top:5px;">
          <p><span>&copy; 2017 {titulo}</span>
          <p>
          <p style="color:#999999; font-size:10px;">APP por <a href="http://www.hostmgr.com.br" target="_blank">HostMGR</a></p>
        </div>
      </div>
      <div class="span6">
        <form name="formIdioma" id="formIdioma" action="modulos/alterarIdioma.php" method="post" style="text-align: right; margin: 0 20px;">
          Idioma:
          <select name="selecionarIdioma" id="selecionarIdioma" class="input-xlarge" style="color:#333 !important; background-color:#FFFFFF; border:solid 1px #333;">
            	{listaIdiomas}
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<p class="credit">
<footer style="padding-top: 30px;">
<div class="row-fluid">
    <div class="span12" style="margin:0 auto !important">
    
    </div>
  </div>
  
</footer>
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a> -->
