{pageHeader}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading">
          <ul class="breadcrumb">
            <li><a href="index.php">Home</a></li>
          </ul>
          <h2>{titulo_modulo}</h2>
        </div>
      </div>
      <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
      <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
    </div>
  </div>
</section>
<section id="content">
<div class="container">
  <div class="row-fluid" style="background-color:#FFFFFF">
    <div class="span4">
      <div class="box">
        <div class="icon"> <i class="ico icon-circled icon-bgdark icon-tag active icon-3x"></i> </div>
        <div class="text">
          <h3>Contratar um Serviço</h3>
          <p>Visite nosso formulário de pedido e escolha um de nossos produtos ou serviços que deseja contratar</p>
          <p><a href="produtos.php" class="btn">Ir para formulario de pedido</a></p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="box">
        <div class="icon"> <i class="ico icon-circled icon-bgdark icon-lock active icon-3x"></i> </div>
        <div class="text">
          <h3>Identifique-se</h3>
          <p>Se você ja é registrado, clique no botão abaixo para fazer login, atualizar seus dados e gerenciar seus Produtos/Serviços e faturas</p>
          <p><a href="login.php" class="btn">Login</a></p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="box">
        <div class="icon"> <i class="ico icon-circled icon-bgdark icon-laptop active icon-3x"></i> </div>
        <div class="text">
          <h3>Contato</h3>
          <p>Possui alguma dúvida ou precisa de ajuda na escolha do plano ideal?<br />
            Consulte-nos</p>
          <p><a href="contato.php" class="btn">Entrar em contato</a></p>
        </div>
      </div>
    </div>
  </div>
  <!--dominios-->
  <div>&nbsp;</div>
  <div class="stunning margin-auto">
    <div style="padding:20px 25px;">
      <h3>{dominios}</h3>
      <form id="formChecar" name="form1" method="post" action="">
        <div style="padding-bottom:8px;">Ingresse na web, você precisará de um domínio, seja registro, transferencia ou apenas hospedagem. </div>
        <input name="chkDominio" placeholder="minhaempresaonline.com" type="text" class="campoForm input-block-level" id="chkDominio" size="40" style="height:auto" />
        <div class="text-right hidden-phone">
          <input type="button" name="chkDisp" id="chkDisp" value="Checar Disponibilidade" class="chkDisp btn btn-inverse" />
          <input type="button" name="btTransferir" id="btTransferir" value="Transferir" class="btTransferir btn" />
          <input type="button" name="btnConHosp" id="btnConHosp" value="Contratar Hospedagem" class="btnConHosp btn" />
        </div>
        <div class="visible-phone">
          <input type="button" name="chkDisp" value="Checar Disponibilidade" class="chkDisp btn btn-inverse btn-block" />
          <input type="button" name="btTransferir" value="Transferir" class="btTransferir btn btn-block" />
          <input type="button" name="btnConHosp" value="Contratar Hospedagem" class="btnConHosp btn btn-block" />
        </div>
      </form>
    </div>
  </div>
  <div class="stunning-shadow">&nbsp;</div>
  <!--fim-->
  </section>
</div>
{pageFooter}