<style type="text/css">
<!--
#alerta-erro-ip {
	background-color: #FFCCCC;
	border: 2px solid #DF0000;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
-->
</style>
<title>Acesso Negado!</title><div id="alerta-erro-ip">Acesso negado ao ip <strong>{$ip}</strong>, tente novamente mais tarde. {$liberar}</div>
