{pageHeader}
<link href="templates/{nome_template}/temas/login/{tema_template}" rel="stylesheet" type="text/css" />
<div>&nbsp;</div>
<!-- BEGIN b_alert -->
<script>
  $(document).ready(function(){
  	alert('{respostaTroca}');
  });
</script>
<!-- END b_alert -->
<!-- BEGIN b_login -->
<!-- BEGIN bErroLogin -->
<div class="span12" style="margin:0 auto !important; float: none;">
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>{erroLogin}</h4>
  {erroLoginInfo} </div></div>
<!-- END bErroLogin -->
<!-- BEGIN bLogout -->
<div class="span12" style="margin:0 auto !important; float: none;">
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Sucesso</h4>
  {mensagem_logout}</div></div>
<!-- END bLogout -->
<div class="span6 margin-auto boxLogin">
  <div style="padding:20px;">
    <h3 style="font-weight:none">ÁREA RESTRITA</h3>
    <form id="form1" name="formLogin" method="post" action="">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email:</label>
        <div class="controls">
          <input name="txtLogin" type="text" id="inputEmail" placeholder="Email" class="input-block-level" style="min-height: 35px !important">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Senha:</label>
        <div class="controls">
          <input name="txtSenha" type="password" id="inputPassword" placeholder="Senha" class="input-block-level" style="min-height: 35px !important">
        </div>
      </div>
      <div class="control-group">
        <div class="controls hidden-phone">
          <button type="submit" class="btn btn-primary">Entrar</button>
          <div class="help-inline"><a href="login.php?acao=recuperar" style="color:#000000">Esqueceu a senha?</a></span> </div>
        </div>
        <div class="controls visible-phone">
          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
          <div class="text-center" style="padding-top:10px;"><a href="login.php?acao=recuperar" style="color:#000000">Esqueceu a senha?</a></div> 				
        </div>
      <div class="text-center"><strong>{s_ip}:</strong> {IP}</div>
      <input name="login" type="hidden" id="login" value="1" />
      </div>
    </form>
  </div>
</div>
<!-- END b_login -->
<!-- BEGIN b_recSenha -->
<!-- BEGIN bErroLogin2 -->
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>{erroRec}</h4>
  {erroRecInfo} </div>
<!-- END bErroLogin2 -->
<!-- BEGIN bRecForm -->
<div class="span6 margin-auto boxLogin">
  <div style="padding:20px;">
    <h3 style="font-weight:none">RECUPERAR SENHA</h3>
    <div>Para recuerar uma senha, preencha seu email no campo abaixo. Você receberá as instruções para recuperação da senha.</div>
    <div>&nbsp;</div>
    <form id="form1" name="formLogin" method="post" action="?acao=recuperar">
      <div class="control-group">
        <label class="control-label" for="inputPassword">E-mail</label>
        <div class="controls">
          <input name="login" type="hidden" id="login" value="2" />
          <input name="txtLogin" type="text" id="inputEmail" placeholder="Email" class="input-block-level" style="min-height: 35px !important">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Enviar e Recuperar</button>
        </div>
      </div>
      <div class="text-center"><strong>{s_ip}:</strong> {IP}</div>
    </form>
  </div>
</div>
<!-- END bRecForm -->
<!-- BEGIN bRecSucesso -->
<div class="span6 margin-auto boxLogin">
  <div style="padding:20px;">
    <h3 style="font-weight:none">RECUPERAR SENHA</h3>
    <div>Obrigado, enviamos para {emailCliente}, um link de confirmação para gerar uma nova senha.</div>
    <div>&nbsp;</div>
    <a href="login.php" class="btn btn-inverse">Voltar</a>
    <div class="text-center"><strong>{s_ip}:</strong> {IP}</div>
  </div>
</div>
</div>
<!-- END bRecSucesso -->
<!-- END b_recSenha -->
{pageFooter}