<div class="row-fluid">
<div class="span12 margin-auto">
  <div class="span12">
    <div class="alert alert-block{alertError}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 style="font-size:20px !important;">{mensagem_resposta_tipo}</h4>
      {mensagem_resposta}
    </div>
</div>
</div>