{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Meus Dados</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
        {mensagem_retorno}
<p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
<p>&nbsp;</p>
<form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
<div class="control-group">
    <label class="control-label" for="txtNome">Nome:</label>
    <div class="controls">
      <input obgr="sim" name="txtNome" type="text" class="campoForm" id="txtNome" value="{cliente_nome}" />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Nome Completo</span></div>
  </div>

<div class="control-group">
    <label class="control-label" for="txtNome">Empresa:</label>
    <div class="controls">
      <input obgr="sim" name="txtEmpresa" type="text" class="campoForm" id="txtEmpresa" value="{cliente_empresa}" />
  </div></div>
        <!-- BEGIN b_cpf_cnpj -->
        <div class="control-group">
    <label class="control-label" for="txtNome">CPF/CNPJ:</label>
    <div class="controls">
      <input obgr="sim" name="txtCpfCnpj" type="text" class="campoForm" id="txtCpfCnpj" value="{cpf_cnpj}" />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Apenas números</span></div>
  </div>
        <!-- END b_cpf_cnpj -->
        <div class="control-group">
    <label class="control-label" for="txtNome">Email:</label>
    <div class="controls">
      <input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" style="width:300px" />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
        <div class="control-group">
    <label class="control-label" for="txtNome">Email Alternativo:</label>
    <div class="controls">
      <input obgr="sim" name="txtEmailAlternativo" type="text" class="campoForm" id="txtEmailAlternativo" value="{cliente_emailAlternativo}" />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Esse email recebe cópias de todas as mensagens enviadas ao email principal</span></div>
  </div>
        
        <div class="control-group">
    <label class="control-label" for="txtNome">Nova Senha:</label>
    <div class="controls">
      <input name="txtSenha" type="password" class="campoForm" id="txtSenha" />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="txtNome">Confirmar Senha:</label>
    <div class="controls">
      <input name="txtSenha2" type="password" class="campoForm" id="txtSenha2" />
      <span class="badge badge-important obrigatorio help-inline">!</span></div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="txtNome">Frase de Segurança:</label>
    <div class="controls">
      <input obgr="sim" name="txtFrase" type="text" class="campoForm" id="txtFrase" value="{cliente_frase}" />
      <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Enviamos essa Frase em todo email que te encaminhamos, garantindo a autencicidade da mensagem enviada</span></div>
  </div>
        
        
		
                
    <div class="control-group">
  <label class="control-label" for="txtNome">Endereço:</label>
  <div class="controls">
    <input obgr="sim" name="txtEndereco" type="text" class="campoForm" id="txtEndereco" value="{cliente_endereco}" style="width:300px" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>


<div class="control-group">
  <label class="control-label" for="txtNome">Bairro:</label>
  <div class="controls">
    <input obgr="sim" name="txtBairro" type="text" class="campoForm" id="txtBairro" value="{cliente_bairro}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>


<div class="control-group">
  <label class="control-label" for="txtNome">Cidade:</label>
  <div class="controls">
    <input obgr="sim" name="txtCidade" type="text" class="campoForm" id="txtCidade" value="{cliente_cidade}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>

<div class="control-group">
  <label class="control-label" for="txtNome">Estado:</label>
  <div class="controls">
    <input obgr="sim" name="txtEstado" type="text" class="campoForm" id="txtEstado" value="{cliente_estado}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>

<div class="control-group">
  <label class="control-label" for="txtNome">CEP:</label>
  <div class="controls">
    <input obgr="sim" name="txtCep" type="text" class="campoForm" id="txtCep" value="{cliente_cep}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>

<div class="control-group">
  <label class="control-label" for="txtNome">Telefone:</label>
  <div class="controls">
    <input obgr="sim" name="txtTelefone" type="text" class="campoForm" id="txtTelefone" value="{cliente_telefone}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>            

<!-- BEGIN b_campoPersonalizado -->
<div class="control-group">
  <label class="control-label" for="txtNome">{cpRotulo}:</label>
  <div class="controls">
    <!-- BEGIN b_cp_textfield -->
    <input name="campo_{idCampo}" type="text" class="campoForm" id="campo_{idCampo}" value="{valorCp}" />
	<!-- END b_cp_textfield -->    
    
    <!-- BEGIN b_cp_textarea -->
    <textarea name="campo_{idCampo}" class="campoForm" id="campo_{idCampo}">{valorCp}</textarea>
	<!-- END b_cp_textarea -->
    
    <!-- BEGIN b_cp_select -->
    <select name="campo_{idCampo}" class="campoForm" id="campo_{idCampo}">{cpValores}</select>
	<!-- END b_cp_select -->
    
    <!-- BEGIN b_cp_radio -->
    <label><input type="radio"{chk} name="campo_{idCampo}" id="campo_{idCampo}_{v}" value="{valorCp}" /> {valorCp}</label>
	<!-- END b_cp_radio -->
    
    <!-- BEGIN b_cp_ajuda -->
    <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Apenas números</span>
    <!-- END b_cp_ajuda -->
  </div>
</div>
<!-- END b_campoPersonalizado -->


<!-- BEGIN b_captcha -->
  <div class="control-group">
    <label class="control-label" for="txtNome">Controle de Span:</label>
    <div class="controls">
      {captcha}
    </div>
  </div>
  <!-- END b_captcha -->
                
     <div class="form-actions hidden-phone">
    <input name="txtId_cliente" type="hidden" id="txtId_cliente" value="1">
    <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary">
    <a href="areadocliente.php" class="btn">Cancelar</a></div>
  <div class="form-actions visible-phone">
    <input name="txtId_cliente" type="hidden" id="txtId_cliente" value="1">
    <input type="submit" name="btSalvar" id="btSalvar" value="Salvar Alterações" class="submit btn btn-primary btn-block">
    <a href="areadocliente.php" class="btn btn-block">Cancelar</a></div>           
                
                
          <input name="post" type="hidden" id="post" value="1" /></td>
      
	</form><script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtEmail.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtStatus.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>
<p>&nbsp;</p>
</div>
</section>
{pageFooter}