{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Cliente</li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
        {mensagem_retorno}
    <div>
      <p>Seja bem vindo, preencha o formulário abaixo para realizar o seu cadastro.</p>
            <p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  <p>&nbsp;</p><form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
		{REGISTRAR_FORMULARIO_CADASTRO}
	</form>
    </div>
    <p>&nbsp;</p>
</div>
</section>
{pageFooter}