{pageHeader}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="inner-heading">
					<ul class="breadcrumb">
						<li><a href="index.php">Home</a> <i class="icon-angle-right"></i></li>
						<li>Meus Serviços/li>
					</ul>
					<h2>{titulo_modulo}</h2>
					</div>
				</div>
                <div class="span6 text-right dadosLogin hidden-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
        <div class="span6 text-center dadosLogin visible-phone">Bem Vindo, {if ({clienteLogado} == SIM)}{nome_cliente} | <a href="meusdados.php">Meus Dados</a> | <a href="sair.php">Logout</a> {end if}{if ({clienteLogado} != SIM)} Faça <a href="login.php">Login</a> ou <a href="registrar.php">Registre-se</a> {end if}</div>
			</div>			
		</div>
	</section>

<section id="content">
		<div class="container">
        {mensagem_retorno}
<div class="row-fluid">
<div class="span6">
  <a href="produtos.php" class="btn btn-primary">Novo Serviço</a>
  <a href="servicos.php" class="btn">Listar Tudo</a>
</div>
<div class="span6 text-right">
  
  <form class="form-inline" method="get" action=""><input obgr="sim" name="termo" type="text" class="campoForm span5" id="termo" value="" placeholder="buscar"> <input type="submit" value="Buscar" class="btn" /></form>
  
</div>
</div>
<p>&nbsp;</p>
<!-- BEGIN b_mostrar_registros -->
<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
  {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
<div class="text-right">{paginacao}</div>
{TABELA_REGISTROS}
<div class="text-right">{paginacao}</div>
<!-- END b_mostrar_registros -->
<!-- BEGIN b_semregistro -->
<div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
<!-- END b_semregistro -->
<p>&nbsp;</p>

</div>
</section>
{pageFooter}