<link href="temas/padrao.css" rel="stylesheet" type="text/css" />
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>


<!-- BEGIN b_afiliadoNAO -->
<p>A {titulo} possui um vantajoso programa de afiliados.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- BEGIN b_tornarAfiliado -->
<p align="center">Você ainda não faz parte do nosso programa. Para se tornar um afiliado <strong><a href="afiliados.php?acao=ativar">CLIQUE AQUI</a></strong></p>
<p>&nbsp;</p>
<!-- END b_tornarAfiliado -->

<!-- BEGIN b_tornarAfiliado2 -->
<p align="center">Você precisa estar cadastrado em nosso sistema para se tornar um afiliado.</p>
<p align="center">&nbsp;</p>
<p align="center">Se você ja possui um cadastro, <a href="login.php"><strong>CLIQUE AQUI</strong></a> para fazer login ou <a href="registrar.php"><strong>REGISTRE-SE</strong></a></p>

<!-- END b_tornarAfiliado2 -->


<!-- END b_afiliadoNAO -->

<!-- BEGIN b_afiliadoSIM -->
<h1>SUAS INFORMAÇÕES DE AFILIADO</h1>
<p>&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="2" class="tabelaDados">
  <tr>
    <td height="30" bgcolor="#f2f2f2">Afiliado desde:</td>
    <td>{dataAfiliado}</td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Link de divulgação:</td>
    <td><a href="{URLSistema}/aff.php?ID={idAfiliado}" target="_blank">{URLSistema}/aff.php?ID={idAfiliado}</a></td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Acessos a partir do seu link:</td>
    <td>{hitsAfiliado}</td>
  </tr>
  
  <tr>
    <td height="30" bgcolor="#f2f2f2">Total já recebido:</td>
    <td>{totalRecebido}</td>
  </tr>
  <tr>
    <td height="30" bgcolor="#f2f2f2">Saldo disponível para saque:</td>
    <td>{saldoDisponivel}</td>
  </tr>
</table>
<p>
  <!-- END b_afiliadoSIM -->
</p>
<p>&nbsp;</p>


</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
