<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>

<h1>TICKETS DE SUPORTE</h1>
  {TABELA_TICKETS}
  <!-- BEGIN b_ticketssemregistro -->
  <div style="height:60px; line-height:60px; text-align:center;">{sem_registros_tickets}</div>
  <!-- END b_ticketssemregistro -->
  <p>&nbsp;</p>
  <p align="center"><a href="ticketssuporte-novo.php">Abrir um novo Ticket</a> | <a href="ticketssuporte.php">Ver todos os Tickets</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>FATURAS EM ABERTO</h1>
  {TABELA_FATURAS}
  <!-- BEGIN b_faturassemregistro -->
  <div style="height:60px; line-height:60px; text-align:center;">{sem_registros_faturas}</div>
  <!-- END b_faturassemregistro -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
