<link href="temas/padrao.css" rel="stylesheet" type="text/css" />
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul> 
    <li><a href="javascript:history.go(-1);">Voltar</a></li>
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>
<!-- BEGIN b_categoriaNaoDefinida -->
<p>Selecione um das categorias abaixo e utilize nossa base de conhecimento para tirar suas dúvidas</p>
<p>&nbsp;</p>
<h1>CATEGORIAS</h1>

<ul class="listaConhecimento">
<!-- BEGIN b_categoria -->
  <li><a href="basedeconhecimento.php?ID={id_categoria}">{categoria} ({tutoriais})</a></li>
<!-- END b_categoria -->
<!-- BEGIN b_scategoria -->
<li>Base de conhecimento não foi ativada</li>
<!-- END b_scategoria -->
</ul>

<h1>MAIS POPULARES</h1>
<p>&nbsp;</p>
<!-- BEGIN b_tutorial -->
<p style="line-height:20px;">- <a href="basedeconhecimento-tutorial.php?ID={id_tutorial}">{tutorial}</a></p>
<!-- END b_tutorial -->
<!-- END b_categoriaNaoDefinida -->

<!-- BEGIN b_categoriaAtiva -->
<h1>{nomeCategoria}</h1>
<p>&nbsp;</p>


<!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
<!-- BEGIN b_tutorial2 -->
<p style="line-height:20px;">- <a href="basedeconhecimento-tutorial.php?ID={id_tutorial2}">{tutorial2}</a></p>
<!-- END b_tutorial2 -->
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{nenhum_tutorial}</div>
  <!-- END b_semregistro -->


<!-- END b_categoriaAtiva -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
