<link href="temas/padrao.css" rel="stylesheet" type="text/css" />
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul> 
    <li><a href="javascript:history.go(-1);">Voltar</a></li>
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>
<!-- BEGIN b_tutorial_encontrado -->
<h1>{titulo_tutorial}</h1>
<p>&nbsp;</p>
<p>-----</p>
<p>&nbsp;</p>
<div>
{texto_tutorial}
</div>
<p>&nbsp;</p>
<p>-----</p>
<p>&nbsp;</p>
<h1>LEIA TAMBEM</h1>
<p>&nbsp;</p>
<!-- BEGIN b_tutorial -->
<p style="line-height:20px;">- <a href="baseconhecimento-tutorial.php?ID={id_tutorial}">{tutorial}</a></p>
<!-- END b_tutorial -->
<!-- END b_tutorial_encontrado -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Tutorial procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
