<script>var contrato='';</script>
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul> 
    <li><a href="produtos.php">Voltar</a></li>
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
    <!-- BEGIN b_configDominio -->
    <form id="form1" name="form1" method="post" action="">
    <h1>CONFIGURAÇÕES DO PRODUTO</h1>
    <div class="apontaDominio" style="line-height:25px;">
    <div class="reg">
        <label>
          <input name="txtTipoDominio" type="radio" id="txtTipoDominio_0" value="1" checked="checked" />
          Eu quero registrar um novo Domínio</label>
        <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
          <div id="espacoDominioReg" style="padding:5px 0;">
            <p>www.
              <input name="txtDominio" type="text" class="campoForm" id="txtDominio" value="{dominio}" size="45" />
              <select name="txtTld" id="txtTld" class="selectForm">
                
              {opcoesWhois}
            
              </select>
            </p>
            <p style="padding-top:10px;">
              <input type="submit" name="button5" id="button5" value="Clique para continuar" class="submit" />
            </p>
          </div>
    </div>
    <div class="trans">
        <label>
          <input type="radio" name="txtTipoDominio" value="2" id="txtTipoDominio_1" />
          Desejo transferir meu domínio para </label>
          <div id="espacoDominioTrans" style="padding:5px 0;">
            <p>www.
              <input name="txtDominio2" type="text" class="campoForm" id="txtDominio2" value="{dominio}" size="45" />
              <select name="txtTld2" id="txtTld2" class="selectForm">
                
              {opcoesWhois}
            
              </select>
              </p>
            <p style="padding-top:10px;">
              <input type="submit" name="button4" id="button4" value="Clique para continuar" class="submit" />
            </p>
          </div>
    </div>
    <div class="dns">
        <label>
          <input type="radio" name="txtTipoDominio" value="3" id="txtTipoDominio_2" />
          Ja possuo um domínio e irei apenas alterar os DNS</label>
        <div id="espacoDominioDns" style="padding:5px 0;">
          <p>www.
            <input name="txtDominio3" type="text" class="campoForm" id="txtDominio3" size="45" />
            </p>
          <p style="padding-top:10px;">
            <input type="submit" name="button3" id="button3" value="Clique para continuar" class="submit" />
          </p>
        </div>
      </p>
      </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;    </p>
  <p>&nbsp;</p>
<p>&nbsp;</p>
      </form>
  <!-- END b_configDominio -->
  <!-- BEGIN registroDominioDisponivel -->
  <h1>REGISTRO DE DOMÍNIO</h1>
  <p>&nbsp;</p>
  <p>Parabéns, seu domínio {dominio} está disponivel para registro</p>
  <p>&nbsp;</p>
  <form id="form2" name="form2" method="post" action="">
    <p>
      Período de registro 
      <select name="periodo" id="periodo" class="selectForm">
        {opSel}    
      </select>
      <input name="nomeDominio" type="hidden" id="nomeDominio" value="{nomedominio}" />
      <input name="tld" type="hidden" id="tld" value="{tld}" />
      <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" /><span style="padding-top:10px;">
        <input name="tiporeg" type="hidden" id="tiporeg" value="1" />
        <input type="submit" id="button6" value="Clique para continuar" class="submit" />
        </span> 
      <input name="Button" type="button" class="cancel" id="button7" onclick="history.back(1);" value="Voltar" />
    </p>
  </form>
  <p>&nbsp;</p>
  <!-- END registroDominioDisponivel -->
  <!-- BEGIN registroDominioIndisponivel -->
  <h1>REGISTRO DE DOMÍNIO</h1>
  <p>&nbsp;</p>
  <p>Desculpe, seu domínio <strong>{dominio}</strong> não está disponivel para registrar. Escolha um outro nome.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <!-- END registroDominioIndisponivel -->
  <!-- BEGIN transferenciaDominioDisponivel -->
  <h1>TRANSFERÊNCIA DE DOMÍNIO</h1>
  <p>&nbsp;</p>
  <p>Parabéns, seu domínio {dominio} está pronto para ser transferido</p>
  <p>&nbsp;</p>
  <form id="form2" name="form2" method="post" action="">
    <p>
      Período de registro <br />
      <select name="periodo" id="periodo" class="selectForm">
        {opSel}     
      </select>
      <input name="nomeDominio" type="hidden" id="nomeDominio" value="{nomedominio}" />
      <input name="tld" type="hidden" id="tld" value="{tld}" />
      <input name="txtConfigDominio" type="hidden" id="txtConfigDominio" value="1" />
      </p>
      <p style="padding-top:10px;">
      Epp Key: <br /><input name="txtEpp" type="text" class="campoForm" id="txtEpp" size="18" /></p>
      <p style="padding-top:10px;">
        <input name="tiporeg" type="hidden" id="tiporeg" value="2" />
        <input type="submit" id="button6" value="Clique para continuar" class="submit" />
        
      <input name="Button" type="button" class="cancel" id="button7" onclick="history.back(1);" value="Voltar" />
      </p>
    </p>
  </form>
  <p>&nbsp;</p>
  <!-- END transferenciaDominioDisponivel -->
  <!-- BEGIN transferenciaDominioIndisponivel -->
  <h1>TRANSFERÊNCIA DE DOMÍNIO</h1>
  <p>&nbsp;</p>
  <p>Desculpe, seu domínio <strong>{dominio}</strong> não pode ser transferido.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <!-- END transferenciaDominioIndisponivel -->
  <!-- BEGIN configProduto -->
      <h1>CONFIGURAÇÕES DO PRODUTO</h1>
      <p>&nbsp;</p>
      <form id="form3" name="form3" method="post" action="comprar.php?acao=add&amp;produto={idProduto}">
      <h2>PAGAMENTO</h2>
      <p>&nbsp;</p>
      <p><strong>Escolha um ciclo de Pagamento</strong></p>
      <p>&nbsp;</p>
      <p>
        <!-- BEGIN cicloPagamento -->
        <label>
          <input type="radio" name="txtCicloPagamento" value="{valorCiclo}"{chk} id="txtCicloPagamento_{valorCiclo}" />
          {ciclo} - R$ {valor}</label><br />
        <!-- END cicloPagamento -->
      </p>
      <!-- BEGIN opcoesConfiguraveis -->
      <p>&nbsp;</p>
      <h2>OPÇÕES CONFIGURAVEIS</h2>
      <p>&nbsp;</p>
      <!-- BEGIN opConfigurar -->
      <p><strong>{perguntaConfiguravel}</strong></p>
      <p>&nbsp;</p>
      <p>
        <!-- BEGIN itemConfiguravel -->
        <label>
          <input type="radio" name="txtOpcionais[{itemnum}]" value="{valorOpcao}" id="txtOpcionais{itemnum}_{valorOpcao}" />
          {itemOpcao} - <span class="mensal">R$ {valor} {opcionalMensal}</span>
          				<span class="trimestral">R$ {valor3} Trimestral</span>
                        <span class="semestral">R$ {valor6} Semestral</span>
                        <span class="anual">R$ {valor12} Anual</span>
                        <span class="bienal">R$ {valor24} Bienal</span>
                        <span class="trienal">R$ {valor36} Trienal</span>{if ({setup} != x)} |{setup} {end if}</label><br />
        <!-- END itemConfiguravel -->
      </p>
      <p>&nbsp;</p>
      <!-- END opConfigurar -->
      
      
      <!-- END opcoesConfiguraveis -->
      <!-- BEGIN opcoesAdicionais -->
      <p>&nbsp;</p>
      <h2>ADICIONAIS</h2>
      <p>&nbsp;</p>
      <!-- BEGIN opAdicional -->
      <p><label>
          <input type="checkbox" name="txtAdicionais[{itemnum}]" value="{itemnum}" id="txtAdicionais{itemnum}" />
          {itemOpcao} - <span class="mensal">R$ {valor} {adicionalMensal}</span>
          				<span class="trimestral">R$ {valor3} Trimestral</span>
                        <span class="semestral">R$ {valor6} Semestral</span>
                        <span class="anual">R$ {valor12} Anual</span>
                        <span class="bienal">R$ {valor24} Bienal</span>
                        <span class="trienal">R$ {valor36} Trienal</span>{if ({setup} != x)} |{setup} {end if}</label></p>
      <!-- END opAdicional -->
      
      
      <!-- END opcoesAdicionais -->
      <p>&nbsp;</p>
      <p><span style="padding-top:10px;">
        <input type="submit" id="button8" value="Clique para continuar" class="submit" />
      </span></p>
    </form>
  <!-- END configProduto -->
  <!-- BEGIN b_revisar -->    
      <h1>Cumpom de Desconto</h1>
      <p>Verifique ao lados os itens escolhidos</p>
      <p>&nbsp;</p>
      <form id="form4" name="form4" method="post" action="?acao=promocao">
        <p style="padding:5px 0;"><strong>Código Promocional:</strong></p>
        <p style="padding:5px 0 10px 0;">Você recebeu um cupom de desconto? Legal, agora digite no campo abaixo para utiliza-lo</p>
        <p>
          <input name="txtCodPromocional" type="text" class="campoForm" id="txtCodPromocional" size="40" />
          <input type="submit" name="button" id="button" value="Aplicar Desconto" class="cancel" />
        </p>
      </form>
      <!-- BEGIN b_codigoDesconto -->
      <p>&nbsp;</p>
      <p>Você está utilizando o cupom: <strong><u>{CUMPOMDESCONTO}</u></strong></p>
      <!-- BEGIN b_nullCodigoDesconto -->
      <p>&nbsp;</p>
      <p>Não existem em seu carrinho, produtos compativeis com este cupom de desconto</p>
      <!-- END b_nullCodigoDesconto -->
      <!-- END b_codigoDesconto -->
<p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1>Finalizar Pedido</h1>
      <p>&nbsp;</p>
      <!-- BEGIN b_contrato -->
      <p>
        <input name="txtContrato" type="checkbox" id="txtContrato" value="S" />
      Declaro que li e aceito os <a href="{URLContrato}" style="text-decoration:underline; font-weight:bold;" target="_blank">Termos do Contrato</a></p>
      <script>contrato='{contrato}';</script>
      <!-- END b_contrato -->
	  <!-- BEGIN b_fLogado -->
      <p>&nbsp;</p>
      <p align="center"><input type="button" id="btLCheckout" value="Clique para finalizar seu pedido" class="submit" onclick="if(contrato=='S'){ if($('#txtContrato').is(':checked')) {window.location='checkout.php';}else{alert('Você precisa aceitar os termos do contrato'); return false;}}else{window.location='checkout.php';}" /></p>
      <!-- END b_fLogado -->
      <!-- BEGIN b_fCadastroLogin -->
      <p align="center">&nbsp;</p>
      <div id="guias">
        <div class="abas">
          <a href="#" id="linkCadastro" class="abaAtiva">Registre-se</a>
          <a href="#" id="linkLogin">Já sou cadastrado - Login</a>
        </div>
        <div class="cont1"><p><span class="obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  		<p>&nbsp;</p>
        
        <form id="form" name="form" method="post" action="registrar.php?origem=carrinho" enctype="multipart/form-data">
		  {REGISTRAR_FORMULARIO_CADASTRO}
		</form>
        
        </div>
        <div class="cont2">
        <script>
  $(document).ready(function() {
	$("#formLogin").submit(function(){
	
		if(formLogin.txtLogin.value==""){
			alert("Preencha seu email");
			return false;
		}else if(formLogin.txtSenha.value==''){
			alert('Preencha sua senha');
			return false;
		}else if(contrato=='S'){
			if($("#txtContrato").is(':checked')) {
				return true;
			}else{
			
				alert('Você precisa aceitar os termos do contrato');
				return false;
			}
		}else{
			return true;
		}
	});
  });
</script>
<form id="formLogin" name="formLogin" method="post" action="login.php?origem=carrinho">
  <p>Preencha os campos abaixo para fazer login</p>
  <p>&nbsp;</p>
  <table width="100%" class="tabForm" border="0" cellpadding="5" cellspacing="0">
    <tr>
      <td><strong>Email:</strong></td>
      <td><table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><input obgr="sim" name="txtLogin" type="text" class="campoForm" id="txtLogin" style="width:300px" /></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td><strong>Senha:</strong></td>
      <td><table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><input obgr="sim" name="txtSenha" type="password" class="campoForm" id="txtSenha" style="width:300px" /></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;
        <input name="login" type="hidden" id="login" value="1" /></td>
      <td>&nbsp;
        <input type="submit" name="btSalvar2" id="btSalvar2" value="Entrar" class="submit" /></td>
    </tr>
  </table>
</form>      
        </div>
      </div>
      
      
      <script>
	  $(document).ready(function() {
		 $('#linkLogin').click(function(){
			$('.cont1').css('display', 'none');
			$('.cont2').css('display', 'block');
			$('.abaAtiva').removeClass();
			$(this).addClass('abaAtiva');
			return false;
		 });
		 
		 $('#linkCadastro').click(function(){
			$('.cont2').css('display', 'none');
			$('.cont1').css('display', 'block');
			$('.abaAtiva').removeClass();
			$(this).addClass('abaAtiva');
			return false;
		 });
	  });
	  </script>
      <!-- END b_fCadastroLogin -->
      
      <!-- END b_revisar --></td>
    <td width="370" valign="top"><div class="listaCarrinho">
      <h2>ITENS NO CARRINHO</h2>
      <!-- BEGIN b_itemCarrinho -->
      <p>&nbsp;</p>
      <p><strong>{produto}</strong> <a href="comprar.php?acao=remover&ID={k}" style="color:#F00; font-weight:bold">X</a></p>
      <!-- BEGIN b_adicionaisView -->
      <p style="color:#CCCCCC;">- {itemAdicional}</p>
      <!-- END b_adicionaisView -->
      <p>R$ {valor} /{ciclo}</p>
      <p style="color:#CCCCCC;">R$ {valor2} /Recorrente</p>
      <!-- END b_itemCarrinho -->
      <p>&nbsp;</p>
      <hr size="1" />
      <p>&nbsp;</p>
      <!-- BEGIN b_totalCarrinho -->
<p><strong>Total:</strong> R$ {totalCarrinho}</p>
	  <!-- END b_totalCarrinho -->
      <!-- BEGIN b_carrinhoVazio -->
<p><strong>Ops!</strong> O carrinho ainda está vazio.</p>
	  <!-- END b_carrinhoVazio -->
      <p>&nbsp;</p>
      <!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="produtos.php">Continuar comprando</a></td>
          <td align="right"><input type="submit" name="button2" id="button2" value="Finalizar Pedido" class="submit" /></td>
        </tr>
      </table>-->
    </div></td>
  </tr>
</table>
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
