<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p>Obrigado, seu pedido foi realizado com sucesso.</p>
      <p>Verifique os dados enviados para seu email.</p>
      <p>&nbsp;</p>
      <p>Seja bem vindo.</p>
      <p>&nbsp;</p>
      <p><a href="detalhesfatura.php?ID={k}"><strong>Clique aqui para ver sua fatura.</strong></a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
</div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
