<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <p class="dir">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
  </div>
  <div style="padding:15px;"> {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p><span class="obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
      <p>&nbsp;</p>
      <form id="form" name="form" method="post" action="" enctype="multipart/form-data">
        <table width="100%" class="tabForm" border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td width="170"><strong>Nome:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input name="txtNome" type="text" class="campoForm" id="txtNome" style="width:300px" value="{txtNome}" obgr="sim"{read} /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input name="txtEmail" type="text" class="campoForm" id="txtEmail" style="width:300px" value="{txtEmail}" obgr="sim"{read} /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Telefone:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input name="txtTelefone" type="text" class="campoForm" id="txtTelefone" style="width:300px" value="{txtTelefone}" obgr="sim" /></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Assunto:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input name="txtAssunto" type="text" class="campoForm" id="txtAssunto" style="width:300px" value="{txtAssunto}" obgr="sim"{read} /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Mensagem:</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><div style="padding-right:6px;">
                <textarea name="txtMensagem" id="txtMensagem" cols="45" rows="12" class="texareaForm" style="width:100%;">{txtMensagem}</textarea>
              </div></td>
          </tr>
          <!-- BEGIN b_captcha -->
          <tr>
            <td><strong>Controle de Span:</strong></td>
            <td>{captcha}</td>
          </tr>
          <!-- END b_captcha -->
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="center">&nbsp;
              <input name="post" type="hidden" id="post" value="1" />
              <input type="submit" name="btSalvar" id="btSalvar" value="Enviar" class="submit" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel" value="cancelar" onclick="window.location='estrutura/cancelar.php?modulo=clientes';" /></td>
          </tr>
        </table>
      </form>
      <script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtEmail.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtStatus.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="bendl"></div>
  <div class="bendr"></div>
</div>
