<link href="temas/padrao.css" rel="stylesheet" type="text/css" />
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul> 
    <li><a href="javascript:history.go(-1);">Voltar</a></li>
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>
<!-- BEGIN b_servico_encontrado -->
<h1>INFORMAÇÕES</h1>
<p>&nbsp;</p>
<table width="600" class="table table-striped" border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td width="176"><strong>Domínio:</strong></td>
        <td width="404">{dominio}</td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td>{status}</td>
      </tr>
      <tr>
        <td><strong>Data do registro:</strong></td>
        <td>{data1}</td>
      </tr>
      <tr>
        <td><strong>Valor:</strong></td>
        <td>{valor}</td>
      </tr>
      <tr>
        <td><strong>Proximo Vencimento:</strong></td>
        <td>{data2}</td>
      </tr>
      <tr>
        <td><strong>Código Promocional:</strong></td>
        <td>{cupomDesconto}</td>
      </tr>
    </table>
<!-- END b_servico_encontrado -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Produto/Serviço procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
