<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">INÍCIO</div>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
<h1>Domínios</h1>
<div style="text-align:center">
<form id="formChecar" name="form1" method="post" action="">
  <p>Ingresse na web, você precisará de um domínio, seja registro, transferencia ou apenas hospedagem.
</p>
  <p>&nbsp;</p>
  <p>
    seu dominio, ex: minhaempresaonline.com
    <input name="chkDominio" type="text" class="campoForm" id="chkDominio" size="40" />
  </p>
  <p>&nbsp;</p>
  <p>
    <input type="button" name="chkDisp" id="chkDisp" value="Checar Disponibilidade" class="submit" />
     <input type="button" name="btTransferir" id="btTransferir" value="Transferir" class="cancel" /> 
    <input type="button" name="btnConHosp" id="btnConHosp" value="Contratar Hospedagem" class="cancel" />
  </p>
</form>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" valign="top"><h1>Identifique-se</h1>
      <p>&nbsp;</p>
    <p>Se você ja é registrado, clique no botão abaixo para realizar o login, atualizar seus dados e gerenciar seus Produtos/Serviços e faturas</p>
    <p>&nbsp;</p>
    <p>
      <input type="button" name="button4" id="button4" value="Login" class="submit" onclick="window.location='login.php'" />
    </p></td>
    <td width="20%" valign="top">&nbsp;</td>
    <td width="40%" valign="top"><h1>Contratar um Serviço</h1>
    <p>&nbsp;</p>
    <p>Visite nosso fomulário de pedido e escolha um de nossos produtos ou serviços que deseja contratar</p>
    <p>&nbsp;</p>
    <p>
      <input type="button" name="button5" id="button5" value="Ir para formulario de pedido" class="submit" onclick="window.location='produtos.php'" />
    </p></td>
  </tr>
</table>

</div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div> 