<link href="templates/{nome_template}/temas/login/{tema_template}" rel="stylesheet" type="text/css" />
<!-- BEGIN b_alert -->
<script>
  $(document).ready(function(){
  	alert('{respostaTroca}');
  });
</script>
<!-- END b_alert -->
<!-- BEGIN b_login -->
<div class="block small center login">
      <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>Login</h2>
        <div style="text-align:right"><a href="login.php?acao=recuperar">Esqueceu a senha?</a></div>
  </div>
      <div class="block_content">
<!-- BEGIN bErroLogin -->
<div class="erro">
  <p><img src="templates/{admin_nome_template}/imagens/erro.png" width="34" height="34" /><strong>{erroLogin}</strong></p>
  <p>{erroLoginInfo}</p>
</div>
<!-- END bErroLogin -->
<!-- BEGIN bLogout -->
<p style="font-weight:bold">{mensagem_logout}</p>
<!-- END bLogout -->
<form id="form1" name="formLogin" method="post" action="">
  <p><label>Email:</label><br /> 
    <input type="text" name="txtLogin" id="txtLogin" class="text" />
  </p>
  <p><label>{senha}:</label><br /> 
    <input type="password" name="txtSenha" id="txtSenha" class="text" />
  </p>
  <p>&nbsp;</p>
  <div style="width:100px; float:left"><input name="login" type="hidden" id="login" value="1" />
  <input type="submit" class="submit" value="Entrar"></div>
  <div style="width:160px; text-align:right; float:right; color:#333; height:30px; line-height:30px; vertical-align:middle"><strong>{s_ip}:</strong> {IP}</div>
  <p>&nbsp;</p>
</form>      
    </div>  
   <div class="bendl"></div>
      <div class="bendr"></div>   
</div>

<!-- END b_login -->





<!-- BEGIN b_recSenha -->
<div class="block small center login">
      <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>RECUPERAR A SENHA</h2>
  </div>
      <div class="block_content">
<!-- BEGIN bErroLogin2 -->
<div class="erro">
  <p><img src="templates/{admin_nome_template}/imagens/erro.png" width="34" height="34" /><strong>{erroRec}</strong></p>
  <p>{erroRecInfo}</p>
</div>
<!-- END bErroLogin2 -->
<!-- BEGIN bRecForm -->
<p>Para recuerar uma senha, preencha seu email no campo abaixo. Você receberá as instruções para recuperação da senha.</p>
<form id="form1" name="formLogin" method="post" action="?acao=recuperar">
  <p><label>Email:</label><br /> 
    <input type="text" name="txtLogin" id="txtLogin" class="text" />
  </p>
  <p>&nbsp;</p>
  <div style="width:100px; float:left"><input name="login" type="hidden" id="login" value="2" />
  <input type="submit" class="submit" value="Enviar">
  </div>
  <div style="width:160px; text-align:right; float:right; color:#333; height:30px; line-height:30px; vertical-align:middle"><strong>{s_ip}:</strong> {IP}</div>
  <p>&nbsp;</p>
</form>
<!-- END bRecForm -->
<!-- BEGIN bRecSucesso -->
<p>obrigado, enviamos para {emailCliente}, um link de confirmação para gerar uma nova senha.</p>
<p>&nbsp;</p>
  <div style="width:100px; float:left"><input name="login" type="hidden" id="login" value="2" />
  <input name="Button" type="button" class="submit" value="Voltar" onclick="window.location='login.php';">
  </div>
  <div style="width:160px; text-align:right; float:right; color:#333; height:30px; line-height:30px; vertical-align:middle"><strong>{s_ip}:</strong> {IP}</div>
  <div style="display:block; clear:both;">&nbsp;</div>
<!-- END bRecSucesso -->

    </div>  
   <div class="bendl"></div>
      <div class="bendr"></div>   
</div>
<!-- END b_recSenha -->