<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p><span class="obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  <p>&nbsp;</p><form id="form" name="form" method="post" action="" enctype="multipart/form-data">
<table width="100%" class="tabForm" border="0" cellpadding="5" cellspacing="0"><tr>
		  <td><strong>Nome:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtNome" type="text" class="campoForm" id="txtNome" value="{cliente_nome}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td><td>Nome Completo</td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Empresa:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEmpresa" type="text" class="campoForm" id="txtEmpresa" value="{cliente_empresa}" style="width:300px" /></td></tr>
			</table></td>
		</tr>
        <!-- BEGIN b_cpf_cnpj -->
        <tr>
		  <td><strong>CPF/CNPJ:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtCpfCnpj" type="text" class="campoForm" id="txtCpfCnpj" value="{cpf_cnpj}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td><td>Apenas números</td></tr>
			</table></td>
		</tr>
        <!-- END b_cpf_cnpj -->
        <tr>
		  <td><strong>Email:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Email Alternativo:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEmailAlternativo" type="text" class="campoForm" id="txtEmailAlternativo" value="{cliente_emailAlternativo}" style="width:300px" /></td><td>Esse email recebe cópias de todas as mensagens enviadas ao email principal</td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Nova Senha:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input name="txtSenha" type="password" class="campoForm" id="txtSenha" style="width:300px" /></td></tr>
			</table></td>
		</tr>
		<tr>
		  <td><strong>Confirmar Senha:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input name="txtSenha2" type="password" class="campoForm" id="txtSenha2" style="width:300px" /></td>
		      </tr>
		    </table></td>
		  </tr>
                 <tr>
		  <td><strong>Frase de Segurança:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtFrase" type="text" class="campoForm" id="txtFrase" value="{cliente_frase}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span> Enviamos essa Frase em todo email que te encaminhamos, garantindo a autencicidade da mensagem enviada</td></tr>
                </table></td>
		  </tr>
		<tr>
		  <td><strong>Endereço:</strong></td>
		  <td>
		    <table border="0" cellpadding="0" cellspacing="0">
		      <tr>
		        <td><input obgr="sim" name="txtEndereco" type="text" class="campoForm" id="txtEndereco" value="{cliente_endereco}" style="width:300px" /></td></tr>
	        </table></td>
		  </tr><tr>
		  <td><strong>Bairro:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtBairro" type="text" class="campoForm" id="txtBairro" value="{cliente_bairro}" style="width:300px" /></td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Cidade:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtCidade" type="text" class="campoForm" id="txtCidade" value="{cliente_cidade}" style="width:300px" /></td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Estado:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEstado" type="text" class="campoForm" id="txtEstado" value="{cliente_estado}" style="width:300px" /></td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Cep:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtCep" type="text" class="campoForm" id="txtCep" value="{cliente_cep}" style="width:300px" /></td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Telefone:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtTelefone" type="text" class="campoForm" id="txtTelefone" value="{cliente_telefone}" style="width:300px" /></td></tr>
			</table></td>
		</tr><tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;<input name="post" type="hidden" id="post" value="1" /></td>
      <td><input type="submit" name="btSalvar" id="btSalvar" value="salvar" class="submit" /> <input type="button" name="btCancelar" id="btCancelar" class="cancel" value="cancelar" onclick="window.location='estrutura/cancelar.php?modulo=clientes';" /></td>
    </tr>
	</table>
	</form><script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtEmail.value==""){
						alert(obrigatorio);
						return false;
					}else if(form.txtStatus.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>

    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
