<link href="temas/padrao.css" rel="stylesheet" type="text/css" />
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul> 
    <li><a href="javascript:history.go(-1);">Voltar</a></li>
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p>&nbsp;</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><p>Selecione a categoria do produto desejado</p></td>
    <td align="right"><a href="carrinho.php" style="color:#999"><strong>Ir para o carrinho/Fechar Pedido</strong></a></td>
  </tr>
</table>
<p>&nbsp;</p>
<ul class="catProdutos">
<!-- BEGIN b_categoria -->
  <li><a href="produtos.php?ID={id_categoria}{dominio}">{categoria} ({tutoriais})</a></li>
<!-- END b_categoria -->
<!-- BEGIN b_scategoria -->
<li>Nenhuma Categoria Cadastrada</li>
<!-- END b_scategoria -->
</ul>


<!-- BEGIN b_registro -->
<ul class="produto">
<!-- BEGIN b_produto -->
<li style="line-height:20px;"><div class="pad"><h2>{produto}</h2>
{descricao}
<p>&nbsp;</p>
<p>R$ {valor} {ciclo}</p>
<p><a href="carrinho.php?ID={id_produto}{dominio}">Contratar Agora</a></p></div></li>
<!-- END b_produto -->
</ul>
<!-- END b_registro -->
<!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
<!-- END b_semregistro -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
