<table width="100%" class="tabForm" border="0" cellpadding="5" cellspacing="0"><tr>
		  <td><strong>Nome:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtNome" type="text" class="campoForm" id="txtNome" value="{cliente_nome}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td><td>Nome Completo</td></tr>
			</table></td>
		</tr><tr>
		  <td><strong>Empresa:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEmpresa" type="text" class="campoForm" id="txtEmpresa" value="{cliente_empresa}" style="width:300px" /></td></tr>
			</table></td>
		</tr>
        <!-- BEGIN b_cpf_cnpj -->
        <tr>
		  <td><strong>CPF/CNPJ:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtCpf_cnpj" type="text" class="campoForm" id="txtCpf_cnpj" value="{cpf_cnpj}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td>
				<td>Use apenas números</td>
			  </tr>
			</table> </td>
		</tr>
        <!-- END b_cpf_cnpj -->
        <tr>
		  <td><strong>Email:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" style="width:300px" /></td><td><span class="obrigatorio">!&nbsp;</span></td></tr>
			</table></td>
		</tr>
        <tr>
		  <td><strong>Email Alternativo:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input name="txtEmailAlternativo" type="text" class="campoForm" id="txtEmailAlternativo" value="{cliente_email_alternativo}" style="width:300px" /></td></tr>
			</table></td>
		</tr>
<tr>
		  <td><strong>Senha:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtSenha" type="password" class="campoForm" id="txtSenha" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		</tr>
		<tr>
		  <td><strong>Confirmar Senha:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtSenha2" type="password" class="campoForm" id="txtSenha2" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		  </tr>
		<tr>
		  <td><strong>Frase de Segurança:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtFrase" type="text" class="campoForm" id="txtFrase" value="{frase_seguranca}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      <td>Enviamos essa Frase em todo email que te encaminhamos, garantindo a autencicidade da mensagem enviada</td>
		    </tr>
		    </table></td>
		  </tr>
        <tr>
		  <td><strong>Endereço:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtEndereco" type="text" class="campoForm" id="txtEndereco" value="{cliente_endereco}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		  </tr><tr>
		  <td><strong>Bairro:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtBairro" type="text" class="campoForm" id="txtBairro" value="{cliente_bairro}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		</tr><tr>
		  <td><strong>Cidade:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtCidade" type="text" class="campoForm" id="txtCidade" value="{cliente_cidade}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		</tr><tr>
		  <td><strong>Estado:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtEstado" type="text" class="campoForm" id="txtEstado" value="{cliente_estado}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		</tr><tr>
		  <td><strong>Cep:</strong></td>
		  <td><table border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td><input obgr="sim" name="txtCep" type="text" class="campoForm" id="txtCep" value="{cliente_cep}" style="width:300px" /></td>
		      <td><span class="obrigatorio">!&nbsp;</span></td>
		      </tr>
		    </table></td>
		</tr><tr>
		  <td><strong>Telefone:</strong></td>
		  <td>
			<table border="0" cellpadding="0" cellspacing="0">
			  <tr>
				<td><input obgr="sim" name="txtTelefone" type="text" class="campoForm" id="txtTelefone" value="{cliente_telefone}" style="width:300px" /></td></tr>
			</table></td>
		</tr>
		<!-- BEGIN b_captcha -->
          <tr>
            <td><strong>Controle de Span:</strong></td>
            <td>{captcha}</td>
          </tr>
          <!-- END b_captcha -->
		<tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;<input name="post" type="hidden" id="post" value="1" /></td>
      <td><input type="submit" name="btSalvar" id="btSalvar" value="Cadastrar Agora" class="submit" /></td>
    </tr>
	</table>
    
<script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtEmail.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtSenha.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtSenha2.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtEndereco.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtBairro.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtCidade.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtEstado.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtCep.value==""){
						alert(obrigatorio);
						return false;
		}else if(form.txtSenha.value!=form.txtSenha2.value){
						alert('Senha e confirmação devem ser iguais');
						return false;
		}else if(contrato=='S'){
			if($("#txtContrato").is(':checked')) {
				return true;
			}else{
			
				alert('Você precisa aceitar os termos do contrato');
				return false;
			}
		}else{
			return true;
		}
	});
  });
</script>
