<!-- BEGIN b_top_excluir -->
<form id="formLista" name="formLista" method="post" action="estrutura/{modulo_nome}/excluir.php">
  <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 98%; margin: 0px auto;">
	<tr><td>
<!-- END b_top_excluir -->

      <table class="tabList" align="center" cellpadding="0" cellspacing="0">
        <tr>
            
          <!-- BEGIN b_box_padrao_excluir -->
          <td class="superior" width="13" style="padding-left:10px;"><input name="checkPadrao" type="checkbox" id="checkPadrao" value="SIM"></td>
          <!-- END b_box_padrao_excluir -->
          
          <!-- BEGIN b_coluna_cabecalho -->
          <td class="superior"{w}{adcp}>{item_nome}</td>
          <!-- END b_coluna_cabecalho -->
          
          <!-- BEGIN b_acao_status -->
          <td class="superior" align="center">Status</td>
          <!-- END b_acao_status -->
          
          <!-- BEGIN b_cabecalho_acoes -->
          <td class="superior" colspan="{colAcoes}" align="center">Ações</td>
          <!-- END b_cabecalho_acoes -->
            
        </tr>
            
        <!-- BEGIN b_linha_registros -->
        <tr class="{classLinha}"> 
          <!-- BEGIN b_box_excluir -->
          <td style="padding-left:10px;"><input name="txtId[]" type="checkbox" id="checkPadrao" value="{id_registro}"></td>
          <!-- END b_box_excluir -->
          <!-- BEGIN b_campo -->
          <td {adcp}>{valor_registro}</td>
          <!-- END b_campo -->
          <!-- BEGIN b_campo_status -->
          <td align="center"><div id="status{id_registro}"><a href="estrutura/{modulo_nome}/status.php?{modulo_idref}={id_registro}&status={status_registro}&cat={cat_registro}" class="status" rel="{id_registro}"><img src="imagens/{img_status_registro}" alt="{alt_status}" width="20" height="20" border="0" /></a></div></td>
          <!-- END b_campo_status -->
          
          <!-- BEGIN b_campo_resend -->
          <td width="25" align="center"><a href="{modulo_nome}.php?acao=enviar&ID={id_registro}">reenviar</a></td>
          <!-- END b_campo_resend -->
          
          <!-- BEGIN b_campo_editar -->
          <td width="25" align="center"><a href="{modulo_nome}.php?acao=form&ID={id_registro}">editar</a></td>
          <!-- END b_campo_editar -->
          <!-- BEGIN b_campo_excluir -->
          <td width="25" align="center"><a href="estrutura/{modulo_nome}/excluir.php?ID={id_registro}" class="linkExcluir">apagar</a></td>
          <!-- END b_campo_excluir -->
          <!-- BEGIN b_campo_upload -->
          <td width="25" align="center"><a href="?acao=enviar-arquivos&ID={id_registro}"><img src="imagens/btUpload.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_upload -->
          <!-- BEGIN b_campo_listarfotos -->
          <td width="25" align="center"><a href="?acao=listar-fotos&ano={ano_registro}&ID={id_registro}"><img src="'.$urlPadrao.'imagens/btFotos.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_listarfotos -->
         
        </tr>
         
        <!-- END b_linha_registros -->   
            
            
            
      </table>
            
<!-- BEGIN b_base_excluir -->
    </td></tr>
	<tr>
	  <td height="60"><input type="submit" name="button" id="button" class="submit" value="Excluir Selecionados" /></td>
	</tr>
  </table>
</form>
<!-- END b_base_excluir -->
            