<!-- BEGIN b_top_excluir2 -->
<form id="formLista" name="formLista" method="post" action="estrutura/{modulo_nome2}/excluir.php">
  <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 98%; margin: 0px auto;">
	<tr><td>
<!-- END b_top_excluir2 -->

      <table class="tabList" align="center" cellpadding="0" cellspacing="0">
        <tr>
            
          <!-- BEGIN b_box_padrao_excluir2 -->
          <td class="superior" width="13" style="padding-left:10px;"><input name="checkPadrao" type="checkbox" id="checkPadrao" value="SIM"></td>
          <!-- END b_box_padrao_excluir2 -->
          
          <!-- BEGIN b_coluna_cabecalho2 -->
          <td class="superior"{w2}{adcp2}>{item_nome2}</td>
          <!-- END b_coluna_cabecalho2 -->
          
          <!-- BEGIN b_acao_status2 -->
          <td class="superior" align="center">Status</td>
          <!-- END b_acao_status2 -->
          
          <!-- BEGIN b_cabecalho_acoes2 -->
          <td class="superior" colspan="{colAcoes2}" align="center">Ações</td>
          <!-- END b_cabecalho_acoes2 -->
            
        </tr>
            
        <!-- BEGIN b_linha_registros2 -->
        <tr class="{classLinha2}"> 
          <!-- BEGIN b_box_excluir2 -->
          <td style="padding-left:10px;"><input name="txtId[]" type="checkbox" id="checkPadrao" value="{id_registro2}"></td>
          <!-- END b_box_excluir2 -->
          <!-- BEGIN b_campo2 -->
          <td {adcp2}>{valor_registro2}</td>
          <!-- END b_campo2 -->
          <!-- BEGIN b_campo_status2 -->
          <td align="center"><div id="status{id_registro2}"><a href="estrutura/{modulo_nome2}/status.php?{modulo_idref2}={id_registro2}&status={status_registro2}&cat={cat_registro2}" class="status" rel="{id_registro2}"><img src="imagens/{img_status_registro2}" alt="{alt_status2}" width="20" height="20" border="0" /></a></div></td>
          <!-- END b_campo_status2 -->
          
          <!-- BEGIN b_campo_editar2 -->
          <td width="25" align="center"><a href="?acao=form&ID={id_registro2}">editar</a></td>
          <!-- END b_campo_editar2 -->
          <!-- BEGIN b_campo_excluir2 -->
          <td width="25" align="center"><a href="estrutura/{modulo_nome2}/excluir.php?ID={id_registro2}" class="linkExcluir">apagar</a></td>
          <!-- END b_campo_excluir2 -->
          <!-- BEGIN b_campo_upload2 -->
          <td width="25" align="center"><a href="?acao=enviar-arquivos&ID={id_registro2}"><img src="imagens/btUpload.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_upload2 -->
          <!-- BEGIN b_campo_listarfotos2 -->
          <td width="25" align="center"><a href="?acao=listar-fotos&ano={ano_registro2}&ID={id_registro2}"><img src="'.$urlPadrao.'imagens/btFotos.gif" alt="Upload de Fotos" width="20" height="20" border="0" /></a></td>
          <!-- END b_campo_listarfotos2 -->
         
        </tr>
         
        <!-- END b_linha_registros2 -->   
            
            
            
      </table>
            
<!-- BEGIN b_base_excluir2 -->
    </td></tr>
	<tr>
	  <td height="60"><input type="submit" name="button" id="button" class="submit" value="Excluir Selecionados" /></td>
	</tr>
  </table>
</form>
<!-- END b_base_excluir2 -->
            