<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->

<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a>
      </li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div style="padding:15px;"> {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p><span class="obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
      <p>&nbsp;</p>
      <form id="form" name="form" method="post" action="" enctype="multipart/form-data">
        <table width="100%" class="tabForm" border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td width="170"><strong>Nome:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input obgr="sim" name="txtRemetente" type="text" class="campoForm" id="txtRemetente" value="{cliente_nome}" style="width:300px"{read} /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" style="width:300px"{read} /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Departamento:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><select name="txtDepartamento" id="txtDepartamento" class="selectForm">
                      
		        {opcoesDepartamento}
		        
                    </select></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Prioridade:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><select name="txtPrioridade" id="txtPrioridade" class="selectForm">
                      <option value="2">Alta</option>
                      <option value="1">Média</option>
                      <option value="0">Baixa</option>
                    </select></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Assunto:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input obgr="sim" name="txtAssunto" type="text" class="campoForm" id="txtAssunto" style="width:300px" /></td>
                  <td><span class="obrigatorio">!&nbsp;</span></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td><strong>Informações do Ticket:</strong></td>
            <td><span class="obrigatorio">!&nbsp;</span></td>
          </tr>
          <tr>
            <td colspan="2"><span style="padding-right:6px;">
              <textarea name="txtMensagem" id="txtMensagem" cols="45" rows="12" class="texareaForm" style="width:100%;"></textarea>
              </span></td>
          </tr>
          <tr>
            <td><strong>Anexar arquivo:</strong></td>
            <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><input type="file" name="arquivo" id="arquivo" class="campoForm" style="width:300px" /></td>
                  <td>(.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</td>
                </tr>
              </table></td>
          </tr>
          <!-- BEGIN b_captcha -->
          <tr>
            <td><strong>Controle de Span:</strong></td>
            <td>{captcha}</td>
          </tr>
          <!-- END b_captcha -->
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="center">&nbsp;
              <input name="post" type="hidden" id="post" value="1" />
              <input type="submit" name="btSalvar" id="btSalvar" value="Abrir Ticket" class="submit" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel" value="cancelar" onclick="window.location='areadocliente.php';" /></td>
          </tr>
        </table>
      </form>
      <script>
  $(document).ready(function() {
	$("#form").submit(function(){
		
		var obrigatorio="Preencha os campos corretamente";
		if(form.txtRemetente.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtEmail.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtAssunto.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtMensagem.value==""){
			alert(obrigatorio);
			return false;
		}else{
			return true;
		}
		
	});
  });
</script>
    </div>
    <p>&nbsp;</p>
  </div>
  <div class="bendl"></div>
  <div class="bendr"></div>
</div>
