<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <fieldset>
    <h2 style="font-size:20px !important;">{assunto}</h2>
    <p>&nbsp;</p>
    <p><strong>Status:</strong> {if ({status} == 0)} Aberto {end if}
               {if ({status} == 1)} Respondido {end if}
               {if ({status} == 2)} Respondido pelo cliente {end if}
               {if ({status} == 3)} Em processo {end if}
               {if ({status} == 4)} Fechado {end if}</p>
               
    <!-- BEGIN b_btFechar -->
    <form id="form1" name="form1" method="post" action="ticketssuporte_acoes.php?acao=2">
	  <p align="center"><input type="submit" name="btFecharTicket" id="btFecharTicket" value="Fechar Ticket" class="submit" style="margin-right:0px !important ;"><input name="txtTicket" type="hidden" id="txtTicket2" value="{id_ticket}" />
      <input name="post" type="hidden" id="post2" value="1" /></p>
    </form>
    <!-- END b_btFechar -->
    </fieldset>

    <h1>Adicionar Resposta</h1>
    <form action="ticketssuporte_acoes.php?acao=1" method="post" enctype="multipart/form-data">
    <p style="padding-right:6px;">
    <textarea name="txtMensagem" id="txtMensagem" cols="45" rows="12" class="texareaForm" style="width:100%;">{txtMensagem}</textarea>
    </p>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="115" height="45"><strong>Anexar arquivo:</strong></td>
        <td width="315"><input type="file" name="arquivo" id="arquivo" class="campoForm" style="width:300px" /></td>
        <td width="256">(.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</td>
      </tr>
      <!-- BEGIN b_captcha -->
          <tr>
            <td><strong>Controle de Span:</strong></td>
            <td colspan="2">{captcha}</td>
          </tr>
          <!-- END b_captcha -->
    </table>
    <p>&nbsp;</p>
    <p style="text-align:right"><input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit" style="margin-right:0px !important ;"><input name="txtTicket" type="hidden" id="txtTicket" value="{id_ticket}" />
      <input name="post" type="hidden" id="post" value="1" />
    </p>
    <p style="clear:both">&nbsp;</p>
    </form>
    <p>&nbsp;</p>
    
    <!-- BEGIN b_respostas -->
    <div class="respticket">
    <p class="arred">&nbsp;</p>
    <div class="bg"><p class="user">{autor_respota}</p><p class="dataresp"><strong>Enviada em</strong> {data_resposta}</p></div>
    </div>

    <div class="respostaticket">

       {mensagem_enviada}

    </div>
    <!-- BEGIN b_anexo -->
    <div style="text-align:right"><strong>Anexo: </strong><a href="arquivos/download.php?ticket={id_ticket}&resposta={idResposta}&anexo={arqAnexo}">{anexo}</a></div>
    <!-- END b_anexo -->
    <p>&nbsp;</p>
    <!-- END b_respostas -->
    
    
    
    
    

    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>