@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #E8E8DD;
	background-image: url(../imagens/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 116px;
	height:100%;
	padding:0px;
}

.boxLogin {
	
	max-width:370px;
	background-color:#FFFFFF;
}
.margin-auto {
	margin: 0 auto !important;
	float:none !important;
}