@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
html {
	width:100%;
	height:100%;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
}

body {
	background-color: #E8E8DD;
	background-image: url(../imagens/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 116px;
	height:100%;
}
.visible-phone {
	display:none;
}

label {
  display: block;
  margin-bottom: 5px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}



.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}


.help-block,
.help-inline {
  color: #595959;
}

.help-block {
  display: block;
  margin-bottom: 10px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.control-group {
  margin-bottom: 10px;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}


.form-horizontal .form-actions {
  padding-left: 180px;
}


.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
#conteudo {
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
}
#topo {
	background-image: url(../imagens/bgTopo.jpg);
	background-repeat: repeat-x;
	height: 116px;
	width: 100%;
	display:table;
}
#topo #logo {
	
	width:300px;
	float:left;
	padding-top:8px;
	
}
#dados {
	height: 50px;
	padding-left:20px;
	color: #B8CAD0;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12px;
	position:absolute;
	top:22px;
	right:0px;
	background-image: url(../imagens/user.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#dados a {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	color:#53C7FF;
	font-weight:bold;
	font-size:12px;
}
#permissao li{
	list-style:none;
	padding-left:5px;
}
.limite {
	display: table;
	clear: both;
	height: auto;
	display:block;
	width:1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#ondeEstou {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
}
#ondeEstou a {
	color: #DC0000;
	font-weight: bold;
}


#menu  {
	width: 754px;
	float:left;
	height: 40px;
	position: relative;
}

#menu #principal {
	height: 40px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	float:left;
}
#menu li {
	display: block;
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
	float: left;
	position: relative;
}
#menu li a {
	color: #FFF;
	text-decoration: none;
	padding-right: 9px;
	padding-left: 9px;
	padding-top: 12px;
	padding-bottom: 11px;
	float: left;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	font-size:14px;
}
#menu li a.ativo {
	background-color:#6C7275;
	color:#FFFFFF;
}
#menu li a:hover, #menu li:hover a {
	background-color:#FFFFFF;
	color:#508DB8;
}

#menu #principal li ul {
	position: absolute;
	top: 40px;
	left: 0px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:500;
	border-bottom:solid 2px #999999;
	border-right:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
#menu #principal li ul li {
	background-color: #FFFFFF;
	width: 190px;
	padding: 0px;
	border-bottom: dotted 1px #d6d6d6;
}
#menu #principal li ul li a {
	font-family:Calibri, Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	width: 165px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 10px;
	text-transform:none;
}
#menu #principal li ul li a:hover {
	background:#6C7275;
	color:#FFFFFF;
}
#menu #principal li:hover ul {
	display:block;
}
#menu #principal li ul li .sub {
	position: absolute;
	top: 0px;
	left: 190px;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	display:none;
	z-index:5;
}
#menu #principal li:hover ul li:hover .sub {
	display:block;
}
#buscaTopo {
	height: 40px;
	text-align:right;
	line-height: 40px;
	float:left;
	vertical-align:middle;
	position:relative;
}
#pBusca {
	position:absolute; z-index:200; top:0px; left:0px;
}
#resultadoBusca {
	position:absolute;
	background-color:#FFF;
	width:450px;
	height:490px;
	top:80px;
	right:265px;
	border: solid 8px #FF6;
	z-index:200;
	text-align:left;
}
#resultadoBusca .icone {
	position:absolute;
	width: 14px;
	height:14px;
	top:-3px;
	right:-20px;
	background-image:url(../../../imagens/set2.png);
}
#resultadoBusca .fechar {
	position:absolute;
	width: 70px;
	height:19px;
	top:5px;
	right:5px;
	background-image:url(../../../imagens/btFechar.png);
	text-indent: -200px;
	overflow: hidden;
}
#resultadoBusca #resp {
	padding:5px;
	line-height:20px;
}
#resultadoBusca #resp #limite {
	overflow:auto;
	height:450px;
}
#overlay {
	background:#FFFFFF;
	position:absolute;
	z-index:180;
	top:0px;
	left:0px;
	width:100%;
}
#resultadoBusca .loading {
	height:32px;
	background-image:url(../../../imagens/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	padding-top: 250px;
}
#buscaTopo {
	margin:0px;
	padding:0px;
}
#buscaTopo .campoBusca {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #333;
	background: url(../imagens/bgBusca.png);
	height: 21px;
	width: 214px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 22px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top:9px;
}
h1, h4 {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color:#1D8BD8;
}
.rBusca {
	color:#333;
	line-height:30px;
}
h2 {
	font-size: 15px;
	color: #363636;
	font-family: "Segoe UI";
}
.icones {
	clear: both;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: table;
	height: auto;
}
.icones li {
	list-style-type: none;
	width: 130px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	float: left;
	text-align: center;
	height: 75px;
	overflow: hidden;
}
.icones a {
	font-weight: bold;
	color: #666666;
}
input.submit {
	height: 30px;
	line-height: 30px;
	background: url(../imagens/btns2.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #0082D5;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.submit:hover, input.cancel:hover {
	background: url(../imagens/btns2_.gif) top center;
	text-shadow: 1px 1px 0 #b55f10;
	border: solid 1px #D77011;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input.cancel {
	height: 30px;
	line-height: 30px;
	background: url(../imagens/btns2__.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #000000;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tabForm td {
	padding: 5px;
	color: #666666;
}
.campoForm {
	background-image: url(../imagens/bgCampo.gif);
	height: 28px;
	border: 1px solid #DBDBDB;
	vertical-align: bottom;
	line-height: 30px;
	padding-right: 3px;
	padding-left: 3px;
}
.texareaForm {
	border: 1px solid #DBDBDB;
	background-image: url(../imagens/bgCampo.gif);
	background-repeat: repeat-x;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.tabForm label {
	line-height: 20px;
}


.selectForm {
	border: 1px solid #DBDBDB;
	padding: 3px;
	height: 28px;
}
.obrigatorio {
	font-weight: bold;
	color: #FF0000;
	font-size: 18px;
	font-family: "Segoe UI";
}
.tabList, #tabelaListaOpcoes {
	margin: auto;
	width: 100%;
	border: none;
}
.tabList td, #tabelaListaOpcoes td {
	padding: 5px;
	color: #666666;
}
.tabList .superior, #tabelaListaOpcoes .superior {
	font-weight: bold;
	color: #555555;
	height: 30px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 30px;
	vertical-align: middle;
	background-color:#FFFFFF;
	border-bottom:solid 1px #CCCCCC;
}
.tabList .lista, #tabelaListaOpcoes .lista{
	background-color:#F4F4F4;
}
.tabList .lista3{
	background-color:#FFFFFF;
}
.tabList .lista2, #tabelaListaOpcoes .lista2{
	background-color:#FFFFFF;
}
.tabList .lista4{
	background-color:#F8F8F8;
}
.tabList .lista td, .tabList .lista2 td, .tabList .lista3 td,  .tabList .click td,  .tabList .lista4 td, #tabelaListaOpcoes .lista td, #tabelaListaOpcoes .lista2 td {
	border-bottom:solid 1px #CCCCCC;
	height:25px;
}
.tabList .over{
	background-color:#E8E8E8;
}
.tabList .click {
	background-color:#FFFF99;
}
#resposta {
	border: 1px dashed #999999;
	padding: 8px;
	background-color: #FFFF99;
	font-weight: bold;
	color: #666666;
}
.pagination ul{width:98%; text-align:right; height:40px; line-height:40px; clear:both; display:table; margin:0px auto; padding:0 0 8px 0;}
.pagination li {
	list-style:none;
	display:inline-block;
}
.pagination ul a{
	line-height: 30px;
	background: url(../imagens/btns2.gif) top center;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	border:solid 1px #0082D5;
	padding:0 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;

}

.pagination ul a:hover, .pagination ul li.active a{
	background: url(../imagens/btns2_.gif) top center;
	text-shadow: 1px 1px 0 #b55f10;
	border: solid 1px #D77011;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* HOME */
.avisoInfo { width:596px; height:90px; background:url('../imagens/importante-bg.jpg') no-repeat; padding-left:120px; padding-top:10px; margin-bottom:20px; }
.avisoInfo ul li { list-style:inside disc; font-size:18px; color:#666; }
#corpoLista {
	display: block;
	height: auto;
	width: 100%;
	margin: auto;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#corpoLista .bendl {
	width: 5px;
	height: 5px;
	background: url(../imagens/bendl.gif) bottom left no-repeat;
	position:absolute;
	left:-1px;
	bottom:-1px;
}

#corpoLista .bendr {
	width: 5px;
	height: 5px;
	background: url(../imagens/bendr.gif) bottom left no-repeat;
	position:absolute;
	right:-1px;
	bottom:-1px;
}

#busca {
	width:95%;
	margin:0 auto;
	border-bottom: 1px solid #ccc;
}
#menuLista {
	background-image: url(../imagens/bgTopLista.gif);
	height: 54px;
	width: 100%;
}
#menuLista .esq {
	background-image: url(../imagens/bgTopListaEsq.gif);
	margin: 0px;
	padding: 0px;
	height: 54px;
	width: 6px;
	position: absolute;
	left: -1px;
	top: 0px;
}
#menuLista .dir {
	background-image: url(../imagens/bgTopListaDir.gif);
	margin: 0px;
	padding: 0px;
	height: 54px;
	width: 6px;
	position: absolute;
	right: -1px;
	top: 0px;
}
#menuLista .titulo {
	text-shadow: 1px 1px 0 #fff;
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #555555;
	text-decoration: none;
	line-height: 54px;
	vertical-align: middle;
	float: left;
	height: 54px;
	width: 400px;
	padding-left: 15px;
}
#menuLista .guias {
	float:right;
	width:500px;
}
#menuLista .guias li {
	padding:5px;
	background-color:#F5F5F5;
	height:20px;
	line-height:20px;
	margin:12px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:solid 1px #CCCCCC;
	text-shadow:none;
}
#menuLista .guias li.guiaativo {
	background-color:#666;
	text-decoration:overline;
}
#menuLista .guias li.guiaativo a {
	color:#FFF;
}
#menuLista .guias li a {
	color:#000;
}
#menuLista ul {
	float: right;
	height: 54px;
	width: 450px;
	padding-right: 15px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
#menuLista li {
	float: right;
	padding-left: 12px;
	padding-right: 12px;
	list-style-type: none;
	line-height: 54px;
	text-transform: uppercase;
	vertical-align: middle;
	text-shadow: 1px 1px 0 #fff;
}
#menuLista li a {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	color: #555555;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
#menuLista li a:hover {
	color:#008EF0;
}
#rodape {
	width: 100%;
	display:table;
	height: 113px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
	clear:both;
	background-image: url(../imagens/rodape.jpg);
	color:#FFF;
}
#rodape .titulo {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 17px;
	text-transform: capitalize;
	padding-top: 10px;
	padding-bottom:4px;
	font-weight:bold;
}

#rodape .hostmgr {
	position:absolute;
	right:0px;
	top:18px;
}
#rodape .hostmgr a {
	font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
	font-size: 19px;
	text-transform: capitalize;
	font-weight:bold;
	color:#A1A5A6;
	text-decoration:none;
}

#rodape .links a {
	color:#ADC3D3;
}

#rodape .creditos {
	padding-top:30px;
	color:#717267;
}

.erro {
	background-color: #FFFFCC;
	height: 34px;
	border: 1px solid #F0F000;
	width: 100%;
	padding: 3px 0;
	color: #333333;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.erro p {
		line-height:17px;
}
.erro img {
	float: left;
	margin-right: 5px;
}
.faturaPago {
	font-size:20px;
	color:#0C0;
	font-weight:bold;
	margin:5px 0;
}
.faturaNaoPago {
	font-size:20px;
	color:#F00;
	font-weight:bold;
	margin:5px 0;
}
.faturaCancelado {
	font-size:20px;
	color:#CCC;
	font-weight:bold;
	margin:5px 0;
}
.faturaPago2 {
	color:#0C0;
	font-weight:bold;
	margin:5px 0;
}
.faturaNaoPago2 {
	color:#F00;
	font-weight:bold;
	margin:5px 0;
}
.faturaCancelado2 {
	color:#CCC;
	font-weight:bold;
	margin:5px 0;
}
fieldset { border:1px solid #E0DFE3; margin-bottom:50px; padding:10px; } 
legend { font-size:25px; color:#666; margin-left:10px; padding:0 5px; font-weight:bold; }
.tabelaPreco td {
	font-weight:bold;
}
.dstvPagamento {
	font-size:12px;
	font-weight:bold;
	color:#E00
}













.respticket {
	background-image: url(../imagens/bg_resp.gif);
	width:100%;
	height:65px;
	background-position: 0px bottom;
	background-repeat:repeat-x;
	position:relative;
}
.respticket .arred{
	background-image: url(../imagens/resp_arred.gif);
	width:15px;
	height:17px;
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:10;
	margin:0px;
}

.respticket .user {
	font-size: 21px;
	color: #069;
}
.respticket .user a {
	font-size: 21px;
	color: #069;
}

.respticket .bg {
	background-image: url(../imagens/resp_ticket.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	margin: auto;
	padding: 0px;
	height: 65px;
	width: 100%px;
	position: relative;
}

.respticket .dataresp {
	color:#666666;
	text-align:right;
}

.respostaticket {

	padding: 5px 5px 15px 5px;
	height: auto;
	margin: 0px 0px 10px 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;	
	background:#FBFBFB;
}
.selectTk{
	font-size:18px;
}
.ticketAberto {
	color:#6C3;
}
.ticketRespondido {
	color:#06F;
}
.ticketRespondidoC {
	color:#F90;
}
.ticketProcesso {
	color:#F00;
}
.ticketFechado {
	color:#CCC;
}

/*ABAS*/

#tabs ul{
	display: block;
	background-color: #fff;
	height: 23px;
	line-height: 22px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
    border-bottom: 1px solid #CCCCCC;
}
#tabs ul li{
	float: left;
	padding: 0;
	margin: 0 0 0 5px;
}
#tabs ul li a, #tabs ul li a:visited{
	display: block;
	background-color: #efefef;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	padding: 0 10px;
	margin: 0;
	color: #000;
	text-decoration: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
#tabs ul li a:hover{
	background-color: #EDF1F8;
	color: #000;
	text-decoration: underline;
}
#tabs ul li.tabselected a, #tabs ul li.tabselected a:visited, #tabs ul li.tabselected a:hover{
	background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    color: #000;
	font-weight: bold;
}
#tab_content {
	background-color: #fff;
	text-align: left;
	margin: 0px;
	padding: 10px;
	border: 1px solid #CCC;
    border-top: 0;
    text-align: center;
}

/*--------*/

/*--modal--*/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

/*-------*/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
