<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<style type="text/css">
<!--
.vSistema {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #090;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vSistema div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vSistema p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #0C0;
}


.vAtual {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #F00;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vAtual div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vAtual p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color:#900;
}
-->
</style>

<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p>Licenciado para: <strong>Fernando Augusto Ramos</strong></p>
      <p>&nbsp;</p>
      <table border="0" cellspacing="1" cellpadding="0" style="border:solid 1px #fbfbfb">
        <tr>
          <td width="160" height="28" bgcolor="#fbfbfb">&nbsp;Licença:</td>
          <td>&nbsp;{licenca}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Domínio:</td>
          <td>&nbsp;{dominio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Data de Registro:</td>
          <td>&nbsp;{dataRegistro}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Expira em:</td>
          <td>&nbsp;{dataValidade}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Diretório de instalação:</td>
          <td>&nbsp;{diretorio}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;IP atribuido:</td>
          <td>&nbsp;{ip}</td>
        </tr>
        <tr>
          <td height="28" bgcolor="#fbfbfb">&nbsp;Status:</td>
          <td>&nbsp;{status}</td>
        </tr>
      </table>
      <p>&nbsp;</p>
<p>Mais informações em <a style="text-decoration:underline" href="http://www.hostmgr.com.br" target="_blank">http://www.hostmgr.com.br</a></p>
<p></p>
    </p>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
