<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<style type="text/css">
<!--
.vSistema {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #090;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vSistema div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vSistema p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #0C0;
}


.vAtual {
	background-color: #FFF;
	height: 50px;
	width: 100px;
	border: 8px solid #F00;
	font-weight: bold;
	margin-right:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.vAtual div {
	position: absolute;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 11px;
	left: 2px;
	top: 2px;
}
.vAtual p {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color:#900;
}
-->
</style>

<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div class="vSistema"><div>Versão atual</div><p>{vAtual}</p></div></td>
          <td><div class="vAtual"><div>Última Versão</div><p>{vUltima}</p></div></td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <!-- BEGIN b_atualizado -->
      <h1>SISTEMA ATUALIZADO</h1>
      <p>Fique tranquilo, seu sistema ja está utilizando a versão mais recente do HOSTMGR</p>
      <p>&nbsp;</p>
      <!-- END b_atualizado -->
      <!-- BEGIN b_naoatualizado -->
      <h1>ATUALIZAÇÃO DISPONÍVEL</h1>
      <p>Seu sistema não está atualizado. É altamente recomendado que você atualize imediatamente.</p>
      <p>&nbsp;</p>
      <p>Acesse <a href="http://www.hostmgr.com.br" target="_blank"><strong>http://www.hostmgr.com.br</strong></a> e faça o download da versão mais recente, ou clique no botão abaixo para atualizar automaticamente.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="48%" valign="top"><p><strong>CHANGE LOG</strong></p>
            <p>&nbsp;</p>
          {changelog}</td>
          <td width="52%"><div style="padding-left:10px"><iframe src="estrutura/update/update.php?v={vUltima}" width="100%" height="250" frameborder="0" style="border:solid 1px #D6D6D6"></iframe></div></td>
        </tr>
      </table>
      <p>&nbsp;</p>
	<!-- END b_naoatualizado -->
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
