<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <!-- BEGIN b_link_menu -->
    <ul>
    <li><a href="{modulo_nome}.php">Categorias</a></li>
    <li><a href="{modulo_nome}.php?acao=formtutorial&categoria={IDCATEGORIA}">Novo Tutorial</a></li>
  </ul>
  <!-- END b_link_menu -->
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    <!-- BEGIN b_tutoriais_da_categoria -->
    <p>&nbsp;</p>
    <h1>TUTORIAIS CADASTRADOS</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
    <p>&nbsp;</p>
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
  <!-- END b_tutoriais_da_categoria -->
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
