<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3"><h1>#{ID} {nome}</h1><p>&nbsp;</p></td>
        </tr>
        <tr>
          <td width="32%" valign="top"><fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">Informa&ccedil;&otilde;es do cliente</legend>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="27%" height="24"><strong>Nome:</strong></td>
              <td width="73%">{nome}</td>
            </tr>
            <tr>
              <td height="24"><strong>Empresa:</strong></td>
              <td>{empresa}</td>
            </tr>
            <!-- BEGIN b_cpf -->
            <tr>
              <td height="24"><strong>CPF/CNPJ:</strong></td>
              <td>{cpf_cnpj}</td>
            </tr>
            <!-- END b_cpf -->
            <tr>
              <td height="24"><strong>Email:</strong></td>
              <td>{email}</td>
            </tr>
            <tr>
              <td height="24"><strong>Telefone:</strong></td>
              <td>{telefone}</td>
            </tr>
            <tr>
              <td height="24"><strong>Endere&ccedil;o:</strong></td>
              <td>{endereco}</td>
            </tr>
            <tr>
              <td height="24"><strong>Bairro:</strong></td>
              <td>{bairro}</td>
            </tr>
            <tr>
              <td height="24"><strong>Cidade:</strong></td>
              <td>{cidade}</td>
            </tr>
            <tr>
              <td height="24"><strong>Estado:</strong></td>
              <td>{estado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Cep:</strong></td>
              <td>{cep}</td>
            </tr>
            <tr>
              <td height="24"><strong>Status:</strong></td>
              <td>{status}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2"><p>&raquo; <a href="../login.php?ID={ID}" target="_blank">Fazer login como cliente</a></p></td>
            </tr>
            <tr>
              <td height="24" colspan="2"><p>&raquo; <a href="clientes.php?acao=form&amp;ID={ID}">Alterar Informações</a></p></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/clientes/gerarSenha.php?ID={ID}">Gerar Senha &amp; Enviar</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="pedidos.php?acao=novo&cliente={ID}">Adicionar Pedido</a></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/clientes/excluir.php?ID={ID}" class="lnkExcluir" style="color:#FF0000"><strong>Apagar Conta do Cliente</strong></a></td>
              </tr>
          </table>
          </fieldset>
          <fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">ATIVIDADE RECENTE
          </legend>
            <!-- BEGIN b_tabAtividade -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabList">
	  		  <tbody>
                <tr>
                  <td class="superior">Data acesso</td>
                  <td class="superior">IP</td>
                </tr>
                <!-- BEGIN b_linnhaAtividade -->
                <tr class="{classLinha}" style="height:10px !important;">
                  <td style="height:20px !important;">{data}</td>
                  <td style="height:20px !important;">{ip}</td>
                </tr>
                <!-- END b_linnhaAtividade -->
			  </tbody>
    		</table>
            <!-- END b_tabAtividade -->
            <!-- BEGIN b_nenhumaAtividade -->
            <p style="text-align:center; height:70px; line-height:70px;">Nenhum Registro Encontrado</p>
            <!-- END b_nenhumaAtividade -->
          </fieldset></td>
          <td valign="top" style="padding:0 15px;"><fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">FATURAMENTO
          </legend>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="125" height="24"><strong>Produtos Ativos:</strong></td>
              <td>{produtosAtivos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Domínio Ativos:</strong></td>
              <td> {dominiosAtivos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Pago:</strong></td>
              <td>({faturasPagas}) {valorPago}</td>
            </tr>
            <tr>
              <td height="24"><strong>Não Pago/Débito:</strong></td>
              <td>({faturasAbertas}) {valorAberto}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
              </tr>
            <tr>
              <td height="24" colspan="2"><p>&raquo; <a href="clientes.php?acao=faturas&amp;ID={ID}">Gerenciar Faturas</a></p></td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/faturas/novo.php?ID={ID}">Nova Fatura</a></td>
            </tr>
          </table>
          </fieldset>
          
          <fieldset style="margin-bottom:20px;">
          <legend style="font-size:14px; text-transform:uppercase">ENVIAR EMAIL
          </legend>
          <form id="form1" name="form1" method="post" action="emails.php?acao=enviar&amp;cliente={ID}">
            <p style="text-align:center; padding-bottom:8px;">
              <select name="template" id="template" class="selectForm">
                <option selected="selected">Nova Mensagem</option>
                <option value="1">Boas Vindas</option>
                {listaEmails}
              </select>
              </p>
            <p style="text-align:center">
              <input class="submit" type="submit" name="button" id="button" value="ENVIAR" />
            </p>
          </form>
          </fieldset>
          
          <fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">ÚLTIMOS EMAILS ENVIADOS</legend>
            <!-- BEGIN b_tabEmails -->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabList">
	  		  <tbody>
                <tr>
                  <td class="superior">Data</td>
                  <td class="superior">Assunto</td>
                </tr>
                <!-- BEGIN b_linnhaEmail -->
                <tr class="{classLinha}" style="height:10px !important;">
                  <td style="height:20px !important;">{data}</td>
                  <td style="height:20px !important;"><a href="emails.php?acao=ver&amp;ID={idEmail}" target="_blank">{assunto}</a></td>
                </tr>
                <!-- END b_linnhaEmail -->

			  </tbody>
    		</table>
            <!-- END b_tabEmails -->
            <!-- BEGIN b_nenhumEmail -->
            <p style="text-align:center; height:70px; line-height:70px;">Nenhum Registro Encontrado</p>
            <!-- END b_nenhumEmail -->
          </fieldset>
          </td>
          <td width="32%" valign="top"><fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">SUPORTE
          </legend>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="54%" height="24"><strong>Tickets Abertos:</strong></td>
              <td width="46%">{ticketsAbertos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets Respondidos:</strong></td>
              <td>{ticketsRespondidos}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets em Processo:</strong></td>
              <td>{ticketsProcesso}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tickets Fechados:</strong></td>
              <td>{ticketsFechados}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2"><p>&raquo; <a href="ticketssuporte.php?remetente={ID}">Gerenciar Tickets</a></p></td>
            </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="ticketssuporte.php?acao=novo&amp;cliente={ID}">Novo Ticket de Suporte</a></td>
            </tr>
            </table>
          </fieldset>
          
          <fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">PROGRAMA DE AFILIADOS</legend>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="157" height="24"><strong>ID de Afiliado:</strong></td>
              <td width="149">{idAfiliado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Tipo de Comissão:</strong></td>
              <td> {comissaoAfiliado}</td>
            </tr>
            <tr>
              <td height="24"><strong>Valor da Comissão:</strong></td>
              <td>{valorComissao}</td>
            </tr>
            <tr>
              <td height="24"><strong>Saldo Disponível:</strong></td>
              <td>{saldoAfiliados}</td>
            </tr>
            <tr>
              <td height="24"><strong>Total Pago:</strong></td>
              <td> {pagamentosAfiliados}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
              </tr>
            <tr>
              <td height="24" colspan="2"><p>&raquo; <a href="{linkAfiliado}">Gerenciar Afiliado</a></p></td>
              </tr>
            <tr>
              <td height="24" colspan="2">&raquo; <a href="estrutura/afiliados/ativar.php?ID={ID}">Ativar como Afiliado</a></td>
            </tr>
          </table>
          </fieldset>
          
          <fieldset style="margin-bottom:20px">
          <legend style="font-size:14px; text-transform:uppercase">OBSERVAÇÕES
          </legend>
          <form id="form1" name="form1" method="post" action="">
            <p style="text-align:center; padding-bottom:8px;">
              <textarea name="{ID}" class="texareaForm" id="obs" cols="45" style="width:95%" rows="5">{observacoes}</textarea>
            </p>
            <p style="text-align:center">
              <input class="saveObs submit" type="submit" name="button" id="button" value="SALVAR" />
            </p>
          </form>
          </fieldset></td>
        </tr>
      </table>
      <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>