<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <!-- BEGIN b_mostrar_registros -->
    <div style="padding:0 10px;">
      <form action="" method="post" name="formListaDominios" id="formListaDominios">
    <table width="900" class="tabForm" border="0" cellpadding="5" cellspacing="0"><tbody><tr>
		  <td width="75"><strong>Domínio:</strong></td>
		  <td width="50"><select name="txtListaDominios" class="selectForm" id="txtListaDominios">
		    {select_produtos}
		  </select></td>
		  <td><input type="submit" name="button" id="button" value="Ok" class="submit" /></td>
		</tr>
	</tbody></table>
    </form>
    </div>
    <p>&nbsp;</p>
    <fieldset>
    <legend>{nome_produto}</legend>
    <div>
      {CAMPOS_FORMULARIO}
    </div>
    <p>&nbsp;</p>
    <p align="center"><a href="estrutura/dominios/excluir.php?ID={DID}" class="lnkExcluir" style="color:#FF0000"><strong>Apagar Dominio</strong></a></p>
    <p>&nbsp;</p>
    </fieldset>
    <p>&nbsp;</p>
    <!-- END b_mostrar_registros -->
   
  <!-- BEGIN b_semregistro -->
  <div style="height:80px; line-height:40px; text-align:center;">
    <p>Nenhum Domínio registrado para esse cliente</p>
    <p><a href="pedidos.php?acao=novo&amp;cliente={ID}"><strong>Gerar um pedido Agora</strong></a></p>
  </div>
  <!-- END b_semregistro -->
  </div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  