<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<p align="center"><a href="estrutura/faturas/novo.php?ID={id_cliente}" style="font-weight:bold; text-decoration:underline">Nova Fatura Avulsa</a></p>
<p>&nbsp;</p>
  <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
    <p>&nbsp;</p>
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
