<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <ul>
    <!-- BEGIN b_link_busca -->
    
    <li><a href="javascript:void(0);" id="filtro">Procurar</a></li>
    <!-- END b_link_busca -->
    <li><a href="{modulo_nome}.php">Listar tudo</a></li>
    
    <!-- END b_link_busca -->
  </ul>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
{mensagem_retorno}
<div id="busca" style="display:{display_busca};">
<p>&nbsp;</p>
<h1>Buscar</h1>
{FORM_BUSCA}
<p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <p>&nbsp;</p>
    {paginacao}
    <p>&nbsp;</p>
    {TABELA_REGISTROS}
	<p>&nbsp;</p>
	{paginacao}
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
