<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <li{class_ativo}><a href="emails.php?acao=enviar&ID={idEmail}">Reenviar</a></li>
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p>Enviado em {data}</p>
      <p>&nbsp;</p>
      <p><strong>Para:</strong> {para}</p>
      <p>&nbsp;</p>
      <p><strong>C&oacute;pia:</strong> {copia}</p>
      <p>&nbsp;</p>
      <p><strong>Assunto: </strong>{assunto} </p>
      <p>&nbsp;</p>
      <p><strong>Mensagem: </strong></p>
      <p>&nbsp;</p>
      <p>{mensagem}</p>
      <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
