<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo}</div>
  <p class="dir">&nbsp;</p>
</div>
<div style="padding:15px;">
<p>&nbsp;</p>
 {codigoModulo}
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
