<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script>
$(document).ready(function() {
	function oculta(mostra){
		$('.sguias').css('display','none');
		mostra.css('display','');
	}
	
	oculta($('#guia3'));
	
	$('#aba0 a').click(function(){
		oculta($('#guia0'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba0').addClass('guiaativo');
	});
	$('#aba1 a').click(function(){
		oculta($('#guia1'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba1').addClass('guiaativo');
	});
	$('#aba2 a').click(function(){
		oculta($('#guia2'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba2').addClass('guiaativo');
	});
	$('#aba3 a').click(function(){
		oculta($('#guia3'));
		$('.guiaativo').removeClass('guiaativo');
		$('#aba3').addClass('guiaativo');
	});
	
});
</script>
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <h1>Fatura Nº {num_fatura}</h1>
    <p>&nbsp;</p>
    <div id="guia3" class="sguias">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="60%"><table width="90%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td width="140" height="23" align="right" bgcolor="#F6F6F6">Nome do cliente:&nbsp;</td>
                <td>&nbsp;<a href="clientes.php?acao=resumo&ID={id_cliente}">{cliente_nome}</a></td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Data da Fatura:&nbsp;</td>
                <td>&nbsp;{data_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Vencimento:&nbsp;</td>
                <td>&nbsp;{data_vencimento}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Total da Fatura:&nbsp;</td>
                <td>&nbsp;{total_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Valor em Aberto:&nbsp;</td>
                <td>&nbsp;{balanco}</td>
              </tr>
            </table></td>
            <td width="40%" align="center"><form id="form1" name="form1" method="post" action="estrutura/faturas/enviar.php?ID={txtId}">
              <p class="{class_status}">
              {status_fatura}</p>
              {data_pagamento}
              <p style="padding:5px;">
  <select name="email" id="email" class="selectForm">
    <option value="confirmaPg">Confirmação de Pagamento</option>
    <option value="faturaCriada">Fatura Criada</option>
    <option value="lembreteFatura">Lembrete de fatura em aberto</option>
    <option value="avisoVencimento">Aviso de Fatura Vencida</option>
    <option value="segundoVencimento">Segundo Aviso de Fatura Vencida</option>
    <option value="terceiroVencimento">Terceiro Aviso de Fatura Vencida</option>
  </select>
                <input type="submit" name="button" id="button" value="Enviar Email" class="submit" />
              </p>
              <p style="padding:5px;">
                <input type="button" name="button2" id="button2" value="Vers&atilde;o para impress&atilde;o" onclick="window.open('../detalhesfatura.php?ID={txtId}');" class="cancel" />
                <!-- BEGIN b_btPagar -->
                <input type="button" name="button3" id="cancelarFatura" onclick="window.location = 'estrutura/faturas/multiPagamento.php?ID={txtId}'" value="Marcar como Pago" class="submit" />
                <!-- END b_btPagar -->
                <input type="button" name="button3" id="cancelarFatura" onclick="window.location = 'estrutura/faturas/processar.php?post=5&fatura={txtId}'" value="Cancelar Fatura" class="cancel" />
              </p>
            </form></td>
          </tr>
        </table>
    </div>
    <!-- adicionar pagametno-->
    <div id="guia2" class="sguias">
      {CAMPOS_PAGAMENTO}
    </div>
    <!-- adicionar pagamento-->
    <div id="guia1" class="sguias">
      {CAMPOS_FORMULARIO}
    </div>
    <div id="guia0" class="sguias">
      {CAMPOS_NOTAS}
    </div>
    <p>&nbsp;</p>
    <h1>Itens da Fatura</h1>
    <p>&nbsp;</p>
    <!-- BEGIN b_form_itens -->
    <form action="estrutura/{modulo_nome}/processar.php" method="post" name="itensFatura">
    <!-- END b_form_itens -->
    {TABELA_REGISTROS}
    <p>&nbsp;</p>
    <p align="center">
    <!-- BEGIN b_form_itens2 -->
      <input name="txtId" type="hidden" id="txtId" value="{txtId}" />
      <input name="post" type="hidden" id="post" value="1" />
      <input class="submit" type="submit" value="Salvar" /></p>
    </form>
    <!-- END b_form_itens2 -->
    <p>&nbsp;</p>
    <h1>TRANSAÇÕES</h1>
    <p>&nbsp;</p>
    <!-- BEGIN b_s_transacao -->
    
    <!-- END b_s_transacao -->
   
    {TABELA_TRANSACOES}
    
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>