<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo" style="width:500px !important;">CÓDIGOS PARA INTEGRAR O HOSTMGR AO SEU SITE</div>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;"> {mensagem_retorno}
    <div style="padding:0px;">
      <h4></h4>
      {mensagem_retorno}
      <p>&nbsp;</p>
      <div> {pagina2} </div>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="bendl"></div>
  <div class="bendr"></div>
</div>
