<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div style="padding:0 10px;">
      <form action="estrutura/formasdepagamento/processar.php?acao=adicionar" method="post" name="formListaModulosPagamento" id="formListaModulosPagamento">
    <table width="900" class="tabForm" border="0" cellpadding="5" cellspacing="0"><tbody><tr>
		  <td width="75"><strong>Módulos Disponíveis:</strong></td>
		  <td width="50"><select name="txtListaModulos" class="selectForm" id="txtListaModulos">
		    {select_modulos}
		  </select></td>
		  <td><input type="submit" name="button" id="button" value="Ativar" class="submit" /></td>
		</tr>
	</tbody></table>
    </form>
    </div>
    <div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div id="tabs">
	    <ul>
		  <!-- BEGIN b_TABS -->
      		<li id="tab{contar}" class="tab"><a href="javascript:;">{tituloformapagamento}</a></li>
          <!-- END b_TABS -->
	    </ul>
	  </div>
      
      
      
      <!-- BEGIN b_CONFIGMODULO -->
      <div id="tab{contar}box" class="tabbox">
      <p>&nbsp;</p>
      <p align="right"><a href="estrutura/formasdepagamento/processar.php?acao=desativar&modulo={nomeModuloPagamento}" class="dstvPagamento">DESATIVAR ESTE MÓDULO</a></p>
      {CAMPOS_FORMULARIO}
      <p>&nbsp;</p>
      </div>
      <!-- END b_CONFIGMODULO -->
      
      
      
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
<script>
$(document).ready(function(){
    
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab0";
	$("#tab0").addClass("tabselected");
	$("#tab0box").css("display","block");
});

</script>