<div class="erro">
  <div style="padding:0 3px;">
    <p><img src="templates/{admin_nome_template}/imagens/{ico_mensagem}" width="34" height="34" /><strong>{mensagem_resposta_tipo}</strong></p>
    <p>{mensagem_resposta}</p>
  </div>
</div>
<p>&nbsp;</p>