<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p><span class="obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  <p>&nbsp;</p>
  <script>
$(document).ready(function() {

$('#txtCliente').keyup(function(){
	//alert('teste');
	$.ajax({
        type: "POST",
        url: "estrutura/clientes/ajaxBuscar.php?termo="+$(this).val(),
		success: function(result){
			var alvo = $('#alvoCliente');
			alvo.html(result);
			alvo.css('display','block');
		}
	});
});

$('#txtCliente').focusout(function(){
	setTimeout(function(){
	$('#alvoCliente').html();
	$('#alvoCliente').css('display','none');},250);
});

});
</script>
<style type="text/css">
<!--
#alvoCliente {
	left: -172px;
	top: 18px;
}
-->
</style>
    <form id="form" name="form" class="form-horizontal" method="post" action="estrutura/pedidos/processarNovoPedido.php" enctype="multipart/form-data">
      <div class="control-group">
		    <label class="control-label" for="inputEmail">Cliente:</label>
			<div class="controls">
			  <input obgr="sim" name="txtCliente" type="text" class="campoForm input-xlarge" id="txtCliente" value="{ID_CLIENTE}" style="width:150px">
		  <span class="help-inline"><div style="position:relative"><div id="alvoCliente" style="position: absolute; display: none;"></div></div><div id="nomeCliente"></div></span></div></div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Forma de Pagamento:</label>
        <div class="controls">
          <select name="txtPagamento" class="selectForm input-xlarge" id="txtPagamento" style="width:300px;">
			{m_pagar}
          </select>
          <span class="badge badge-important obrigatorio help-inline">!</span></div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Código promocional:</label>
        <div class="controls">
          <select name="txtPromocao" class="selectForm input-xlarge" id="txtPromocao" style="width:300px;">
            <option value="">---</option>
            {promocoes}
          </select>
        </div>
      </div>
      <h4>PRODUTO/SERVIÇO</h4>
      <div class="prod1">
        <div class="control-group">
          <label class="control-label" for="inputEmail">Produto/Serviço:</label>
          <div class="controls">
            <select name="txtProduto[]" class="selectForm input-xlarge" id="txtProduto[]" style="width:300px;">
              <option value="">---</option>
              {opcoesProdutos}           
            </select>
            <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Domínio:</label>
          <div class="controls">
            <input obgr="sim" name="txtDominio[]" type="text" class="campoForm input-xlarge" id="txtDominio[]" value="" style="width:286px;">
            </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Ciclo de Pagamento:</label>
          <div class="controls">
            <select name="txtCiclo[]" class="selectForm input-xlarge" id="txtCiclo[]" style="width:300px;">
                    <option value="">---</option>
                    <option value="-1">Gratuito</option>
                    <option value="1" selected="selected">Mensal</option>
                    <option value="3">Trimestral</option>
                    <option value="6">Semestral</option>
                    <option value="12">Anual</option>
                    <option value="24">Bienal</option>
                  </select>
            <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group">
		    <label class="control-label" for="inputEmail">Quantidade:</label>
			<div class="controls"><input obgr="sim" name="txtQuantidade[]" type="text" class="campoForm input-xlarge" id="txtQuantidade[]" value="1" style="width:60px;"> <span class="badge badge-important obrigatorio help-inline">!</span></div>
        </div>
        <div class="control-group">
		    <label class="control-label" for="inputEmail">Substituir Preço:</label>
			<div class="controls"><input obgr="sim" name="txtSPreco[]" type="text" class="campoForm input-xlarge" id="txtSPreco[]" value="" style="width:120px;"></div>
        </div>
        <div class="control-group">
		    <label class="control-label" for="inputEmail">Ação de Domínio:</label>
			<div class="controls"><select name="txtRegistro[]" class="selectForm input-xlarge" id="txtRegistro[]" style="width:300px;">
                    <option value="" selected="selected">Nenhum</option>
                    <option value="R">Registrar</option>
                    <option value="T">Transferir</option>
                  </select> </div>
        </div>
        <hr size="1" color="#E5E5E5" />
      </div>
      <div class="prods">
      </div>
      <a href="#" class="addProduto">Add outro produto</a>
      <h4>OPÇÕES DO PEDIDO</h4>
      <div class="control-group">
		    <label class="control-label" for="inputEmail">Confirmar Pedido:</label>
			<div class="controls">
			  <label class="checkbox"><input type="checkbox" name="txtConfirmar" id="txtConfirmar" value="S" checked="checked" /> Enviar Email</label></div></div>
      <div class="control-group">
		    <label class="control-label" for="inputEmail">Faturamento:</label>
			<div class="controls">
			  <label>
                  <input type="checkbox" name="txtGerarFatura" id="txtGerarFatura" value="S" checked="checked" />
                  Gerar Fatura</label>
                  <label>
                  <input type="checkbox" name="txtConfirmarFatura" id="txtConfirmarFatura" value="S" checked="checked" />
                  Enviar Email</label></div></div>
        <div class="control-group">
		    <label class="control-label" for="inputEmail">Status do Pedido:</label>
			<div class="controls">
			  <select name="txtStatus" class="selectForm" id="txtStatus">
                    <option value="S">Aceito</option>
                    <option value="N" selected="selected">Pendente</option>
                  </select></div></div>
                  
                  
                  <input name="txtId_pedido" type="hidden" id="txtId_pedido" value="" />
                  
      <div class="form-actions hidden-phone">
              
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar" class="submit btn btn-primary">
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=pedidos';">
            </div>
            <div class="form-actions visible-phone">
              
              <input type="submit" name="btSalvar" id="btSalvar" value="Salvar" class="submit btn btn-primary btn-block">
              <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-block" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=pedidos';">
            </div>
    </form>
    <script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtPagamento.value==""){
						alert(obrigatorio);
						return false;
					}else{
			return true;
		}
	});
  });
</script>
    </div>

    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>