<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <fieldset>
    <legend>Pedido Nº {num_pedido}</legend>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="55%" valign="top"><table width="90%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td width="160" height="23" align="right" bgcolor="#F6F6F6">Nome do cliente:&nbsp;</td>
                <td>&nbsp;<a href="clientes.php?acao=resumo&ID={id_cliente}">{cliente_nome}</a></td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Pedido Nº:&nbsp;</td>
                <td>&nbsp;{num_pedido}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Data:&nbsp;</td>
                <td>&nbsp;{data_pedido}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Código Promocional::&nbsp;</td>
                <td>&nbsp;{codigo_promocional}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Endereço IP:&nbsp;</td>
                <td>&nbsp;{endereco_ip} - <a href="http://www.geoiptool.com/en/?IP={endereco_ip}" target="_blank">Pesquisar</a> | <a href="estrutura/banimentoip/banir.php?m=pedidos&ID={num_pedido}&IP={endereco_ip}">Banir</a></td>
              </tr>
            </table></td>
            <td width="45%" align="center" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td width="160" height="23" align="right" bgcolor="#F6F6F6">Forma de pagamento:&nbsp;</td>
                <td>&nbsp;{cliente_nome}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Valor:&nbsp;</td>
                <td>&nbsp;{total_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Fatura:&nbsp;</td>
                <td>&nbsp;{num_fatura}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Status Pagamento:&nbsp;</td>
                <td>&nbsp;<span class="{class_status}">{status_fatura}</span></td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Afiliado:&nbsp;</td>
                <td>&nbsp;{if ({id_afiliado} < 1)} {afiliado}{else} <a href="afiliados.php?acao=form&ID={id_afiliado}"><strong>{afiliado}</strong></a> {end if} - <a href="#">Atribuição Manual</a></td>
              </tr>
            </table></td>
          </tr>
        </table>
    </fieldset>
    <h1>Itens do Pedido</h1>
    <p>&nbsp;</p>
    <form action="estrutura/{modulo_nome}/processar.php?acao=aceitar&pedido={txtId}" method="post" name="itensFatura">
    <table class="tabList" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
            
          <td class="superior">Item</td>
          <td class="superior">Descrição</td>
          <td class="superior">Ciclo de Pagamento</td>
          <td class="superior">Valor</td>
          <td class="superior">Status</td>
          </tr>
          <!-- BEGIN b_produto -->  
        <tr class="lista3"> 
          <td><a href="clientes.php?acao={id_produto}">{tipo_hosp}</a></td>
          <td>{descricao}</td>
          <td>{ciclo_pagamento}</td>
          <td>{valor}</td>
          <td>{status_produto}</td>
          </tr>
          <!-- BEGIN b_modulo -->
          <tr class="lista4">
          <td colspan="5">Servidor: <select name="txtServidor[{item}]" class="selectForm" id="txtServidor{item}">
				    <option value="">---</option>
                    {servidores}</select>
            &nbsp;&nbsp; 
            Login: <input obgr="sim" name="txtLogin[{item}]" type="text" class="campoForm" id="txtLogin{item}" value="{login}" style="width:85px"> &nbsp;&nbsp;Senha:
<input obgr="sim" name="txtSenha[{item}]" type="text" class="campoForm" id="txtSenha{item}" value="{senha}" style="width:90px">
&nbsp;&nbsp;&nbsp;&nbsp;
<input name="txtIdProduto[{item}]" type="hidden" id="tipoProduto{item}3" value="{id_produtoN}" />
<input name="txtTipoProduto[{item}]" type="hidden" id="txtTipoProduto{item}2" value="H" />
<labe><input name="txtExeModulo[{item}]" type="checkbox" id="txtExeModulo{item}" value="S"{exeModulo} /> Executar função criar (Módulo)&nbsp;&nbsp;&nbsp;&nbsp;
</label> <labe><input name="txtSendMail[{item}]" type="checkbox" id="txtSendMail{item}" value="S" checked="checked" /> Enviar email com os dados</label></td>
          </tr>
          <!-- END b_modulo -->
          <!-- BEGIN b_moduloDominio -->
          <tr class="lista4">
          <td colspan="5"><labe><input type="checkbox" name="txtSendMail[{item}]" id="txtSendMail{item}" value="S" /> Enviar email de configuração</label>
            <input name="txtTipoProduto[{item}]" type="hidden" id="txtTipoProduto{item}" value="D" /><input name="txtIdProduto[{item}]" type="hidden" id="tipoProduto{item}3" value="{id_produtoN}" /></td>
          </tr>
          <!-- END b_moduloDominio -->
          <!-- END b_produto -->
        </tbody></table>
    <p>&nbsp;</p>
    <p align="center">
      <input name="post" type="hidden" id="post" value="1" />
      <input name="btAceitarPedido" type="submit" class="submit" id="btAceitarPedido" value="Aceitar Pedido" /> 
      <input name="btCancelarPedido" type="button" class="cancel" id="btCancelarPedido" onclick="cancelarPedido({txtId});" value="Cancelar Pedido" />
      <input name="btPedidoPendente" type="button" class="cancel" id="btPedidoPendente" onclick="pedidoPendente({txtId});" value="Marcar como Pendente" />
    </p>
    </form>
    <p>&nbsp;</p>
    <h1>TRANSAÇÕES</h1>
    <p>&nbsp;</p>
    <!-- BEGIN b_s_transacao -->
    
    <!-- END b_s_transacao -->
   
    {TABELA_TRANSACOES}
    
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>