<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
    <p>para desativar um dos ciclos, configure o preço como -1</p>
    <p>&nbsp;</p>
      <form id="form" name="form" method="post" action="estrutura/precosdominios/processar.php" enctype="multipart/form-data">
      
      
      <table class="tabList table table-striped" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
            
          <td class="superior">TLD/Domínio</td>
          <td class="superior">Preço Anual</td>
          <td class="superior">Preço Bienal</td>
          <td class="superior">Preço Trienal</td>
          <td class="superior">Subdominio</td>
          <td width="90" align="center" class="superior">Ações</td>
          </tr>
            <!-- BEGIN DOMINIOS -->
        <tr> 
          <td><input obgr="sim" name="txtExt[{id_tld}]" type="text" class="campoForm" id="txtExt[{id_tld}]" value="{txtTld}" style="width:120px" /></td>
          <td><input obgr="sim" name="txtPreco1[{id_tld}]" type="text" class="campoForm" id="txtPreco1[{id_tld}]" value="{txtPreco1}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco2[{id_tld}]" type="text" class="campoForm" id="txtPreco2[{id_tld}]" value="{txtPreco2}" style="width:70px" /></td>
          <td><input obgr="sim" name="txtPreco3[{id_tld}]" type="text" class="campoForm" id="txtPreco3[{id_tld}]" value="{txtPreco3}" style="width:70px" /></td>
          <td><input name="txtSubdominio[{id_tld}]" type="checkbox" id="txtSubdominio[{id_tld}]" value="S"{checkedSub} /></td>
          <td width="90" align="center"><a href="estrutura/precosdominios/excluir.php?ID={id_tld}" class="lnkExcluir">apagar</a></td>
          </tr>
          <!-- END DOMINIOS -->
          <tr>
            <td><input obgr="sim" name="txtExt[novo]" type="text" class="campoForm" id="txtProduto5" value="" style="width:120px" /></td>
            <td><input obgr="sim" name="txtPreco1[novo]" type="text" class="campoForm" id="txtProduto6" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco2[novo]" type="text" class="campoForm" id="txtProduto7" value="" style="width:70px" /></td>
            <td><input obgr="sim" name="txtPreco3[novo]" type="text" class="campoForm" id="txtProduto8" value="" style="width:70px" /></td>
            <td><input name="txtSubdominio[novo]" type="checkbox" id="txtSubdominio[novo]" value="S" /></td>
            <td>--</td>
          </tr>
          <tr>
            <td height="45" colspan="6" align="center">&nbsp;
              <input name="txtId_produto" type="hidden" id="txtId_produto" value="" />
              <input type="submit" name="btSalvar" id="btSalvar" value="salvar" class="submit" />
              <input type="button" name="btCancelar" id="btCancelar" class="cancel" value="cancelar" onclick="window.location='estrutura/cancelar.php?modulo=precosdominios';" /></td>
            </tr>
        </tbody></table>
      
      
      </form>
    </div>
    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>  
  
  
