<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<script type="text/javascript" language="javascript">
	var timeCrono; 
	var hor = 0;
	var min = 0;
	var seg = 0;
	var startTime = 0;
	var start = 0;
	var realTime=0;
	var stop=0;
	
	function StopCrono(){
	
	
		stop=1;
	
	}
	
	function StartCrono() {
	
		if (seg + 1 > 59) { 
		min+= 1 ;
		}
		if (min > 59) {
		min = 0;
		hor+= 1;
		}
		var time = new Date(); 
		if (time.getSeconds() >= start) {
		seg = time.getSeconds() - start;
		} 
		else {
		seg = 60 + (time.getSeconds() - start);
		}
		timeCrono= (hor < 10) ? "0" + hor : hor;
		timeCrono+= ((min < 10) ? ":0" : ":") + min;
		timeCrono+= ((seg < 10) ? ":0" : ":") + seg;
	
		if(stop==0){
			$('#tempo').html(timeCrono);
			setTimeout("StartCrono()",1000);
			realTime+=1;
		}else{
			///alert(realTime-1);
			
			//window.location="estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&tempo="+realTime;
			
			$.ajax({
				type: "POST",
				url: "estrutura/projetos/gravaTempo.php?tarefa={TAREFA}&projeto={PROJETO}&tempo="+realTime,
				//data: { busca: termoBuscaTopo },
				success:function(retorno) {
					//resp.html(retorno);
					if(retorno!='ok'){
						alert(retorno);
					}
				}
			});
			
			
			
			stop=0;
			$('#tempo').html('00:00:00');
			//zera os dados
			timeCrono=0;
			hor = 0;
			min = 0;
			seg = 0;
			startTime = new Date(); 
			start = 0;
			realTime=0;
		}
		
	} //--> 

	$(document).ready(function() {
		$('#start').click(function(){
			
			startTime = new Date(); 
			start=startTime.getSeconds();
			StartCrono();
			return false;
		});
		$('#stop').click(function(){
			StopCrono();
			return false;
		});
		
		$('#start1').click(function(){
			
			startTime = new Date(); 
			start=startTime.getSeconds();
			StartCrono();
			return false;
		});
		$('#stop1').click(function(){
			StopCrono();
			return false;
		});
		
	});
</script>
<div class="span12 margin-auto" style="border-bottom: solid 3px #297ACC">
  <div class="row">
  <h4 class="text-normal span5">{titulo_modulo_cliente}</h4>
  <ul class="nav nav-pills span7" style="margin-bottom:0px;">
      <!-- BEGIN b_itemGuia -->
      <li style="float:right"{class_ativo}><a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
  </ul>
  </div>
</div>
<div class="span12 margin-auto" style="padding-top:20px">
<!--Mensagem Retorno-->
  {mensagem_retorno}
<!--Fim retorno-->
<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
      {CAMPOS_FORMULARIO}
      
      
      <!-- BEGIN TRABALHAR TAREFA -->
      
      
    <!-- BEGIN TIMER -->
    <h5>TRABALHAR NA TAREFA</h5>
    <p id="tempo" style="font-size:28px; font-weight:bold; line-height:30px; text-align:center; color:#DD0000">00:00:00</p>
      <div class="form-horizontal" style="padding-top:20px"><div class="control-group">
		    <label class="control-label  hidden-phone" for="inputEmail">&nbsp;</label>
			<div class="controls"><a class="btn btn-inverse hidden-phone" href="#" id="start">Iniciar</a>
            <a class="btn hidden-phone" href="#" id="stop">Parar</a>
            <a class="btn btn-inverse visible-phone btn-block" href="#" id="start1">Iniciar</a>
        <a class="btn visible-phone btn-block" href="#" id="stop1">Parar</a></div></div>
	  </div>
      <!-- END TIMER -->
      <!-- BEGIN TAREFA_REGISTROS -->
      <h5>HISTORICO</h5>
      {TABELA_REGISTROS}
      <p style="padding-bottom:15px;"><strong>Tempo total trabalhado:</strong> {tempoTotal}</p>
      <!-- END TAREFA_REGISTROS -->
      
      <!-- BEGIN TAREFA_SEM_REGISTROS -->
      <h5>HISTORICO</h5>
      <div align="center" style="height:100px; line-height:100px;">Dados Não encontrados</div>
      <!-- END TAREFA_SEM_REGISTROS -->
      <!-- END TRABALHAR TAREFA -->
<!--TEMA NOVO-->
  </div>
</div>
<!--fim TEMA NOVO-->