<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
<script>
$(document).ready(function() {

$('#txtCliente').keyup(function(){
	//alert('teste');
	$.ajax({
        type: "POST",
        url: "estrutura/clientes/ajaxBuscar.php?termo="+$(this).val(),
		success: function(result){
			var alvo = $('#alvoCliente');
			alvo.html(result);
			alvo.css('display','block');
		}
	});
});

$('#txtCliente').focusout(function(){
	setTimeout(function(){
	$('#alvoCliente').html();
	$('#alvoCliente').css('display','none');},250);
});

});
</script>
<style type="text/css">
<!--
#alvoCliente {
	left: -172px;
	top: 18px;
}
.statusProjeto {
	padding: 15px;
}
.statusProjeto .valorStatus {
	font-size: 80px;
	color: #FFFFFF;
	font-weight:bold;
	text-align: right;
	line-height:80px;
	margin:0;
	opacity:0.30;/* propriedade padrão - Fire fox e Chrome*/
	filter: alpha(opacity=30);/*Internet explorer*/
	-moz-opacity:0.3; /*suporte a browsers antigos como o Netscape}*/
}
.statusProjeto .status {
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	width: 100%;
	margin:0;
}
-->
</style>
<div id="conteudo">
  <div class="row">
    <h3 style="text-transform:uppercase" class="span6">{nomeProjeto}</h3>
    <div align="right" class="span6" style="padding-top:15px;"> <a href="projetos.php?acao=form&ID={ID}" class="btn">Editar</a> <a href="estrutura/projetos/arquivar.php?ID={ID}" class="btn btn-info">Arquivar</a> <a href="estrutura/projetos/excluir.php?ID={ID}" class="lnkExcluir btn btn-danger">Excluir Projeto</a></div>
  </div>
  <div class="row">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="280" valign="top"><div class="span4">
      <div class="item-drag" style="margin-top:0">
        <div class="tit-drag"><span class="icon-drag">&nbsp;</span>INFORMAÇÕES DO PROJETO</div>
        <div class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="27%" height="24"><strong>Cliente:</strong></td>
              <td width="73%"><a href="clientes.php?acao=resumo&amp;ID={idCliente}">{nomeCliente}</a></td>
            </tr>
            <tr>
              <td height="24"><strong>Previsão de Entrega:</strong></td>
              <td>{previsaoEntrega}</td>
            </tr>
            <tr>
              <td height="24"><strong>Valor:</strong></td>
              <td>{valorProjeto}</td>
            </tr>
            <tr>
              <td height="24" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td height="24" colspan="2">{descricao}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="item-drag">
        <div class="tit-drag"><span class="icon-drag">&nbsp;</span>STATUS</div>
        <div class="content">
          <div class="statusProjeto" style="background-color:{statusProjetoColor};">
            <p class="valorStatus">{statusProjetoValor}</p>
            <p class="status">{statusProjetoTxt}</p>
          </div>
          <div style="padding-top:10px;"><strong>Recebimento:</strong></div>
          <div class="progress progress-success progress-striped">
            <div class="bar" style="width:{statusRecebimento}%; color:#E8E8E8; min-width:2%">{statusRecebimento}%</div>
          </div>
        </div>
      </div>
    </div></td>
          <td valign="top"><div class="span8" style="padding-left:20px;">
      
      <div id="tabs">
        <ul class="nav nav-tabs">
          <li id="tab1" class="tab"><a href="javascript:;">Resumo</a></li>
          <li id="tab2" class="tab"><a href="javascript:;">Tarefas</a></li>
    <!--      <li id="tab3" class="tab"><a href="javascript:;">Arquivos</a></li>-->
          <li id="tab5" class="tab"><a href="javascript:;">Faturamento</a></li>
          <li id="tab4" class="tab"><a href="javascript:;">Observações</a></li>
        </ul>
      </div>
      
      <!-- resumo-->
      
      <div id="tab1box" class="tabbox">
        
        
        <!-- BEGIN b_mostrar_registros_resumo -->
        <p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <div class="text-right">{paginacao}</div>
        {TABELA_REGISTROS_RESUMO}
        <div class="text-right">{paginacao}</div>
        <!-- END b_mostrar_registros_resumo -->
        <!-- BEGIN b_semregistro_resumo -->
        <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
        <!-- END b_semregistro_resumo -->
        
        
      </div>
      
      <!-- fim resumo-->
      
      
      <div id="tab2box" class="tabbox">
        <!-- BEGIN b_tarefas -->
        <!-- BEGIN b_mostrar_registros -->
        {TABELA_REGISTROS}
        <!-- END b_mostrar_registros -->
        <!-- BEGIN b_semregistro -->
        <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
        <!-- END b_semregistro -->
        <!-- END b_tarefas -->
      </div>
      <div id="tab3box" class="tabbox"> {CAMPOS_FORMULARIO}
        <p>&nbsp;</p>
      </div>
      <div id="tab4box" class="tabbox">
        <form id="formObs" name="formObs" method="post" action="">
          <div class="alert alert-success" id="salvaObs" style="display:none"><button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Sucesso!</h4>Observações alteradas com sucesso!</div>
          <div><textarea name="txtObs" id="txtObs" cols="60" style="height:110px" class="input-block-level" rows="5">{OBSERVACOES}</textarea>
          </div>
          <div><input type="submit" class="btn btn-block btn-primary" name="button" id="button" value="Salvar Alterações" /></div>
        </form>
      </div>
      <div id="tab5box" class="tabbox">
        <div class="row-fluid">
          <div class="alert span4 alert-warning text-center" style="height:108px">
            <h4 style="margin-bottom:25px;">Valor do Projeto</h4>
            <span class="label label-warning"> {valorProjeto}</span>
            <div style="margin-bottom:18px;">&nbsp;</div>
          </div>
          <div class="alert span4 alert-success text-center" style="height:108px">
            <h4 style="margin-bottom:10px;">Faturado</h4>
            <span class="label label-success" style="margin-bottom:10px;"> {valorFaturado}</span>
            <div><a href="clientes.php?acao=faturas&amp;ID={idCliente}&amp;PJID={ID}" class="btn btn-inverse">Ver Faturas</a> </div>
          </div>
          <div class="alert span4 alert-info text-center" style="height:108px">
            <h4 style="margin-bottom:10px;">Não Faturado</h4>
            <span class="label label-info" style="margin-bottom:10px;"> {valorNaoFaturado}</span>
            <div><a href="#faturar" role="button" class="btn btn-info{disabled}"<!-- BEGIN b_habilitaModal --> data-toggle="modal"<!-- END b_habilitaModal -->>Faturar Projeto</a></div>
          </div>
        </div>
        <!-- Button to trigger modal -->
        <!-- Modal -->
        <div id="faturar">
            <form method="post" name="formFaturar" class="form-horizontal" id="formFaturar" action="estrutura/projetos/faturar.php?projeto={ID}">
              <div class="control-group">
                <label for="txtValor" class="control-label"><strong>Faturar</strong></label>
                <div class="controls">
                  <input type="text" id="txtValor" class="campoForm" name="txtValor" value="{valorNaoFaturadoCp}">
                </div>
              </div>
              <div class="control-group">
                <label for="txtParcelas" class="control-label"><strong>Parcelas</strong></label>
                <div class="controls">
                  <input type="text" id="txtParcelas" class="campoForm" name="txtParcelas" value="1" placeholder="Número de parcelas">
                </div>
              </div>
              <div class="control-group">
                <label for="txtData" class="control-label"><strong>Primeiro Vencimento</strong></label>
                <div class="controls">
                  <input type="text" id="txtData" class="campoForm" name="txtData" value="{dataAtual}" placeholder="DD/MM/AAAA" />
                </div>
              </div>
              <div class="control-group">
                <label for="inputPassword" class="control-label"><strong>Descrição</strong></label>
                <div class="controls">
                  <div style="padding-right:20px"><textarea class="campoForm" name="txtDescricao" rows="2" id="txtDescricao" style="width:100%" placeholder="Password">{nomeProjeto}</textarea>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
          
            
            <button class="submit btn btn-primary" onclick="$('#formFaturar').submit();">Faturar</button>
          
        </div></div></div></td>
        </tr>
      </table>
    </div>
</div>  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>
<!--fim TEMA NOVO-->
<script>
$(document).ready(function(){
    
	$('#formObs').submit(function(){
		
		$.ajax({
        	type: "POST",
        	url: "estrutura/projetos/gravaObs.php?projeto={ID}",
			data: { txtObs: $('#txtObs').val() },
			success: function(result){
				if(result=='ok'){
					$('#salvaObs').css('display','block');
				}else{
					//alert('erro ao gravar');
					alert(result);
				}
			}
		});
		
		return false;
	});

	
	
	$( "input[type=submit], input[type=button]" ).button();
	
	
	
	$(".tabbox").css("display","none");
	var selectedTab;
	$(".tab").click(function(){
		var elid = $(this).attr("id");
		$(".tab").removeClass("tabselected");
		$("#"+elid).addClass("tabselected");
		if (elid != selectedTab) {
			$(".tabbox").slideUp();
			$("#"+elid+"box").slideDown();
			selectedTab = elid;
		}
		$("#tab").val(elid.substr(3));
	});

	selectedTab = "tab{selectTab}";
	$("#tab{selectTab}").addClass("tabselected");
	$("#tab{selectTab}box").css("display","block");
});

</script>