<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <li{class_ativo}><a href="javascript:void(0);" id="filtro">Procurar</a></li>
      <li{class_ativo}><a href="{modulo_nome}.php">Listar tudo</a></li>
      <li{class_ativo}><a href="{modulo_nome}.php?acao=form">Novo Projeto</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>

<div class="row">
  <div class="span12">
<!--TEMA NOVO-->
<div id="busca" style="display:{display_busca};">
<p>&nbsp;</p>
<h4 style="text-transform:uppercase">Buscar</h4>
{FORM_BUSCA}
<p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <!-- BEGIN b_mostrar_registros -->
  	<p style="text-align:center;">{reg_encontrados} <strong>{total_registros}</strong> {registros}<br />
    {mostra_de} <strong>{reg_de}</strong> {mostra_ate} <strong>{reg_ate}</strong></p>
    <div class="text-right">{paginacao}</div>
     {TABELA_REGISTROS}
	<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
</div>
</div>  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>