<script type="text/javascript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<div id="corpoLista">
<div id="menuLista">
  <p class="esq">&nbsp;</p>
  <div class="titulo">{titulo_modulo} &raquo; FATURAMENTO</div>
  <form name="form" id="form" style="margin-bottom:0">
  	  <div align="right">
  	    <select name="jumpMenu" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)">
  	      <option value="#" selected="selected">Selecione um ano</option>
          <option value="#" disabled="disabled">---</option>
          {OPTION_ANOS}
        </select>
        </div>
  	</form>
  </div>
<div style="padding:15px;">
{mensagem_retorno}
<div id="busca" style="display:{display_busca};">
<p>&nbsp;</p>
<h1>Buscar</h1>
{FORM_BUSCA}
<p>&nbsp;</p>
</div>
<p>&nbsp;</p>
  <!-- BEGIN b_mostrar_registros -->
  	
    <div class="text-right">{paginacao}</div>
    {TABELA_REGISTROS}
	<div class="text-right">{paginacao}</div>
  <!-- END b_mostrar_registros -->
  <!-- BEGIN b_semregistro -->
  <div style="height:40px; line-height:40px; text-align:center;">{sem_registros}</div>
  <!-- END b_semregistro -->
</div>
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>