<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
<div id="corpoLista">
  <div id="menuLista">
    <p class="esq">&nbsp;</p>
    <div class="titulo">{titulo_modulo_cliente}</div>
    <ul class="guias">
      <!-- BEGIN b_itemGuia -->
      <a href="{link_guia}">{text_guia}</a></li>
      <!-- END b_itemGuia -->
    </ul>
    <p class="dir">&nbsp;</p>
  </div>
  <div style="padding:15px;">
    {mensagem_retorno}
    <p>&nbsp;</p>
    <h1>#{id_ticket} {assunto}</h1>
    <p>&nbsp;</p>
    <fieldset>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="55%" valign="top"><table width="90%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td width="160" height="23" align="right" bgcolor="#F6F6F6">Remetente:&nbsp;</td>
                <td>&nbsp;{remetente}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Departamento:&nbsp;</td>
                <td>&nbsp;{departamento}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Aberto em:&nbsp;</td>
                <td>&nbsp;{data1}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Última Resposta:&nbsp;</td>
                <td>&nbsp;{data2}</td>
              </tr>
              <tr>
                <td height="23" align="right" bgcolor="#F6F6F6">Endereço IP:&nbsp;</td>
                <td>&nbsp;{endereco_ip} - <a href="http://www.geoiptool.com/en/?IP={endereco_ip}" target="_blank">Pesquisar</a> | <a href="estrutura/banimentoip/banir.php?m=ticketssuporte&ID={id_ticket}&IP={endereco_ip}">Banir</a></td>
              </tr>
            </table></td>
            <td width="45%" align="center" valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td width="160" height="23" align="right"><strong>Status:</strong>&nbsp;</td>
                <td>&nbsp;
                  <select name="txtTicketStatus" id="txtTicketStatus" class="selectForm selectTk">
                    <option value="0" class="ticketAberto"{if ({status} == 0)} selected="selected" {end if}>Aberto</option>
                    <option value="1" class="ticketRespondido"{if ({status} == 1)} selected="selected" {end if}>Respondido</option>
                    <option value="2" class="ticketRespondidoC"{if ({status} == 2)} selected="selected" {end if}>Respondido pelo cliente</option>
                    <option value="3" class="ticketProcesso"{if ({status} == 3)} selected="selected" {end if}>Em processo</option>
                    <option value="4" class="ticketFechado"{if ({status} == 4)} selected="selected" {end if}>Fechado</option>
                </select></td>
              </tr>
              <tr>
                <td height="45" align="right"><strong>Prioridade:</strong></td>
                <td>&nbsp;
<select name="txtTicketPrioridade" id="txtTicketPrioridade" class="selectForm">
  <option value="2"{if ({prioridade} == 2)} selected="selected" {end if}>Alta</option>
  <option value="1"{if ({prioridade} == 1)} selected="selected" {end if}>Media</option>
  <option value="0"{if ({prioridade} == 0)} selected="selected" {end if}>Baixa</option>
</select></td>
              </tr>
              <tr>
                <td height="23" align="right" valign="top"><strong>Assunto:&nbsp;</strong></td>
                <td rowspan="2" valign="top">&nbsp;&nbsp;{assunto}</td>
              </tr>
              <tr>
                <td height="23" align="right">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table>
    </fieldset>
    <h1>Adicionar Resposta</h1>
    <form action="estrutura/ticketssuporte/responder.php" method="post" enctype="multipart/form-data">
    <p style="padding-right:6px;">
    <textarea name="txtResposta" id="txtResposta" cols="45" rows="12" class="texareaForm" style="width:100%;">

{assinaturaTicket}</textarea>
    </p>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="115" height="45"><strong>Anexar arquivo:</strong></td>
        <td width="315"><input type="file" name="arquivo" id="arquivo" class="campoForm" style="width:300px" /></td>
        <td width="256">(.JPG, .PNG, GIF, ZIP, .TXT ou PDF)</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p style="float:left; width:50%;"><label><input name="txtResolvido" type="checkbox" value="S" /> Marcar como resolvido</label></p>
    <p style="float:right; width:49%; text-align:right"><input type="submit" name="btSalvar" id="btSalvar" value="Responder" class="submit" style="margin-right:0px !important ;"><input name="txtTicket" type="hidden" id="txtTicket" value="{id_ticket}" /></p>
    <p style="clear:both">&nbsp;</p>
    </form>
    <p>&nbsp;</p>
    
    <!-- BEGIN b_respostas -->
    <div class="respticket">
    <p class="arred">&nbsp;</p>
    <div class="bg"><p class="user">{autor_respota}</p><p class="dataresp"><strong>Enviada em</strong> {data_resposta}</p></div>
    </div>

    <div class="respostaticket">

       {mensagem_enviada}

    </div>
    <!-- BEGIN b_anexo -->
    <div style="text-align:right"><strong>Anexo: </strong><a href="estrutura/ticketssuporte/download.php?ticket={id_ticket}&resposta={idResposta}&anexo={arqAnexo}">{anexo}</a></div>
    <!-- END b_anexo -->
    <p>&nbsp;</p>
    <!-- END b_respostas -->
    
    
    
    
    

    <p>&nbsp;</p>
  </div>
  
  <div class="bendl"></div>
  <div class="bendr"></div> 
</div>