{pageHeader}
{mensagem_retorno}
<h3>TICKETS DE SUPORTE</h3>
  {TABELA_TICKETS}
  <!-- BEGIN b_ticketssemregistro -->
  <div style="min-height:60px; line-height:60px; text-align:center;">{sem_registros_tickets}</div>
  <!-- END b_ticketssemregistro -->
  <p>&nbsp;</p>
  <p class="text-center hidden-phone"><a href="ticketssuporte-novo.php" class="btn btn-primary">Abrir um novo Ticket</a> <a href="ticketssuporte.php" class="btn">Ver todos os Tickets</a></p>
  <p class="visible-phone"><a href="ticketssuporte-novo.php" class="btn btn-primary btn-block">Abrir um novo Ticket</a> <a href="ticketssuporte.php" class="btn btn-block">Ver todos os Tickets</a></p>
<p>&nbsp;</p>
<h3>FATURAS EM ABERTO</h3>
  {TABELA_FATURAS}
  <!-- BEGIN b_faturassemregistro -->
  <div style="min-height:60px; line-height:60px; text-align:center;">{sem_registros_faturas}</div>
  <!-- END b_faturassemregistro -->

<!--dominios-->
<div>&nbsp;</div>
<div class="stunning margin-auto">
  <div style="padding:0 25px;">
    <h3>CONTRATAR UM PRODUTO/SERVIÇO</h3>
    <form id="formChecar" name="form1" method="post" action="">
      <div style="padding-bottom:8px;">Para contratar um novo produto/serviço ou registrar um domínio, preencha o campo abaixo. </div>
      
        <input name="chkDominio" type="text" class="campoForm input-block-level" id="chkDominio" size="40" />
      
      <div class="text-right hidden-phone">
        <input type="button" name="chkDisp" id="chkDisp" value="Checar Disponibilidade" class="chkDisp btn btn-inverse" />
        <input type="button" name="btTransferir" id="btTransferir" value="Transferir" class="btTransferir btn" />
        <input type="button" name="btnConHosp" id="btnConHosp" value="Contratar Hospedagem" class="btnConHosp btn" />
      </div>
      <div class="visible-phone">
        <input type="button" name="chkDisp" value="Checar Disponibilidade" class="chkDisp btn btn-inverse btn-block" />
        <input type="button" name="btTransferir" value="Transferir" class="btTransferir btn btn-block" />
        <input type="button" name="btnConHosp" value="Contratar Hospedagem" class="btnConHosp btn btn-block" />
      </div>
    </form>
  </div>
</div>
<div class="stunning-shadow">&nbsp;</div>
<!--fim-->

{pageFooter}