{pageHeader}
<div class="text-right"><a href="javascript:history.go(-1);">Voltar</a></div>
{mensagem_retorno}
<!-- BEGIN b_tutorial_encontrado -->
<h3>{titulo_tutorial}</h3>
<p>-----</p>
<div>
{texto_tutorial}
</div>
<h3>Leia Também</h3>
<!-- END b_tutorial_encontrado -->
<!-- BEGIN b_tutorial -->
<p><i class="icon-file"></i> <a href="basedeconhecimento-tutorial.php?ID={id_tutorial}">{tutorial}</a></p>
<!-- END b_tutorial -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Tutorial procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
{pageFooter}