{pageHeader}
{mensagem_retorno}
<p>&nbsp;</p>
<script language="javascript" type="text/javascript">
var mostrar=0;
function mostrarSenha(){
	
	if(mostrar==0){
		$('.s1').css('display','none');
		$('.s2').css('display','inline');
		mostrar=1;
	}else{
		$('.s2').css('display','none');
		$('.s1').css('display','inline');
		mostrar=0;
	}

}
</script>
<!-- BEGIN b_servico_encontrado -->
<h3>INFORMAÇÕES</h3>
<table border="0" cellpadding="5" cellspacing="0" class="table table-striped">
      <tr>
        <td width="176"><strong>Produto/Serviço:</strong></td>
        <td width="404">{produtoServico}</td>
      </tr>
      <tr>
        <td><strong>Domínio:</strong></td>
        <td>{dominio}</td>
      </tr>
      <tr>
        <td><strong>Login:</strong></td>
        <td>{login}</td>
      </tr>
      <tr>
        <td><strong>Senha:</strong></td>
        <td><span class="s1">*******</span><span class="s2" style="display:none"><strong>{senha}</strong></span> <a href="javascript:mostrarSenha();" class="mostrar">Mostrar Senha</a></td>
  </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td>{status}</td>
      </tr>
      <tr>
        <td><strong>Data do registro:</strong></td>
        <td>{data1}</td>
      </tr>
      <tr>
        <td><strong>Ciclo de Pagamento:</strong></td>
        <td>{cicloPagamento}</td>
      </tr>
      <tr>
        <td><strong>Valor:</strong></td>
        <td>{valor}</td>
      </tr>
      <tr>
        <td><strong>Proximo Vencimento:</strong></td>
        <td>{data2}</td>
      </tr>
      <tr>
        <td><strong>Código Promocional:</strong></td>
        <td>{cupomDesconto}</td>
      </tr>
    </table>
<!-- BEGIN b_gerenciamento -->
<p>&nbsp;</p>
<div>
  <h3>GERENCIAMENTO</h3>
  <p>{BOTOES_CLIENTE_MODULO}</p>
</div>
<!-- END b_gerenciamento -->
<!-- BEGIN b_downloads -->
<p>&nbsp;</p>
<div>
  <h3>DOWNLOADS</h3>
  <table border="0" cellpadding="5" cellspacing="0" class="table table-striped">
      <!-- BEGIN b_downloads_item -->
      <tr>      	
        <td><strong>{tituloDownload}<br />
        </strong>{descricaoDownload}</td>
        <td width="140"><a href="arquivos/downloadArquivo.php?conta={contaDownload}&ID={idDownload}" class="btn">DOWNLOAD</a></td>
      </tr>
      <!-- END b_downloads_item -->
      <!-- BEGIN b_downloads_nenhum -->
      <tr>      	
        <td>Nenhum Arquivo Cadastrado</td>
      </tr>
      <!-- END b_downloads_nenhum -->
    </table>
</div>
<!-- END b_downloads -->
    {INFORMACOES_PRODUTO_MODULO}
<p>&nbsp;</p>
<!-- END b_servico_encontrado -->
<!-- BEGIN b_nao_encontrado -->
<div style="height:40px; line-height:40px; text-align:center;">Produto/Serviço procurado não foi encontrado</div>
<!-- END b_nao_encontrado -->
{pageFooter}