</div>
  </div>
    <div class="row-fluid">
      <form name="formIdioma" id="formIdioma" action="modulos/alterarIdioma.php" method="post" style="margin:15px 0 0 0; text-align:center">Idioma: 
        <select name="selecionarIdioma" id="selecionarIdioma">
          {listaIdiomas}
        </select>
      </form>
    </div>
    <!-- RODAPE-->
    <div class="row-fluid" style="height:60px">&nbsp;</div>
    <div id="rodape">&copy; 2016 {titulo} - By <a href="http://www.hostmgr.com.br" target="_blank">HostMGR</a></div>
    <!-- FIM RODAPE-->
  </div>
</div>