<div class="row-fluid">
<div class="span12 margin-auto">
  <div class="span12">
    <div class="alert alert-block{alertError}" style="margin-bottom:0 !important">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>{mensagem_resposta_tipo}</h4>
      {mensagem_resposta}
    </div>
</div>
</div>