{pageHeader}
<!-- BEGIN b_TinyMCE -->
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="editorhtml/jscripts/tiny_mce/plugins/tinybrowser/tb_tinymce.js.php"></script>
<script type="text/javascript" src="editorhtml/editor.js"></script>
<!-- END b_TinyMCE -->
    {mensagem_retorno}
    <p>&nbsp;</p>
    <div>
      <p>Seja bem vindo, preencha o formulário abaixo para realizar o seu cadastro.</p>
            <p><span class="badge badge-important obrigatorio">!</span> Campos de preenchimento obrigatorio</p>
  <p>&nbsp;</p><form id="form" name="form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
		{REGISTRAR_FORMULARIO_CADASTRO}
	</form>
{pageFooter}