<div class="control-group">
  <label class="control-label" for="txtNome">Nome Completo:</label>
  <div class="controls">
    <input obgr="sim" name="txtNome" type="text" class="campoForm" id="txtNome" value="{cliente_nome}" />
    <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Nome Completo</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Empresa:</label>
  <div class="controls">
    <input obgr="sim" name="txtEmpresa" type="text" class="campoForm" id="txtEmpresa" value="{cliente_empresa}" />
  </div>
</div>
<!-- BEGIN b_cpf_cnpj -->
<div class="control-group">
  <label class="control-label" for="txtNome">CPF/CNPJ:</label>
  <div class="controls">
    <input obgr="sim" name="txtCpf_cnpj" type="text" class="campoForm" id="txtCpf_cnpj" value="{cpf_cnpj}" />
    <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Apenas números</span></div>
</div>
<!-- END b_cpf_cnpj -->
<div class="control-group">
  <label class="control-label" for="txtNome">E-mail:</label>
  <div class="controls">
    <input obgr="sim" name="txtEmail" type="text" class="campoForm" id="txtEmail" value="{cliente_email}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">E-mail Alternativo:</label>
  <div class="controls">
    <input name="txtEmailAlternativo" type="text" class="campoForm" id="txtEmailAlternativo" value="{cliente_email_alternativo}" />
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Senha:</label>
  <div class="controls">
    <input obgr="sim" name="txtSenha" type="password" class="campoForm" id="txtSenha" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Confirmar senha:</label>
  <div class="controls">
    <input obgr="sim" name="txtSenha2" type="password" class="campoForm" id="txtSenha2" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Frase de Segurança:</label>
  <div class="controls">
    <input obgr="sim" name="txtFrase" type="text" class="campoForm" id="txtFrase" value="{frase_seguranca}" />
    <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Enviamos essa Frase em todo email que te encaminhamos, garantindo a autencicidade da mensagem enviada</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">CEP:</label>
  <div class="controls">
    <input obgr="sim" name="txtCep" type="text" class="campoForm" id="txtCep" value="{cliente_cep}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Endereço:</label>
  <div class="controls">
    <input obgr="sim" name="txtEndereco" type="text" class="campoForm" id="txtEndereco" value="{cliente_endereco}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Número:</label>
  <div class="controls">
    <input obgr="sim" name="txtNumero" type="text" class="campoForm" id="txtNumero" value="{cliente_numero}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Bairro:</label>
  <div class="controls">
    <input obgr="sim" name="txtBairro" type="text" class="campoForm" id="txtBairro" value="{cliente_bairro}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Cidade:</label>
  <div class="controls">
    <input obgr="sim" name="txtCidade" type="text" class="campoForm" id="txtCidade" value="{cliente_cidade}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Estado:</label>
  <div class="controls">
    <input obgr="sim" name="txtEstado" type="text" class="campoForm" id="txtEstado" value="{cliente_estado}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>
<div class="control-group">
  <label class="control-label" for="txtNome">Telefone:</label>
  <div class="controls">
    <input obgr="sim" name="txtTelefone" type="text" class="campoForm" id="txtTelefone" value="{cliente_telefone}" />
    <span class="badge badge-important obrigatorio help-inline">!</span></div>
</div>

<!-- BEGIN b_campoPersonalizado -->
<div class="control-group">
  <label class="control-label" for="txtNome">{cpRotulo}:</label>
  <div class="controls">
    <!-- BEGIN b_cp_textfield -->
    <input name="campo_{idCampo}" type="text" class="campoForm" id="campo_{idCampo}" value="" />
	<!-- END b_cp_textfield -->    
    
    <!-- BEGIN b_cp_textarea -->
    <textarea name="campo_{idCampo}" class="campoForm" id="campo_{idCampo}"></textarea>
	<!-- END b_cp_textarea -->
    
    <!-- BEGIN b_cp_select -->
    <select name="campo_{idCampo}" class="campoForm" id="campo_{idCampo}">{cpValores}</select>
	<!-- END b_cp_select -->
    
    <!-- BEGIN b_cp_radio -->
    <label><input type="radio" name="campo_{idCampo}" id="campo_{idCampo}_{v}" value="{valorCp}" /> {valorCp}</label>
	<!-- END b_cp_radio -->
    
    <!-- BEGIN b_cp_ajuda -->
    <span class="badge badge-important obrigatorio help-inline">!</span> <span class="help-inline">Apenas números</span>
    <!-- END b_cp_ajuda -->
  </div>
</div>
<!-- END b_campoPersonalizado -->


<!-- BEGIN b_captcha -->
  <div class="control-group">
    <label class="control-label" for="txtNome">Controle de Span:</label>
    <div class="controls">
      {captcha}
    </div>
  </div>
  <!-- END b_captcha -->
<input name="post" type="hidden" id="post" value="1" />
<div class="form-actions hidden-phone">
  <input name="txtId_cliente" type="hidden" id="txtId_cliente" value="1">
  <input type="submit" name="btSalvar" id="btSalvar" value="Cadastrar Agora" class="submit btn btn-primary">
  <input type="button" name="btCancelar" id="btCancelar" class="cancel btn" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=clientes';">
</div>
<div class="form-actions visible-phone">
  <input name="txtId_cliente" type="hidden" id="txtId_cliente" value="1">
  <input type="submit" name="btSalvar" id="btSalvar" value="Cadastrar Agora" class="submit btn btn-primary btn-block">
  <input type="button" name="btCancelar" id="btCancelar" class="cancel btn btn-block" value="Cancelar" onclick="window.location='estrutura/cancelar.php?modulo=clientes';">
</div>
<script>
  $(document).ready(function() {
	$("#form").submit(function(){
		var a=1;
		var obrigatorio="Preencha os campos corretamente";if(a!=1){
			return true;
		}else if(form.txtNome.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtEmail.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtSenha.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtSenha2.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtEndereco.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtNumero.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtBairro.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtCidade.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtEstado.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtCep.value==""){
			alert(obrigatorio);
			return false;
		}else if(form.txtSenha.value!=form.txtSenha2.value){
			alert('Senha e confirmação devem ser iguais');
			return false;
		}else if(contrato=='S'){
			if($("#txtContrato").is(':checked')) {
				return true;
			}else{
			
				alert('Você precisa aceitar os termos do contrato');
				return false;
			}
		}else{
			return true;
		}
	});
  });
</script>
